In [1]:
import os 
import pandas as pd
import numpy as np
from timeit import default_timer as timer
import matplotlib.pyplot as plt

import re
import glob

from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter
from pdfminer.converter import TextConverter
from pdfminer.layout import LAParams
from pdfminer.pdfpage import PDFPage
from io import StringIO

In [2]:
os.chdir('C:/Users/U/Documents/D3_Finance/quarterly_reports')

In [3]:
pd.options.display.max_rows = 40

In [4]:
meta_list = ['Fiscal Year', 'Quarter', 'Item Num', 'Item Name']

### CONSOLIDATED INCOME STATEMENT

In [5]:
### CONSOLIDATED INCOME STATEMENT

long_df = pd.DataFrame()
for pdf_file in glob.glob('*.pdf'): 
#for pdf_file in glob.glob('Q1FY17_Earnings_Release.pdf'): 
    #print('\n', pdf_file)
    quarter = int(pdf_file[1:2])
    fy = int(pdf_file[4:6])
    fyq = pdf_file[4:6] + 'Q' + pdf_file[1:2]
    if fy >= 10:
    #if (quarter >= 1) & (fy >= 16):
        if (quarter >= 2) & (fy >= 15):
            column_list = ['Quarterly', 'Quarterly Prev', 'Quarterly % Change', 'Cumulative', 'Cumlative Prev', 'Cumulative % Change']
        if (quarter == 1) & (fy >= 16):
            column_list = ['Quarterly', 'Quarterly Prev', 'Quarterly % Change']
        if (quarter >= 2) & (fy < 15):
            column_list = ['Quarterly', 'Quarterly Prev', 'Cumulative', 'Cumlative Prev']
        if (quarter == 1) & (fy < 16):
            column_list = ['Quarterly', 'Quarterly Prev']

        num_col = len(column_list)
        
        rsrcmgr = PDFResourceManager()
        rettxt = StringIO()
        laparams = LAParams()
        device = TextConverter(rsrcmgr, rettxt, codec='utf-8', laparams=laparams)
        interpreter = PDFPageInterpreter(rsrcmgr, device)
        
        fp = open(pdf_file, 'rb')

        for page in PDFPage.get_pages(fp, pagenos=[1], maxpages=1, password=None,caching=True, check_extractable=True):
            interpreter.process_page(page)
        t = rettxt.getvalue()
        #print('First 400 chars:\n', t[0:400])
        #print('All text contents:\n', t)
        fp.close()
        
        init=0
        t = re.split("1  CONSOLIDATED INCOME STATEMENT", t)[-1]
        
        tl = re.split('\n',t)

        nl = []
        il = []

        for i in range(len(tl)-init):
            s = tl[init+i]
            if not re.match('20[0-1]\d', s):
                if s in ['n.m.', '-', '--']:
                    n = np.NaN
                    nl.append(n)
                else:
                    swoc = s.replace(',','')
                    #rn = re.match('\((\d+)\)', swoc)
                    rn = re.match('\((\d+\.?\d*)\)$', swoc)
                    if rn:
                        n = - float(rn.group(1))
                        nl.append(n)
                    else:
                        #r = re.match('(\d+)', swoc)
                        r = re.match('(\d+\.?\d*)$', swoc)
                        if r:
                            n = float(r.group(1))
                            nl.append(n)
                        else:
                            if s in ["US$'000"
                                         ,'Three months ended'
                                         ,'Half year ended'
                                         ,'Nine months ended'
                                         ,'Financial year ended'
                                         ,'% change'
                                         ,'\+ \/ \(\-\)'
                                         ,'31 March'
                                         ,'30 June'
                                         ,'30 September'
                                         ,'Expenses:'
                                         , 'Attributable to:'
                                     , 'Loss per share for loss attributable to'
                                         , 'equity holders of the Company'] or re.search('([A-Z][A-Z][A-Z])|(.*attributable to)', s):
                                pass
                            else:
                                r = re.match('(\- )?\(?[A-Z]+', swoc)
                                #r = re.match('[A-Z]+', swoc)
                                #r = True
                                if r:
                                    il.append(s)
        
        num_num = len(nl)
        num_row = num_num / num_col
        num_row_floor = num_num // num_col
        num_items = len(il)
        
        print('# of numbers catched:', num_num)
        print('# of rows catched:', num_row)
        print('First number catched:', nl[0])
        print('# of items catched: ', num_items)
        if num_row_floor != num_items:
            print('# of number and # of items do not match!!!!!!!!!')
        for i in range(num_items):
            item = il[i]
            print(i, '\t', item)
            
            item \
            = item\
            .replace('(loss)', '').replace('(Loss) profit', 'Profit').replace('(Loss) ', '')\
            .replace('(losses)', '').replace('(Losses)', ' ')\
            .replace('loss', 'profit').replace('Loss ', 'Profit ')\
            .replace(', net', '')\
            .replace('gains', 'gain')\
            .replace('profites', 'profit').replace('profits', 'profit')
            
            item \
            = re.sub('  +', ' ', item)
            
            item = item.strip()
            
            item = item\
            .replace('Income tax credit (expense)', 'Income tax expense')\
            .replace('Income tax credit', 'Income tax expense')\
            .replace('Income tax (expense) credit', 'Income tax expense')\
            
            il[i] = item
        
        ### Correct the order different from appearance in Adobe Acrobat Reader
        if (fy == 16) & (quarter in [2]):
            nl.insert(9*num_col, nl.pop(9*num_col+2)) ## (Loss) profit before income tax
            nl.insert(10*num_col, nl.pop(10*num_col+1)) ## Income tax expense
        if (fy == 16) & (quarter in [3]):
            nl.insert(10*num_col, nl.pop(10*num_col+2)) ## (Loss) profit before income tax
            nl.insert(11*num_col, nl.pop(11*num_col+1)) ## Income tax expense
        if (fy == 17) & (quarter in [2]):
            nl.insert(10*num_col-1, nl.pop(11*num_col-1)) ## (Loss) profit before income tax

        ### Correct the sign of COGS
        if ((quarter >= 2) & (fy < 16)) | (quarter == 1) & (fy < 12):
            nl.insert(1*num_col, - nl.pop(1*num_col)) ## negate COGS   
        
        n_arr = np.array(nl)

        n_2darr = n_arr[:num_row_floor*num_col].reshape(num_row_floor,num_col)
        
        df = pd.DataFrame(n_2darr, columns = column_list)
        print('df.shape[0]:',df.shape[0])
        df.index.name = 'Item Num'
        df.reset_index(inplace=True)
        #df['Item Name'] = 'To be filled' #il[:(df.shape[0])] 
        for i in range(min(num_items, num_row_floor)):
            df.loc[i, 'Item Name'] = il[i]
        df['Fiscal Year'] = fy
        df['Quarter'] = quarter
        df.set_index(meta_list, inplace=True)
        df.reset_index(inplace=True)

        display(df)
        long_df = long_df.append(df[meta_list+['Quarterly']], ignore_index=True)

        
item_num_df = long_df.groupby('Item Name')[['Item Num']].max().reset_index()
long2_df = long_df.drop(columns=['Item Num'], inplace=False).copy()
long2_df = pd.merge(long2_df, item_num_df, how = 'left', on = 'Item Name')

long2_df['FYQ'] = long2_df[['Fiscal Year', 'Quarter']].apply(lambda x: '{0:d}Q{1:d}'.format(x[0], x[1]), axis=1)
#long2_df

long2_df.set_index(['FYQ', 'Item Num', 'Item Name'], inplace=True)
wide_df = long2_df['Quarterly'].unstack(level=[1,2])

wide_df.columns = wide_df.columns.get_level_values('Item Name') ### Flatten the multiindex columns



device.close()
rettxt.close()

# of numbers catched: 34
# of rows catched: 17.0
First number catched: 72059.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of profit (loss) of associated companies
9 	 Interest expense
10 	 Loss before income tax
11 	 Income tax expense
12 	 Net loss
13 	 Equity holders of the Company
14 	 Minority interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev
0,10,1,0,Sales,72059.00,141230.00
1,10,1,1,Cost of goods sold,-54230.00,110608.00
2,10,1,2,Gross profit,17829.00,30622.00
3,10,1,3,"Selling, general and administrative",-14803.00,-29873.00
4,10,1,4,Research and development,-14653.00,-17674.00
5,10,1,5,Total expenses,-29456.00,-47547.00
6,10,1,6,Other income,219.00,1793.00
7,10,1,7,Other gain,10522.00,-24402.00
8,10,1,8,Share of profit of associated companies,38.00,-938.00
9,10,1,9,Interest expense,-29.00,-77.00
10,10,1,10,Profit before income tax,-877.00,-40549.00
11,10,1,11,Income tax expense,-166.00,-277.00
12,10,1,12,Net profit,-1043.00,-40826.00
13,10,1,13,Equity holders of the Company,-1043.00,NaN
14,10,1,14,Minority interests,-40826.00,NaN
15,10,1,15,- Basic (US$ per share),-0.02,-0.02
16,10,1,16,- Diluted (US$ per share),-0.53,-0.53

# of numbers catched: 34
# of rows catched: 17.0
First number catched: 57227.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of profit of associated companies
9 	 Interest expense
10 	 Loss before income tax
11 	 Income tax expense
12 	 Net loss
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev
0,11,1,0,Sales,57227.00,72059.00
1,11,1,1,Cost of goods sold,-43192.00,54230.00
2,11,1,2,Gross profit,14035.00,17829.00
3,11,1,3,"Selling, general and administrative",-14172.00,-14803.00
4,11,1,4,Research and development,-16620.00,-14653.00
5,11,1,5,Total expenses,-30792.00,-29456.00
6,11,1,6,Other income,167.00,219.00
7,11,1,7,Other gain,13112.00,10522.00
8,11,1,8,Share of profit of associated companies,NaN,38.00
9,11,1,9,Interest expense,-20.00,-29.00
10,11,1,10,Profit before income tax,-3498.00,-877.00
11,11,1,11,Income tax expense,-116.00,-166.00
12,11,1,12,Net profit,-3614.00,-1043.00
13,11,1,13,Equity holders of the Company,-3618.00,4.00
14,11,1,14,Non-controlling interests,-1043.00,NaN
15,11,1,15,- Basic (US$ per share),-0.05,-0.05
16,11,1,16,- Diluted (US$ per share),-0.02,-0.02

# of numbers catched: 34
# of rows catched: 17.0
First number catched: 50356.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of losses of associated companies
9 	 Interest expense
10 	 Loss before income tax
11 	 Income tax expense
12 	 Net loss
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev
0,12,1,0,Sales,50356.00,57227.00
1,12,1,1,Cost of goods sold,-41450.00,-43192.00
2,12,1,2,Gross profit,8906.00,14035.00
3,12,1,3,"Selling, general and administrative",-13819.00,-14172.00
4,12,1,4,Research and development,-12402.00,-16620.00
5,12,1,5,Total expenses,-26221.00,-30792.00
6,12,1,6,Other income,190.00,167.00
7,12,1,7,Other gain,-11357.00,13112.00
8,12,1,8,Share of profit of associated companies,-973.00,NaN
9,12,1,9,Interest expense,-11.00,-20.00
10,12,1,10,Profit before income tax,-29466.00,-3498.00
11,12,1,11,Income tax expense,-101.00,-116.00
12,12,1,12,Net profit,-29567.00,-3614.00
13,12,1,13,Equity holders of the Company,-29603.00,36.00
14,12,1,14,Non-controlling interests,-3618.00,4.00
15,12,1,15,- Basic (US$ per share),-0.42,-0.42
16,12,1,16,- Diluted (US$ per share),-0.05,-0.05

# of numbers catched: 34
# of rows catched: 17.0
First number catched: 35736.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of losses of associated companies
9 	 Interest expense
10 	 Loss before income tax
11 	 Income tax expense
12 	 Net loss
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev
0,13,1,0,Sales,35736.00,50356.00
1,13,1,1,Cost of goods sold,-27531.00,-41450.00
2,13,1,2,Gross profit,8205.00,8906.00
3,13,1,3,"Selling, general and administrative",-9781.00,-13819.00
4,13,1,4,Research and development,-7587.00,-12402.00
5,13,1,5,Total expenses,-17368.00,-26221.00
6,13,1,6,Other income,126.00,190.00
7,13,1,7,Other gain,4859.00,-11357.00
8,13,1,8,Share of profit of associated companies,-209.00,-973.00
9,13,1,9,Interest expense,NaN,-11.00
10,13,1,10,Profit before income tax,-4387.00,-29466.00
11,13,1,11,Income tax expense,-91.00,-101.00
12,13,1,12,Net profit,-4478.00,-29567.00
13,13,1,13,Equity holders of the Company,-4455.00,-23.00
14,13,1,14,Non-controlling interests,-29603.00,36.00
15,13,1,15,- Basic (US$ per share),-0.06,-0.06
16,13,1,16,- Diluted (US$ per share),-0.42,-0.42

# of numbers catched: 32
# of rows catched: 16.0
First number catched: 30402.0
# of items catched:  16
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains, net
8 	 Share of losses of associated companies
9 	 Loss before income tax
10 	 Income tax expense
11 	 Net loss
12 	 Equity holders of the Company
13 	 Non-controlling interests
14 	 - Basic (US$ per share)
15 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev
0,14,1,0,Sales,30402.00,35736.00
1,14,1,1,Cost of goods sold,-21977.00,-27531.00
2,14,1,2,Gross profit,8425.00,8205.00
3,14,1,3,"Selling, general and administrative",-9007.00,-9781.00
4,14,1,4,Research and development,-6384.00,-7587.00
5,14,1,5,Total expenses,-15391.00,-17368.00
6,14,1,6,Other income,57.00,126.00
7,14,1,7,Other gain,1398.00,4859.00
8,14,1,8,Share of profit of associated companies,NaN,-209.00
9,14,1,9,Profit before income tax,-5511.00,-4387.00
10,14,1,10,Income tax expense,-36.00,-91.00
11,14,1,11,Net profit,-5547.00,-4478.00
12,14,1,12,Equity holders of the Company,-5540.00,-7.00
13,14,1,13,Non-controlling interests,-4455.00,-23.00
14,14,1,14,- Basic (US$ per share),-0.08,-0.08
15,14,1,15,- Diluted (US$ per share),-0.06,-0.06

# of numbers catched: 30
# of rows catched: 15.0
First number catched: 24294.0
# of items catched:  15
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other (losses) gains, net
8 	 Loss before income tax
9 	 Income tax expense
10 	 Net loss
11 	 Equity holders of the Company
12 	 Non-controlling interests
13 	 - Basic (US$ per share)
14 	 - Diluted (US$ per share)
df.shape[0]: 15

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev
0,15,1,0,Sales,24294.00,30402.00
1,15,1,1,Cost of goods sold,-17529.00,-21977.00
2,15,1,2,Gross profit,6765.00,8425.00
3,15,1,3,"Selling, general and administrative",-7886.00,-9007.00
4,15,1,4,Research and development,-5206.00,-6384.00
5,15,1,5,Total expenses,-13092.00,-15391.00
6,15,1,6,Other income,47.00,57.00
7,15,1,7,Other gain,-3563.00,1398.00
8,15,1,8,Profit before income tax,-9843.00,-5511.00
9,15,1,9,Income tax expense,-25.00,-36.00
10,15,1,10,Net profit,-9868.00,-5547.00
11,15,1,11,Equity holders of the Company,-9833.00,-35.00
12,15,1,12,Non-controlling interests,-5540.00,-7.00
13,15,1,13,- Basic (US$ per share),-0.14,-0.14
14,15,1,14,- Diluted (US$ per share),-0.08,-0.08

# of numbers catched: 48
# of rows catched: 16.0
First number catched: 22511.0
# of items catched:  16
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains
8 	 Other losses
9 	 Loss before income tax
10 	 Income tax expense
11 	 Net loss
12 	 Equity holders of the Company
13 	 Non-controlling interests
14 	 - Basic (US$ per share)
15 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change
0,16,1,0,Sales,22511.00,24294.0,-7.00
1,16,1,1,Cost of goods sold,-16749.00,-17529.0,-4.00
2,16,1,2,Gross profit,5762.00,6765.0,-15.00
3,16,1,3,"Selling, general and administrative",-11964.00,-7886.0,52.00
4,16,1,4,Research and development,-5925.00,-5206.0,14.00
5,16,1,5,Total expenses,-17889.00,-13092.0,37.00
6,16,1,6,Other income,89.00,47.0,NaN
7,16,1,7,Other gain,16.00,-1837.0,-3579.00
8,16,1,8,Other profit,NaN,NaN,NaN
9,16,1,9,Profit before income tax,-13875.00,-9843.0,41.00
10,16,1,10,Income tax expense,-38.00,-25.0,52.00
11,16,1,11,Net profit,-13913.00,-9868.0,41.00
12,16,1,12,Equity holders of the Company,-13927.00,14.0,-9833.00
13,16,1,13,Non-controlling interests,-35.00,42.0,NaN
14,16,1,14,- Basic (US$ per share),-0.20,-0.2,-0.14
15,16,1,15,- Diluted (US$ per share),-0.14,43.0,43.00

# of numbers catched: 51
# of rows catched: 17.0
First number catched: 17252.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains
8 	 Other losses
9 	 Share of loss of associated companies
10 	 Loss before income tax
11 	 Income tax expense
12 	 Net loss
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change
0,17,1,0,Sales,17252.00,22511.00,-23.0
1,17,1,1,Cost of goods sold,-12419.00,-16749.00,-26.0
2,17,1,2,Gross profit,4833.00,5762.00,-16.0
3,17,1,3,"Selling, general and administrative",-7793.00,-11964.00,-35.0
4,17,1,4,Research and development,-3430.00,-5925.00,-42.0
5,17,1,5,Total expenses,-11223.00,-17889.00,-37.0
6,17,1,6,Other income,96.00,89.00,8.0
7,17,1,7,Other gain,651.00,NaN,NaN
8,17,1,8,Other profit,-192.00,-1837.00,-90.0
9,17,1,9,Share of profit of associated companies,-326.00,NaN,NaN
10,17,1,10,Profit before income tax,-6161.00,-13875.00,-56.0
11,17,1,11,Income tax expense,-40.00,-38.00,5.0
12,17,1,12,Net profit,-6201.00,-13913.00,-55.0
13,17,1,13,Equity holders of the Company,-6211.00,10.00,-13927.0
14,17,1,14,Non-controlling interests,14.00,-55.00,-29.0
15,17,1,15,- Basic (US$ per share),-0.09,-0.09,-0.2
16,17,1,16,- Diluted (US$ per share),-0.20,-55.00,-55.0

# of numbers catched: 48
# of rows catched: 16.0
First number catched: 16107.0
# of items catched:  16
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains
8 	 Share of loss of associated companies
9 	 Profit (loss) before income tax
10 	 Income tax expense
11 	 Net profit (loss)
12 	 Equity holders of the Company
13 	 Non-controlling interests
14 	 - Basic (US$ per share)
15 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change
0,18,1,0,Sales,16107.00,17252.00,-7.00
1,18,1,1,Cost of goods sold,-11630.00,-12419.00,-6.00
2,18,1,2,Gross profit,4477.00,4833.00,-7.00
3,18,1,3,"Selling, general and administrative",-10538.00,-7793.00,35.00
4,18,1,4,Research and development,-3359.00,-3430.00,-2.00
5,18,1,5,Total expenses,-13897.00,-11223.00,24.00
6,18,1,6,Other income,227.00,96.00,136.00
7,18,1,7,Other gain,32037.00,459.00,NaN
8,18,1,8,Share of profit of associated companies,-326.00,NaN,NaN
9,18,1,9,Profit before income tax,22844.00,-6161.00,NaN
10,18,1,10,Income tax expense,-11.00,-40.00,-73.00
11,18,1,11,Net profit,22833.00,-6201.00,NaN
12,18,1,12,Equity holders of the Company,22832.00,1.00,-6211.00
13,18,1,13,Non-controlling interests,10.00,NaN,-90.00
14,18,1,14,- Basic (US$ per share),0.32,0.32,-0.09
15,18,1,15,- Diluted (US$ per share),-0.09,NaN,NaN

# of numbers catched: 67
# of rows catched: 16.75
First number catched: 80713.0
# of items catched:  17
# of number and # of items do not match!!!!!!!!!
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of loss of associated companies
9 	 Interest expense
10 	 Loss before income tax
11 	 Income tax credit (expense)
12 	 Net loss
13 	 Equity holders of the Company
14 	 Minority interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,10,2,0,Sales,80713.00,155695.00,152772.00,296925.00
1,10,2,1,Cost of goods sold,-60174.00,133368.00,114404.00,243976.00
2,10,2,2,Gross profit,20539.00,22327.00,38368.00,52949.00
3,10,2,3,"Selling, general and administrative",-16114.00,-27155.00,-30917.00,-13862.00
4,10,2,4,Research and development,-15379.00,-28515.00,-33053.00,-29976.00
5,10,2,5,Total expenses,-42534.00,-59432.00,-90081.00,155.00
6,10,2,6,Other income,1601.00,374.00,3394.00,2554.00
7,10,2,7,Other gain,-15873.00,13076.00,-40275.00,-617.00
8,10,2,8,Share of profit of associated companies,-657.00,-579.00,-1595.00,-30.00
9,10,2,9,Interest expense,-1.00,-59.00,-78.00,-7375.00
10,10,2,10,Profit before income tax,-35137.00,-8252.00,-75686.00,2118.00
11,10,2,11,Income tax expense,-351.00,1952.00,-628.00,-5257.00
12,10,2,12,Net profit,-35488.00,-6300.00,-76314.00,-5257.00
13,10,2,13,Equity holders of the Company,NaN,-35487.00,-1.00,-6300.00
14,10,2,14,Minority interests,NaN,-76313.00,-1.00,-0.08
15,10,2,15,- Basic (US$ per share),-0.08,-0.48,-0.48,-0.09

# of numbers catched: 68
# of rows catched: 17.0
First number catched: 69289.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains, net
8 	 Share of losses of associated companies
9 	 Interest expense
10 	 Loss before income tax
11 	 Income tax credit
12 	 Net loss
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,11,2,0,Sales,69289.00,80713.00,126516.00,152772.00
1,11,2,1,Cost of goods sold,-51529.00,60174.00,94721.00,114404.00
2,11,2,2,Gross profit,17760.00,20539.00,31795.00,38368.00
3,11,2,3,"Selling, general and administrative",-15988.00,-16114.00,-30160.00,-30917.00
4,11,2,4,Research and development,-15536.00,-13862.00,-32156.00,-28515.00
5,11,2,5,Total expenses,-31524.00,-29976.00,-62316.00,-59432.00
6,11,2,6,Other income,190.00,155.00,357.00,374.00
7,11,2,7,Other gain,2625.00,2554.00,15737.00,13076.00
8,11,2,8,Share of profit of associated companies,-233.00,-617.00,-233.00,-579.00
9,11,2,9,Interest expense,-21.00,-30.00,-41.00,-59.00
10,11,2,10,Profit before income tax,-11203.00,-7375.00,-14701.00,-8252.00
11,11,2,11,Income tax expense,351.00,2118.00,235.00,1952.00
12,11,2,12,Net profit,-10852.00,-5257.00,-14466.00,-6300.00
13,11,2,13,Equity holders of the Company,-10866.00,14.00,-5257.00,NaN
14,11,2,14,Non-controlling interests,-14484.00,18.00,-6300.00,NaN
15,11,2,15,- Basic (US$ per share),-0.16,-0.16,-0.08,-0.08
16,11,2,16,- Diluted (US$ per share),-0.21,-0.21,-0.09,-0.09

# of numbers catched: 68
# of rows catched: 17.0
First number catched: 59547.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other (losses) gains, net
8 	 Share of losses of associated companies
9 	 Interest expense
10 	 Loss before income tax
11 	 Income tax (expense) credit
12 	 Net loss
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,12,2,0,Sales,59547.00,69289.00,109903.00,126516.00
1,12,2,1,Cost of goods sold,-47429.00,51529.00,88879.00,94721.00
2,12,2,2,Gross profit,12118.00,17760.00,21024.00,31795.00
3,12,2,3,"Selling, general and administrative",-11779.00,-15988.00,-25598.00,-30160.00
4,12,2,4,Research and development,-9557.00,-15536.00,-21959.00,-32156.00
5,12,2,5,Total expenses,-21336.00,-31524.00,-47557.00,-62316.00
6,12,2,6,Other income,58.00,190.00,248.00,357.00
7,12,2,7,Other gain,-23621.00,2625.00,-34978.00,15737.00
8,12,2,8,Share of profit of associated companies,-996.00,-233.00,-1969.00,-233.00
9,12,2,9,Interest expense,-10.00,-21.00,-21.00,-41.00
10,12,2,10,Profit before income tax,-33787.00,-11203.00,-63253.00,-14701.00
11,12,2,11,Income tax expense,-77.00,351.00,-178.00,235.00
12,12,2,12,Net profit,-33864.00,-10852.00,-63431.00,-14466.00
13,12,2,13,Equity holders of the Company,-33855.00,-9.00,-10866.00,14.00
14,12,2,14,Non-controlling interests,-63458.00,27.00,-14484.00,18.00
15,12,2,15,- Basic (US$ per share),-0.49,-0.49,-0.16,-0.16
16,12,2,16,- Diluted (US$ per share),-0.91,-0.91,-0.21,-0.21

# of numbers catched: 68
# of rows catched: 17.0
First number catched: 65553.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of losses of associated companies
9 	 Interest expense
10 	 Profit (loss) before income tax
11 	 Income tax expense
12 	 Net profit (loss)
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,13,2,0,Sales,65553.00,59547.00,101289.00,109903.00
1,13,2,1,Cost of goods sold,-34633.00,47429.00,62164.00,88879.00
2,13,2,2,Gross profit,30920.00,12118.00,39125.00,21024.00
3,13,2,3,"Selling, general and administrative",-10377.00,-11779.00,-20158.00,-25598.00
4,13,2,4,Research and development,-8149.00,-9557.00,-15736.00,-21959.00
5,13,2,5,Total expenses,-18526.00,-21336.00,-35894.00,-47557.00
6,13,2,6,Other income,133.00,58.00,259.00,248.00
7,13,2,7,Other gain,26297.00,-23621.00,31156.00,-34978.00
8,13,2,8,Share of profit of associated companies,-643.00,-996.00,-852.00,-1969.00
9,13,2,9,Interest expense,NaN,-10.00,NaN,-21.00
10,13,2,10,Profit before income tax,38181.00,-33787.00,33794.00,-63253.00
11,13,2,11,Income tax expense,-59.00,-77.00,-150.00,-178.00
12,13,2,12,Net profit,38122.00,-33864.00,33644.00,-63431.00
13,13,2,13,Equity holders of the Company,38112.00,10.00,-33855.00,-9.00
14,13,2,14,Non-controlling interests,33656.00,-12.00,-63458.00,27.00
15,13,2,15,- Basic (US$ per share),0.54,0.54,-0.49,-0.49
16,13,2,16,- Diluted (US$ per share),0.48,0.48,-0.91,-0.91

# of numbers catched: 64
# of rows catched: 16.0
First number catched: 37789.0
# of items catched:  16
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other (losses) gains, net
8 	 Share of losses of associated companies
9 	 (Loss) profit before income tax
10 	 Income tax expense
11 	 Net (loss) profit
12 	 Equity holders of the Company
13 	 Non-controlling interests
14 	 - Basic (US$ per share)
15 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,14,2,0,Sales,37789.00,65553.00,68191.00,101289.00
1,14,2,1,Cost of goods sold,-26368.00,34633.00,48345.00,62164.00
2,14,2,2,Gross profit,11421.00,30920.00,19846.00,39125.00
3,14,2,3,"Selling, general and administrative",-8839.00,-10377.00,-17846.00,-20158.00
4,14,2,4,Research and development,-6263.00,-8149.00,-12647.00,-15736.00
5,14,2,5,Total expenses,-15102.00,-18526.00,-30493.00,-35894.00
6,14,2,6,Other income,57.00,133.00,114.00,259.00
7,14,2,7,Other gain,-442.00,26297.00,956.00,31156.00
8,14,2,8,Share of profit of associated companies,NaN,-643.00,NaN,-852.00
9,14,2,9,Profit before income tax,-4066.00,38181.00,-9577.00,33794.00
10,14,2,10,Income tax expense,-12.00,-59.00,-48.00,-150.00
11,14,2,11,Net profit,-4078.00,38122.00,-9625.00,33644.00
12,14,2,12,Equity holders of the Company,-4166.00,88.00,38112.00,10.00
13,14,2,13,Non-controlling interests,-9706.00,81.00,33656.00,-12.00
14,14,2,14,- Basic (US$ per share),-0.06,-0.06,0.54,0.54
15,14,2,15,- Diluted (US$ per share),-0.14,-0.14,0.48,0.48

# of numbers catched: 90
# of rows catched: 15.0
First number catched: 31302.0
# of items catched:  15
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other (losses) gains, net
8 	 Loss before income tax
9 	 Income tax expense
10 	 Net loss
11 	 Equity holders of the Company
12 	 Non-controlling interests
13 	 - Basic (US$ per share)
14 	 - Diluted (US$ per share)
df.shape[0]: 15

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change,Cumulative,Cumlative Prev,Cumulative % Change
0,15,2,0,Sales,31302.00,37789.00,-17.00,55596.00,68191.0,-18.0
1,15,2,1,Cost of goods sold,-22037.00,26368.00,-16.00,39566.00,48345.0,-18.0
2,15,2,2,Gross profit,9265.00,11421.00,-19.00,16030.00,19846.0,-19.0
3,15,2,3,"Selling, general and administrative",-8950.00,-8839.00,1.00,-16836.00,-17846.0,-6.0
4,15,2,4,Research and development,-4880.00,-6263.00,-22.00,-10086.00,-12647.0,-20.0
5,15,2,5,Total expenses,-13830.00,-15102.00,-8.00,-26922.00,-30493.0,-12.0
6,15,2,6,Other income,41.00,57.00,-28.00,88.00,114.0,-23.0
7,15,2,7,Other gain,-4631.00,-442.00,NaN,-8194.00,956.0,NaN
8,15,2,8,Profit before income tax,-9155.00,-4066.00,125.00,-18998.00,-9577.0,98.0
9,15,2,9,Income tax expense,-23.00,-12.00,92.00,-48.00,-48.0,NaN
10,15,2,10,Net profit,-9178.00,-4078.00,125.00,-19046.00,-9625.0,98.0
11,15,2,11,Equity holders of the Company,-9194.00,16.00,-4166.00,88.00,121.0,-82.0
12,15,2,12,Non-controlling interests,-19027.00,-19.00,-9706.00,81.00,96.0,NaN
13,15,2,13,- Basic (US$ per share),-0.13,-0.13,-0.06,-0.06,117.0,117.0
14,15,2,14,- Diluted (US$ per share),-0.27,-0.27,-0.14,-0.14,93.0,93.0

# of numbers catched: 96
# of rows catched: 16.0
First number catched: 26502.0
# of items catched:  16
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains
8 	 Other losses
9 	 Profit (loss) before income tax
10 	 Income tax expense
11 	 Net profit (loss)
12 	 Equity holders of the Company
13 	 Non-controlling interests
14 	 - Basic (US$ per share)
15 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change,Cumulative,Cumlative Prev,Cumulative % Change
0,16,2,0,Sales,26502.00,31302.00,-15.00,49013.00,55596.0,-12.0
1,16,2,1,Cost of goods sold,-19435.00,-22037.00,-12.00,-36184.00,-39566.0,-9.0
2,16,2,2,Gross profit,7067.00,9265.00,-24.00,12829.00,16030.0,-20.0
3,16,2,3,"Selling, general and administrative",-10251.00,-8950.00,15.00,-22215.00,-16836.0,32.0
4,16,2,4,Research and development,-3151.00,-4880.00,-35.00,-9076.00,-10086.0,-10.0
5,16,2,5,Total expenses,-13402.00,-13830.00,-3.00,-31291.00,-26922.0,16.0
6,16,2,6,Other income,58.00,41.00,NaN,147.00,88.0,23730.0
7,16,2,7,Other gain,416.00,NaN,23730.00,432.00,-414.0,-5047.0
8,16,2,8,Other profit,NaN,-2251.00,-8626.00,NaN,NaN,NaN
9,16,2,9,Profit before income tax,17039.00,NaN,NaN,-9155.00,NaN,3164.0
10,16,2,10,Income tax expense,-5027.00,-18998.00,-23.00,NaN,-5065.0,-48.0
11,16,2,11,Net profit,12012.00,-9178.00,NaN,-1901.00,-19046.0,-90.0
12,16,2,12,Equity holders of the Company,11969.00,43.00,-9194.00,16.00,NaN,169.0
13,16,2,13,Non-controlling interests,-1958.00,57.00,-19027.00,-19.00,-90.0,NaN
14,16,2,14,- Basic (US$ per share),0.17,0.17,-0.13,-0.13,NaN,NaN
15,16,2,15,- Diluted (US$ per share),-0.03,-0.03,-0.27,-0.27,-89.0,-89.0

# of numbers catched: 102
# of rows catched: 17.0
First number catched: 22153.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains
8 	 Other losses
9 	 Share of loss of associated companies
10 	 (Loss) profit before income tax
11 	 Income tax expense
12 	 Net (loss) profit
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change,Cumulative,Cumlative Prev,Cumulative % Change
0,17,2,0,Sales,22153.00,26502.00,-16.00,39405.00,49013.0,-20.0
1,17,2,1,Cost of goods sold,-15943.00,-19435.00,-18.00,-28362.00,-36184.0,-22.0
2,17,2,2,Gross profit,6210.00,7067.00,-12.00,11043.00,12829.0,-14.0
3,17,2,3,"Selling, general and administrative",-7506.00,-10251.00,-27.00,-15299.00,-22215.0,-31.0
4,17,2,4,Research and development,-2964.00,-3151.00,-6.00,-6394.00,-9076.0,-30.0
5,17,2,5,Total expenses,-10470.00,-13402.00,-22.00,-21693.00,-31291.0,-31.0
6,17,2,6,Other income,100.00,58.00,72.00,196.00,147.0,33.0
7,17,2,7,Other gain,703.00,23730.00,NaN,1354.00,23730.0,NaN
8,17,2,8,Other profit,-2776.00,-414.00,NaN,-2968.00,-2251.0,32.0
9,17,2,9,Share of profit of associated companies,-95.00,NaN,NaN,-421.00,NaN,NaN
10,17,2,10,Profit before income tax,-6328.00,17039.00,NaN,-12489.00,3164.0,NaN
11,17,2,11,Income tax expense,-190.00,-5027.00,-96.00,-230.00,-5065.0,-95.0
12,17,2,12,Net profit,-6518.00,12012.00,NaN,-12719.00,-1901.0,NaN
13,17,2,13,Equity holders of the Company,-6547.00,29.00,11969.00,43.00,NaN,-33.0
14,17,2,14,Non-controlling interests,-12758.00,39.00,-1958.00,57.00,NaN,-32.0
15,17,2,15,- Basic (US$ per share),-0.09,-0.09,0.17,0.17,NaN,NaN
16,17,2,16,- Diluted (US$ per share),-0.18,-0.18,-0.03,-0.03,NaN,NaN

# of numbers catched: 96
# of rows catched: 16.0
First number catched: 20856.0
# of items catched:  16
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of loss of associated companies
9 	 (Loss) profit before income tax
10 	 Income tax expense
11 	 Net (loss) profit
12 	 Equity holders of the Company
13 	 Non-controlling interests
14 	 - Basic (US$ per share)
15 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change,Cumulative,Cumlative Prev,Cumulative % Change
0,18,2,0,Sales,20856.00,22153.00,-6.00,36963.00,39405.0,-6.0
1,18,2,1,Cost of goods sold,-15009.00,-15943.00,-6.00,-26639.00,-28362.0,-6.0
2,18,2,2,Gross profit,5847.00,6210.00,-6.00,10324.00,11043.0,-7.0
3,18,2,3,"Selling, general and administrative",-7384.00,-7506.00,-2.00,-17922.00,-15299.0,17.0
4,18,2,4,Research and development,-3178.00,-2964.00,7.00,-6537.00,-6394.0,2.0
5,18,2,5,Total expenses,-10562.00,-10470.00,1.00,-24459.00,-21693.0,13.0
6,18,2,6,Other income,242.00,100.00,142.00,469.00,196.0,139.0
7,18,2,7,Other gain,266.00,-2073.00,NaN,32303.00,-1614.0,NaN
8,18,2,8,Share of profit of associated companies,NaN,-95.00,-100.00,NaN,-421.0,-100.0
9,18,2,9,Profit before income tax,-4207.00,-6328.00,-34.00,18637.00,-12489.0,NaN
10,18,2,10,Income tax expense,-21.00,-190.00,-89.00,-32.00,-230.0,-86.0
11,18,2,11,Net profit,-4228.00,-6518.00,-35.00,18605.00,-12719.0,NaN
12,18,2,12,Equity holders of the Company,-4238.00,10.00,-6547.00,29.00,-35.0,-66.0
13,18,2,13,Non-controlling interests,18594.00,11.00,-12758.00,39.00,NaN,-72.0
14,18,2,14,- Basic (US$ per share),-0.06,-0.06,-0.09,-0.09,-33.0,-33.0
15,18,2,15,- Diluted (US$ per share),0.26,0.26,-0.18,-0.18,NaN,NaN

# of numbers catched: 71
# of rows catched: 17.75
First number catched: 63291.0
# of items catched:  18
# of number and # of items do not match!!!!!!!!!
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Restructuring charges
6 	 Total expenses
7 	 Other  income
8 	 Other (losses) gains, net
9 	 Share of loss of associated companies
10 	 Interest expense
11 	 Loss before income tax
12 	 Income tax (expense) credit
13 	 Net loss
14 	 Equity holders of the Company
15 	 Minority interests
16 	 - Basic (US$ per share)
17 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,10,3,0,Sales,63291.0,83089.00,216063.00,380014.00
1,10,3,1,Cost of goods sold,-46948.0,76593.00,161352.00,320569.00
2,10,3,2,Gross profit,16343.0,6496.00,54711.00,59445.00
3,10,3,3,"Selling, general and administrative",-15310.0,-19882.00,-46227.00,-14083.00
4,10,3,4,Research and development,-14616.0,-42598.00,-47669.00,NaN
5,10,3,5,Restructuring charges,-11168.0,NaN,-11168.00,-29393.00
6,10,3,6,Total expenses,-45666.0,-88825.00,-135747.00,156.00
7,10,3,7,Other income,436.0,530.00,3830.00,-7397.00
8,10,3,8,Other gain,-8618.0,5679.00,-48893.00,-435.00
9,10,3,9,Share of profit of associated companies,-97.0,-1014.00,-1692.00,-28.00
10,10,3,10,Interest expense,-34.0,-87.00,-112.00,-20754.00
11,10,3,11,Profit before income tax,-47483.0,-29006.00,-123169.00,-16.00
12,10,3,12,Income tax expense,-115.0,1936.00,-743.00,-20770.00
13,10,3,13,Net profit,-47598.0,-27070.00,-123912.00,-20773.00
14,10,3,14,Equity holders of the Company,3.0,-47598.00,NaN,-27073.00
15,10,3,15,Minority interests,3.0,-123911.00,-1.00,-0.30
16,10,3,16,- Basic (US$ per share),-0.3,-0.68,-0.68,-0.39

# of numbers catched: 68
# of rows catched: 17.0
First number catched: 57154.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of profits (losses) of associated companies
9 	 Interest expense
10 	 Loss before income tax
11 	 Income tax (expense) credit
12 	 Net loss
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,11,3,0,Sales,57154.00,63291.00,183670.00,216063.00
1,11,3,1,Cost of goods sold,-43427.00,46948.00,138148.00,161352.00
2,11,3,2,Gross profit,13727.00,16343.00,45522.00,54711.00
3,11,3,3,"Selling, general and administrative",-16175.00,-15310.00,-46335.00,-46227.00
4,11,3,4,Research and development,-17070.00,-14083.00,-49226.00,-42598.00
5,11,3,5,Total expenses,-33245.00,-29393.00,-95561.00,-88825.00
6,11,3,6,Other income,78.00,156.00,435.00,530.00
7,11,3,7,Other gain,6667.00,-7397.00,22404.00,5679.00
8,11,3,8,Share of profit of associated companies,64.00,-435.00,-169.00,-1014.00
9,11,3,9,Interest expense,-20.00,-28.00,-61.00,-87.00
10,11,3,10,Profit before income tax,-12729.00,-20754.00,-27430.00,-29006.00
11,11,3,11,Income tax expense,-247.00,-16.00,-12.00,1936.00
12,11,3,12,Net profit,-12976.00,-20770.00,-27442.00,-27070.00
13,11,3,13,Equity holders of the Company,-13011.00,35.00,-20773.00,3.00
14,11,3,14,Non-controlling interests,-27495.00,53.00,-27073.00,3.00
15,11,3,15,- Basic (US$ per share),-0.19,-0.19,-0.30,-0.30
16,11,3,16,- Diluted (US$ per share),-0.39,-0.39,-0.39,-0.39

# of numbers catched: 68
# of rows catched: 17.0
First number catched: 44886.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of (losses) gains of associated companies
9 	 Interest expense
10 	 Loss before income tax
11 	 Income tax expense
12 	 Net loss
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,12,3,0,Sales,44886.00,57154.00,154789.00,183670.00
1,12,3,1,Cost of goods sold,-34297.00,43427.00,123176.00,138148.00
2,12,3,2,Gross profit,10589.00,13727.00,31613.00,45522.00
3,12,3,3,"Selling, general and administrative",-10849.00,-16175.00,-36447.00,-46335.00
4,12,3,4,Research and development,-9476.00,-17070.00,-31435.00,-49226.00
5,12,3,5,Total expenses,-20325.00,-33245.00,-67882.00,-95561.00
6,12,3,6,Other income,53.00,78.00,301.00,435.00
7,12,3,7,Other gain,8422.00,6667.00,-26556.00,22404.00
8,12,3,8,Share of gain of associated companies,-184.00,64.00,-2153.00,-169.00
9,12,3,9,Interest expense,-11.00,-20.00,-32.00,-61.00
10,12,3,10,Profit before income tax,-1456.00,-12729.00,-64709.00,-27430.00
11,12,3,11,Income tax expense,-27.00,-247.00,-205.00,-12.00
12,12,3,12,Net profit,-1483.00,-12976.00,-64914.00,-27442.00
13,12,3,13,Equity holders of the Company,-1575.00,92.00,-13011.00,35.00
14,12,3,14,Non-controlling interests,-65033.00,119.00,-27495.00,53.00
15,12,3,15,- Basic (US$ per share),-0.02,-0.02,-0.19,-0.19
16,12,3,16,- Diluted (US$ per share),-0.93,-0.93,-0.39,-0.39

# of numbers catched: 68
# of rows catched: 17.0
First number catched: 33831.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other (losses) gains, net
8 	 Share of losses of associated companies
9 	 Interest expense
10 	 (Loss) profit before income tax
11 	 Income tax expense
12 	 Net (loss) profit
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,13,3,0,Sales,33831.00,44886.00,135120.00,154789.00
1,13,3,1,Cost of goods sold,-25252.00,34297.00,87416.00,123176.00
2,13,3,2,Gross profit,8579.00,10589.00,47704.00,31613.00
3,13,3,3,"Selling, general and administrative",-9622.00,-10849.00,-29780.00,-36447.00
4,13,3,4,Research and development,-6330.00,-9476.00,-22066.00,-31435.00
5,13,3,5,Total expenses,-15952.00,-20325.00,-51846.00,-67882.00
6,13,3,6,Other income,69.00,53.00,328.00,301.00
7,13,3,7,Other gain,-2882.00,8422.00,28274.00,-26556.00
8,13,3,8,Share of profit of associated companies,-236.00,-184.00,-1088.00,-2153.00
9,13,3,9,Interest expense,NaN,-11.00,NaN,-32.00
10,13,3,10,Profit before income tax,-10422.00,-1456.00,23372.00,-64709.00
11,13,3,11,Income tax expense,-11.00,-27.00,-161.00,-205.00
12,13,3,12,Net profit,-10433.00,-1483.00,23211.00,-64914.00
13,13,3,13,Equity holders of the Company,-10445.00,12.00,-1575.00,92.00
14,13,3,14,Non-controlling interests,23212.00,-1.00,-65033.00,119.00
15,13,3,15,- Basic (US$ per share),-0.15,-0.15,-0.02,-0.02
16,13,3,16,- Diluted (US$ per share),0.33,0.33,-0.93,-0.93

# of numbers catched: 64
# of rows catched: 16.0
First number catched: 25093.0
# of items catched:  16
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of losses of associated companies
9 	 (Loss) profit before income tax
10 	 Income tax expense
11 	 Net (loss) profit
12 	 Equity holders of the Company
13 	 Non-controlling interests
14 	 - Basic (US$ per share)
15 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,14,3,0,Sales,25093.00,33831.00,93284.00,135120.00
1,14,3,1,Cost of goods sold,-19486.00,25252.00,67831.00,87416.00
2,14,3,2,Gross profit,5607.00,8579.00,25453.00,47704.00
3,14,3,3,"Selling, general and administrative",-8550.00,-9622.00,-26396.00,-29780.00
4,14,3,4,Research and development,-6443.00,-6330.00,-19090.00,-22066.00
5,14,3,5,Total expenses,-14993.00,-15952.00,-45486.00,-51846.00
6,14,3,6,Other income,56.00,69.00,170.00,328.00
7,14,3,7,Other gain,581.00,-2882.00,1537.00,28274.00
8,14,3,8,Share of profit of associated companies,NaN,-236.00,NaN,-1088.00
9,14,3,9,Profit before income tax,-8749.00,-10422.00,-18326.00,23372.00
10,14,3,10,Income tax expense,-9.00,-11.00,-57.00,-161.00
11,14,3,11,Net profit,-8758.00,-10433.00,-18383.00,23211.00
12,14,3,12,Equity holders of the Company,-8757.00,-1.00,-10445.00,12.00
13,14,3,13,Non-controlling interests,-18463.00,80.00,23212.00,-1.00
14,14,3,14,- Basic (US$ per share),-0.12,-0.12,-0.15,-0.15
15,14,3,15,- Diluted (US$ per share),-0.26,-0.26,0.33,0.33

# of numbers catched: 90
# of rows catched: 15.0
First number catched: 22729.0
# of items catched:  15
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other (losses) gains, net
8 	 Loss before income tax
9 	 Income tax credit (expense)
10 	 Net loss
11 	 Equity holders of the Company
12 	 Non-controlling interests
13 	 - Basic (US$ per share)
14 	 - Diluted (US$ per share)
df.shape[0]: 15

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change,Cumulative,Cumlative Prev,Cumulative % Change
0,15,3,0,Sales,22729.00,25093.00,-9.00,78325.00,93284.0,-16.0
1,15,3,1,Cost of goods sold,-16219.00,19486.00,-17.00,55785.00,67831.0,-18.0
2,15,3,2,Gross profit,6510.00,5607.00,16.00,22540.00,25453.0,-11.0
3,15,3,3,"Selling, general and administrative",-8932.00,-8550.00,4.00,-25768.00,-26396.0,-2.0
4,15,3,4,Research and development,-4721.00,-6443.00,-27.00,-14807.00,-19090.0,-22.0
5,15,3,5,Total expenses,-13653.00,-14993.00,-9.00,-40575.00,-45486.0,-11.0
6,15,3,6,Other income,90.00,56.00,61.00,178.00,170.0,5.0
7,15,3,7,Other gain,-4652.00,581.00,NaN,-12846.00,1537.0,NaN
8,15,3,8,Profit before income tax,-11705.00,-8749.00,34.00,-30703.00,-18326.0,68.0
9,15,3,9,Income tax expense,18.00,-9.00,NaN,-30.00,-57.0,-47.0
10,15,3,10,Net profit,-11687.00,-8758.00,33.00,-30733.00,-18383.0,67.0
11,15,3,11,Equity holders of the Company,-11706.00,19.00,-8757.00,-1.00,34.0,NaN
12,15,3,12,Non-controlling interests,-30733.00,NaN,-18463.00,80.00,66.0,NaN
13,15,3,13,- Basic (US$ per share),-0.17,-0.17,-0.12,-0.12,42.0,42.0
14,15,3,14,- Diluted (US$ per share),-0.44,-0.44,-0.26,-0.26,69.0,69.0

# of numbers catched: 102
# of rows catched: 17.0
First number catched: 18459.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains
8 	 Other losses
9 	 Share of loss of associated companies
10 	 Profit (loss) before income tax
11 	 Income tax (expense) credit
12 	 Net profit (loss)
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change,Cumulative,Cumlative Prev,Cumulative % Change
0,16,3,0,Sales,18459.00,22729.00,-19.00,67472.00,78325.0,-14.0
1,16,3,1,Cost of goods sold,-13224.00,-16219.00,-18.00,-49408.00,-55785.0,-11.0
2,16,3,2,Gross profit,5235.00,6510.00,-20.00,18064.00,22540.0,-20.0
3,16,3,3,"Selling, general and administrative",-8491.00,-8932.00,-5.00,-30706.00,-25768.0,19.0
4,16,3,4,Research and development,-2946.00,-4721.00,-38.00,-12022.00,-14807.0,-19.0
5,16,3,5,Total expenses,-11437.00,-13653.00,-16.00,-42728.00,-40575.0,5.0
6,16,3,6,Other income,113.00,90.00,NaN,260.00,178.0,14015.0
7,16,3,7,Other gain,1848.00,NaN,36240.00,2280.00,-322.0,-6500.0
8,16,3,8,Other profit,NaN,-1068.00,-15126.00,NaN,NaN,NaN
9,16,3,9,Share of profit of associated companies,NaN,NaN,NaN,-347.00,NaN,NaN
10,16,3,10,Profit before income tax,7257.00,-347.00,NaN,-11705.00,NaN,10421.0
11,16,3,11,Income tax expense,-3180.00,-30703.00,18.00,NaN,-8245.0,-30.0
12,16,3,12,Net profit,4077.00,-11687.00,NaN,2176.00,-30733.0,-107.0
13,16,3,13,Equity holders of the Company,4043.00,34.00,-11706.00,19.00,NaN,79.0
14,16,3,14,Non-controlling interests,2085.00,91.00,-30733.00,NaN,-107.0,NaN
15,16,3,15,- Basic (US$ per share),0.06,0.06,-0.17,-0.17,NaN,NaN
16,16,3,16,- Diluted (US$ per share),0.03,0.03,-0.44,-0.44,NaN,NaN

# of numbers catched: 96
# of rows catched: 16.0
First number catched: 16007.0
# of items catched:  16
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of loss of associated companies
9 	 (Loss) profit before income tax
10 	 Income tax expense
11 	 Net (loss) profit
12 	 Equity holders of the Company
13 	 Non-controlling interests
14 	 - Basic (US$ per share)
15 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change,Cumulative,Cumlative Prev,Cumulative % Change
0,17,3,0,Sales,16007.00,18459.00,-13.00,55412.00,67472.0,-18.0
1,17,3,1,Cost of goods sold,-11528.00,-13224.00,-13.00,-39890.00,-49408.0,-19.0
2,17,3,2,Gross profit,4479.00,5235.00,-14.00,15522.00,18064.0,-14.0
3,17,3,3,"Selling, general and administrative",-6945.00,-8491.00,-18.00,-22244.00,-30706.0,-28.0
4,17,3,4,Research and development,-2859.00,-2946.00,-3.00,-9253.00,-12022.0,-23.0
5,17,3,5,Total expenses,-9804.00,-11437.00,-14.00,-31497.00,-42728.0,-26.0
6,17,3,6,Other income,105.00,113.00,-7.00,301.00,260.0,16.0
7,17,3,7,Other gain,715.00,13693.00,-95.00,-899.00,35172.0,NaN
8,17,3,8,Share of profit of associated companies,-69.00,-347.00,-80.00,-490.00,-347.0,41.0
9,17,3,9,Profit before income tax,-4574.00,7257.00,NaN,-17063.00,10421.0,NaN
10,17,3,10,Income tax expense,-16.00,-3180.00,-99.00,-246.00,-8245.0,-97.0
11,17,3,11,Net profit,-4590.00,4077.00,NaN,-17309.00,2176.0,NaN
12,17,3,12,Equity holders of the Company,-4611.00,21.00,4043.00,34.00,NaN,-38.0
13,17,3,13,Non-controlling interests,-17369.00,60.00,2085.00,91.00,NaN,-34.0
14,17,3,14,- Basic (US$ per share),-0.07,-0.07,0.06,0.06,NaN,NaN
15,17,3,15,- Diluted (US$ per share),-0.25,-0.25,0.03,0.03,NaN,NaN

# of numbers catched: 96
# of rows catched: 16.0
First number catched: 15021.0
# of items catched:  16
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of loss of associated companies
9 	 (Loss) profit before income tax
10 	 Income tax expense
11 	 Net (loss) profit
12 	 Equity holders of the Company
13 	 Non-controlling interests
14 	 - Basic (US$ per share)
15 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change,Cumulative,Cumlative Prev,Cumulative % Change
0,18,3,0,Sales,15021.00,16007.00,-6.00,51984.00,55412.0,-6.0
1,18,3,1,Cost of goods sold,-10796.00,-11528.00,-6.00,-37435.00,-39890.0,-6.0
2,18,3,2,Gross profit,4225.00,4479.00,-6.00,14549.00,15522.0,-6.0
3,18,3,3,"Selling, general and administrative",-6355.00,-6945.00,-8.00,-24277.00,-22244.0,9.0
4,18,3,4,Research and development,-3069.00,-2859.00,7.00,-9606.00,-9253.0,4.0
5,18,3,5,Total expenses,-9424.00,-9804.00,-4.00,-33883.00,-31497.0,8.0
6,18,3,6,Other income,349.00,105.00,NaN,818.00,301.0,NaN
7,18,3,7,Other gain,NaN,1103.00,715.00,54.00,33406.0,-899.0
8,18,3,8,Share of profit of associated companies,NaN,-69.00,-100.00,NaN,-490.0,-100.0
9,18,3,9,Profit before income tax,-3747.00,-4574.00,-18.00,14890.00,-17063.0,NaN
10,18,3,10,Income tax expense,-14.00,-16.00,-13.00,-46.00,-246.0,-81.0
11,18,3,11,Net profit,-3761.00,-4590.00,-18.00,14844.00,-17309.0,NaN
12,18,3,12,Equity holders of the Company,-3756.00,-5.00,-4611.00,21.00,-19.0,NaN
13,18,3,13,Non-controlling interests,14838.00,6.00,-17369.00,60.00,NaN,-90.0
14,18,3,14,- Basic (US$ per share),-0.05,-0.05,-0.07,-0.07,-29.0,-29.0
15,18,3,15,- Diluted (US$ per share),0.21,0.21,-0.25,-0.25,NaN,NaN

# of numbers catched: 71
# of rows catched: 17.75
First number catched: 59244.0
# of items catched:  18
# of number and # of items do not match!!!!!!!!!
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Restructuring charges
6 	 Total expenses
7 	 Other  income
8 	 Other (losses) gains, net
9 	 Share of profit (loss) of associated companies
10 	 Interest expense
11 	 Loss before income tax
12 	 Income tax credit
13 	 Net loss
14 	 Equity holders of the Company
15 	 Non-controlling interests
16 	 - Basic (US$ per share)
17 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,10,4,0,Sales,59244.00,86060.0,275307.0,466074.00
1,10,4,1,Cost of goods sold,-45020.00,65159.0,206372.0,385728.00
2,10,4,2,Gross profit,14224.00,20901.0,68935.0,80346.00
3,10,4,3,"Selling, general and administrative",-13700.00,-19609.0,-59927.0,-16234.00
4,10,4,4,Research and development,-14074.00,-58832.0,-61743.0,NaN
5,10,4,5,Restructuring charges,NaN,NaN,-11168.0,-29934.00
6,10,4,6,Total expenses,-33683.00,-118759.0,-169430.0,271.00
7,10,4,7,Other income,447.00,801.0,4277.0,-2303.00
8,10,4,8,Other gain,-2058.00,3376.0,-50951.0,61.00
9,10,4,9,Share of profit of associated companies,-806.00,-953.0,-2498.0,7.00
10,10,4,10,Interest expense,-23.00,-80.0,-135.0,-17674.00
11,10,4,11,Profit before income tax,-15222.00,-46680.0,-138391.0,6353.00
12,10,4,12,Income tax expense,1258.00,8289.0,515.0,-11321.00
13,10,4,13,Net profit,-13964.00,-38391.0,-137876.0,-11723.00
14,10,4,14,Equity holders of the Company,402.00,-13962.0,-2.0,-38796.00
15,10,4,15,Non-controlling interests,405.00,-137873.0,-3.0,-0.17
16,10,4,16,- Basic (US$ per share),-0.17,-0.2,-0.2,-0.56

# of numbers catched: 68
# of rows catched: 17.0
First number catched: 47355.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of (losses) profits of associated companies
9 	 Interest expense
10 	 Loss before income tax
11 	 Income tax credit
12 	 Net loss
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,11,4,0,Sales,47355.00,59244.00,231025.00,275307.00
1,11,4,1,Cost of goods sold,-43816.00,45020.00,181964.00,206372.00
2,11,4,2,Gross profit,3539.00,14224.00,49061.00,68935.00
3,11,4,3,"Selling, general and administrative",-15188.00,-13700.00,-61523.00,-59927.00
4,11,4,4,Research and development,-17208.00,-16234.00,-66434.00,-58832.00
5,11,4,5,Total expenses,-32396.00,-29934.00,-127957.00,-118759.00
6,11,4,6,Other income,299.00,271.00,734.00,801.00
7,11,4,7,Other gain,5051.00,-2303.00,27455.00,3376.00
8,11,4,8,Share of profit of associated companies,-955.00,61.00,-1124.00,-953.00
9,11,4,9,Interest expense,-11.00,7.00,-72.00,-80.00
10,11,4,10,Profit before income tax,-24473.00,-17674.00,-51903.00,-46680.00
11,11,4,11,Income tax expense,4772.00,6353.00,4760.00,8289.00
12,11,4,12,Net profit,-19701.00,-11321.00,-47143.00,-38391.00
13,11,4,13,Equity holders of the Company,-19738.00,37.00,-11723.00,402.00
14,11,4,14,Non-controlling interests,-47233.00,90.00,-38796.00,405.00
15,11,4,15,- Basic (US$ per share),-0.28,-0.28,-0.17,-0.17
16,11,4,16,- Diluted (US$ per share),-0.68,-0.68,-0.56,-0.56

# of numbers catched: 68
# of rows catched: 17.0
First number catched: 36994.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other (losses) gains , net
8 	 Share of losses of associated companies
9 	 Interest expense
10 	 Loss before income tax
11 	 Income tax (expense) credit
12 	 Net loss
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,12,4,0,Sales,36994.00,47355.00,191783.00,231025.00
1,12,4,1,Cost of goods sold,-31761.00,43816.00,154937.00,181964.00
2,12,4,2,Gross profit,5233.00,3539.00,36846.00,49061.00
3,12,4,3,"Selling, general and administrative",-10077.00,-15188.00,-46524.00,-61523.00
4,12,4,4,Research and development,-8200.00,-17208.00,-39635.00,-66434.00
5,12,4,5,Total expenses,-18277.00,-32396.00,-86159.00,-127957.00
6,12,4,6,Other income,618.00,299.00,919.00,734.00
7,12,4,7,Other gain,-5948.00,5051.00,-32504.00,27455.00
8,12,4,8,Share of profit of associated companies,-490.00,-955.00,-2643.00,-1124.00
9,12,4,9,Interest expense,-11.00,-11.00,-43.00,-72.00
10,12,4,10,Profit before income tax,-18875.00,-24473.00,-83584.00,-51903.00
11,12,4,11,Income tax expense,-107.00,4772.00,-312.00,4760.00
12,12,4,12,Net profit,-18982.00,-19701.00,-83896.00,-47143.00
13,12,4,13,Equity holders of the Company,-18931.00,-51.00,-19738.00,37.00
14,12,4,14,Non-controlling interests,-83964.00,68.00,-47233.00,90.00
15,12,4,15,- Basic (US$ per share),-0.27,-0.27,-0.28,-0.28
16,12,4,16,- Diluted (US$ per share),-1.20,-1.20,-0.68,-0.68

# of numbers catched: 68
# of rows catched: 17.0
First number catched: 30222.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other (losses) gains, net
8 	 Share of losses of associated companies
9 	 Interest expense
10 	 (Loss) profit before income tax
11 	 Income tax credit (expense)
12 	 Net (loss) profit
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,13,4,0,Sales,30222.00,36994.00,165342.00,191783.00
1,13,4,1,Cost of goods sold,-24202.00,31761.00,111618.00,154937.00
2,13,4,2,Gross profit,6020.00,5233.00,53724.00,36846.00
3,13,4,3,"Selling, general and administrative",-8969.00,-10077.00,-38749.00,-46524.00
4,13,4,4,Research and development,-6280.00,-8200.00,-28346.00,-39635.00
5,13,4,5,Total expenses,-15249.00,-18277.00,-67095.00,-86159.00
6,13,4,6,Other income,115.00,618.00,443.00,919.00
7,13,4,7,Other gain,-97.00,-5948.00,28177.00,-32504.00
8,13,4,8,Share of profit of associated companies,NaN,-490.00,-1088.00,-2643.00
9,13,4,9,Interest expense,NaN,-11.00,NaN,-43.00
10,13,4,10,Profit before income tax,-9211.00,-18875.00,14161.00,-83584.00
11,13,4,11,Income tax expense,2662.00,-107.00,2501.00,-312.00
12,13,4,12,Net profit,-6549.00,-18982.00,16662.00,-83896.00
13,13,4,13,Equity holders of the Company,-6544.00,-5.00,-18931.00,-51.00
14,13,4,14,Non-controlling interests,16668.00,-6.00,-83964.00,68.00
15,13,4,15,- Basic (US$ per share),-0.09,-0.09,-0.27,-0.27
16,13,4,16,- Diluted (US$ per share),0.24,0.24,-1.20,-1.20

# of numbers catched: 64
# of rows catched: 16.0
First number catched: 23048.0
# of items catched:  16
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses), net
8 	 Share of losses of associated companies
9 	 (Loss) profit before income tax
10 	 Income tax credit
11 	 Net (loss) profit
12 	 Equity holders of the Company
13 	 Non-controlling interests
14 	 - Basic (US$ per share)
15 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Cumulative,Cumlative Prev
0,14,4,0,Sales,23048.00,30222.00,116332.00,165342.00
1,14,4,1,Cost of goods sold,-18419.00,24202.00,86250.00,111618.00
2,14,4,2,Gross profit,4629.00,6020.00,30082.00,53724.00
3,14,4,3,"Selling, general and administrative",-7697.00,-8969.00,-34093.00,-38749.00
4,14,4,4,Research and development,-6398.00,-6280.00,-25488.00,-28346.00
5,14,4,5,Total expenses,-14095.00,-15249.00,-59581.00,-67095.00
6,14,4,6,Other income,55.00,115.00,225.00,443.00
7,14,4,7,Other gain,1492.00,-97.00,3029.00,28177.00
8,14,4,8,Share of profit of associated companies,NaN,NaN,NaN,-1088.00
9,14,4,9,Profit before income tax,-7919.00,-9211.00,-26245.00,14161.00
10,14,4,10,Income tax expense,4530.00,2662.00,4473.00,2501.00
11,14,4,11,Net profit,-3389.00,-6549.00,-21772.00,16662.00
12,14,4,12,Equity holders of the Company,-3386.00,-3.00,-6544.00,-5.00
13,14,4,13,Non-controlling interests,-21849.00,77.00,16668.00,-6.00
14,14,4,14,- Basic (US$ per share),-0.05,-0.05,-0.09,-0.09
15,14,4,15,- Diluted (US$ per share),-0.31,-0.31,0.24,0.24

# of numbers catched: 96
# of rows catched: 16.0
First number catched: 21157.0
# of items catched:  16
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains
8 	 Other losses
9 	 Loss before income tax
10 	 Income tax credit
11 	 Net loss
12 	 Equity holders of the Company
13 	 Non-controlling interests
14 	 - Basic (US$ per share)
15 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change,Cumulative,Cumlative Prev,Cumulative % Change
0,15,4,0,Sales,21157.00,23048.00,-8.00,99482.00,116332.0,-14.0
1,15,4,1,Cost of goods sold,-15237.00,18419.00,-17.00,71022.00,86250.0,-18.0
2,15,4,2,Gross profit,5920.00,4629.00,28.00,28460.00,30082.0,-5.0
3,15,4,3,"Selling, general and administrative",-10353.00,-7697.00,35.00,-36121.00,-34093.0,6.0
4,15,4,4,Research and development,-4867.00,-6398.00,-24.00,-19674.00,-25488.0,-23.0
5,15,4,5,Total expenses,-15220.00,-14095.00,8.00,-55795.00,-59581.0,-6.0
6,15,4,6,Other income,274.00,55.00,NaN,452.00,225.0,101.0
7,15,4,7,Other gain,9097.00,2311.00,NaN,9608.00,4002.0,-3491.0
8,15,4,8,Other profit,-819.00,NaN,-16848.00,-973.00,NaN,NaN
9,15,4,9,Profit before income tax,-3420.00,-7919.00,-57.00,-34123.00,-26245.0,30.0
10,15,4,10,Income tax expense,762.00,4530.00,-83.00,732.00,4473.0,-84.0
11,15,4,11,Net profit,-2658.00,-3389.00,-22.00,-33391.00,-21772.0,53.0
12,15,4,12,Equity holders of the Company,-2667.00,9.00,-3386.00,-3.00,-21.0,NaN
13,15,4,13,Non-controlling interests,-33400.00,9.00,-21849.00,77.00,53.0,-88.0
14,15,4,14,- Basic (US$ per share),-0.04,-0.04,-0.05,-0.05,-20.0,-20.0
15,15,4,15,- Diluted (US$ per share),-0.47,-0.47,-0.31,-0.31,52.0,52.0

# of numbers catched: 102
# of rows catched: 17.0
First number catched: 17102.0
# of items catched:  17
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains
8 	 Other losses
9 	 Share of loss of associated companies
10 	 Profit (loss) before income tax
11 	 Income tax credit (expense)
12 	 Net profit (loss)
13 	 Equity holders of the Company
14 	 Non-controlling interests
15 	 - Basic (US$ per share)
16 	 - Diluted (US$ per share)
df.shape[0]: 17

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change,Cumulative,Cumlative Prev,Cumulative % Change
0,16,4,0,Sales,17102.00,21157.00,-19.00,84574.00,99482.0,-15.0
1,16,4,1,Cost of goods sold,-12197.00,-15237.00,-20.00,-61605.00,-71022.0,-13.0
2,16,4,2,Gross profit,4905.00,5920.00,-17.00,22969.00,28460.0,-19.0
3,16,4,3,"Selling, general and administrative",-6087.00,-10353.00,-41.00,-36793.00,-36121.0,2.0
4,16,4,4,Research and development,-3267.00,-4867.00,-33.00,-15289.00,-19674.0,-22.0
5,16,4,5,Total expenses,-9354.00,-15220.00,-39.00,-52082.00,-55795.0,-7.0
6,16,4,6,Other income,94.00,274.00,-66.00,354.00,452.0,-22.0
7,16,4,7,Other gain,5298.00,9097.00,-42.00,41538.00,9608.0,332.0
8,16,4,8,Other profit,-302.00,-3491.00,-91.00,-1370.00,-16848.0,-92.0
9,16,4,9,Share of profit of associated companies,-377.00,NaN,NaN,-724.00,NaN,NaN
10,16,4,10,Profit before income tax,264.00,-3420.00,108.00,10685.00,-34123.0,131.0
11,16,4,11,Income tax expense,272.00,762.00,-64.00,-7973.00,732.0,NaN
12,16,4,12,Net profit,536.00,-2658.00,120.00,2712.00,-33391.0,108.0
13,16,4,13,Equity holders of the Company,535.00,1.00,-2667.00,9.00,120.0,-89.0
14,16,4,14,Non-controlling interests,2620.00,92.00,-33400.00,9.00,108.0,NaN
15,16,4,15,- Basic (US$ per share),0.01,0.01,-0.04,-0.04,NaN,NaN
16,16,4,16,- Diluted (US$ per share),0.04,0.04,-0.47,-0.47,NaN,NaN

# of numbers catched: 96
# of rows catched: 16.0
First number catched: 14483.0
# of items catched:  16
0 	 Sales, net
1 	 Cost of goods sold
2 	 Gross profit
3 	 Selling, general and administrative
4 	 Research and development
5 	 Total expenses
6 	 Other  income
7 	 Other gains (losses)
8 	 Share of gain (loss) of associated companies
9 	 (Loss) profit before income tax
10 	 Income tax credit (expense)
11 	 Net (loss) profit
12 	 Equity holders of the Company
13 	 Non-controlling interests
14 	 - Basic (US$ per share)
15 	 - Diluted (US$ per share)
df.shape[0]: 16

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Quarterly % Change,Cumulative,Cumlative Prev,Cumulative % Change
0,17,4,0,Sales,14483.00,17102.00,-15.00,69895.00,84574.0,-17.0
1,17,4,1,Cost of goods sold,-10410.00,-12197.00,-15.00,-50300.00,-61605.0,-18.0
2,17,4,2,Gross profit,4073.00,4905.00,-17.00,19595.00,22969.0,-15.0
3,17,4,3,"Selling, general and administrative",-8160.00,-6087.00,34.00,-30404.00,-36793.0,-17.0
4,17,4,4,Research and development,-2878.00,-3267.00,-12.00,-12131.00,-15289.0,-21.0
5,17,4,5,Total expenses,-11038.00,-9354.00,18.00,-42535.00,-52082.0,-18.0
6,17,4,6,Other income,129.00,94.00,37.00,430.00,354.0,21.0
7,17,4,7,Other gain,874.00,4996.00,-83.00,-25.00,40168.0,NaN
8,17,4,8,Share of gain of associated companies,164.00,-377.00,NaN,-326.00,-724.0,-55.0
9,17,4,9,Profit before income tax,-5798.00,264.00,NaN,-22861.00,10685.0,NaN
10,17,4,10,Income tax expense,234.00,272.00,-14.00,-12.00,-7973.0,-100.0
11,17,4,11,Net profit,-5564.00,536.00,NaN,-22873.00,2712.0,NaN
12,17,4,12,Equity holders of the Company,-5537.00,-27.00,535.00,1.00,NaN,NaN
13,17,4,13,Non-controlling interests,-22906.00,33.00,2620.00,92.00,NaN,-64.0
14,17,4,14,- Basic (US$ per share),-0.08,-0.08,0.01,0.01,NaN,NaN
15,17,4,15,- Diluted (US$ per share),-0.33,-0.33,0.04,0.04,NaN,NaN

In [6]:
wide_df['Interest expense'].fillna(value=0, inplace=True)
wide_df['EBIT'] = wide_df[['Interest expense', 'Profit before income tax']].apply(lambda x: (x[1] - x[0]), axis=1)
### Calculate ratios
wide_df['Gross profit margin'] = wide_df[['Sales', 'Gross profit']].apply(lambda x: (x[1] / x[0]), axis=1)
wide_df['EBIT margin'] = wide_df[['Sales', 'EBIT']].apply(lambda x: (x[1] / x[0]), axis=1)
wide_df['Profit before income tax margin']\
= wide_df[['Sales', 'Profit before income tax']].apply(lambda x: (x[1] / x[0]), axis=1)
wide_df['Net profit margin'] = wide_df[['Sales', 'Net profit']].apply(lambda x: (x[1] / x[0]), axis=1)
#wide_df['Operating cash flow'] = wide_df[['Gross profit', 'Income tax expense']].apply(lambda x: (x[0] + x[1]), axis=1)
wide_df['Reciprocal of times interest earned']\
= wide_df[['Interest expense', 'EBIT']].apply(lambda x: ( - x[0] / x[1]), axis=1)
wide_df['Reciprocal of cash coverage']\
= wide_df[['Gross profit', 'Selling, general and administrative', 'Interest expense']].apply(lambda x: (x[2] / (x[0] + x[1])), axis=1)

### Just for checking the calculation is correct
wide_df['Gross profit 0 check']\
= wide_df[['Sales', 'Cost of goods sold', 'Gross profit']].apply(lambda x: (x[0] + x[1] - x[2]), axis=1)
wide_df['Net profit 0 check']\
= wide_df[['Profit before income tax', 'Income tax expense', 'Net profit']].apply(lambda x: (x[0] + x[1] - x[2]), axis=1)

wide_df['Fiscal Year'] = wide_df.index.str[0:2]
wide_df.loc[:,'Quarter'] = wide_df.index.str[3:4]

wide_df.to_csv('IS.csv')

IS_ratios_df = wide_df[['Fiscal Year', 'Quarter', 'Sales', 'Cost of goods sold', 'Gross profit', 'Total expenses', 'EBIT', 'Profit before income tax', 'Income tax expense', 'Net profit'
                    , 'Gross profit margin', 'EBIT margin', 'Profit before income tax margin', 'Net profit margin', 'Reciprocal of times interest earned', 'Reciprocal of cash coverage']]
IS_ratios_df.to_csv('IS_Ratios.csv')

### BALANCE SHEETS

In [7]:
def swap_elements_in_list(target_list, i_insert, i_start, i_end):
    r = target_list[i_start:i_end]
    target_list[i_start:i_end] = []
    target_list[i_insert:i_insert] = r
    return target_list

In [8]:
### BALANCE SHEETS

long_df = pd.DataFrame()
for pdf_file in glob.glob('*.pdf'): 
#for pdf_file in glob.glob('Q4FY10_Earnings_Release.pdf'): 
    print('\n', pdf_file)
    quarter = int(pdf_file[1:2])
    fy = int(pdf_file[4:6])
    fyq = pdf_file[4:6] + 'Q' + pdf_file[1:2]
    if fy >= 10:
        column_list = ['Quarterly', 'Quarterly Prev', 'Company', 'Company Prev']
        num_col = len(column_list)
        
        rsrcmgr = PDFResourceManager()
        rettxt = StringIO()
        laparams = LAParams()
        device = TextConverter(rsrcmgr, rettxt, codec='utf-8', laparams=laparams)
        interpreter = PDFPageInterpreter(rsrcmgr, device)
        
        fp = open(pdf_file, 'rb')
        if (fy in [10, 11, 12, 13]) & (quarter == 4):
            pageno = 4
        else:
            pageno = 3
        for page in PDFPage.get_pages(fp, pagenos=[pageno], maxpages=1, password=None,caching=True, check_extractable=True):
            interpreter.process_page(page)
        t = rettxt.getvalue()
        #print('All text contents:\n', t)
        fp.close()
        
        init=0
        t = re.split("3 BALANCE SHEETS", t)[-1]
        
        tl = re.split('\n',t)

        nl = []
        il = []

        for i in range(len(tl)-init):
            s = tl[init+i]
            if not re.match('20[0-1]\d', s):
                if s in ['n.m.']:
                    n = np.NaN
                    nl.append(n)
                    continue
                if s in ['-', '--']:
                    n = 0
                    nl.append(n)
                    continue
                s = s.strip()
                swoc = s.replace(',','')
                #rn = re.match('\((\d+)\)', swoc)
                rn = re.match('\((\d+\.?\d*)\)$', swoc)
                if rn:
                    n = - float(rn.group(1))
                    nl.append(n)
                else:
                    #r = re.match('(\d+)', swoc)
                    r = re.match('(\d+\.?\d*)$', swoc)
                    if r:
                        n = float(r.group(1))
                        nl.append(n)
                    else:
                        if s in ['Group', 'GROUP'
                                 ,'Company', 'COMPANY'
                                 , "US$'000"
                                 ,'Three months ended'
                                 ,'Half year ended'
                                 ,'Nine months ended'
                                 ,'Financial year ended'
                                 ,'31 March'
                                 ,'30 June'
                                 ,'30 September'
                                 ,'ASSETS'
                                 ,'LIABILITIES'
                                 , 'LIABILITIES AND EQUITY'
                                 ,'EQUITY'] :
                            pass
                        else: 
                            r = re.match('([A-Za-z \-]*:)', swoc)
                            if r:
                                cat = r.group(1)
                            if s in ['Amounts due from subsidiaries', 'Amounts due to subsidiaries']:
                                il.append(cat+' '+s)
                                continue
                            if s == 'Current assets:':
                                continue
                            if s == 'Non-current assets:':
                                il.append('Current assets')
                                continue
                            if s == 'Financial assets, available-for-sale':
                                il.append('Available-for-sale financial assets')
                                continue
                            if s == 'Total assets':
                                il.append('Non-current assets')
                                il.append(s)
                                continue
                            if s == 'Current liabilities:':
                                continue
                            if s == 'Non-current liabilities:':
                                il.append('Current liabilities')
                                continue
                            if s == 'Total liabilities':
                                il.append('Non-current liabilities')
                                il.append(s)
                                continue  
                            if s == 'NET ASSETS':
                                il.append('Total equity')
                                continue
                            if s == 'Equity:':
                                continue                                
                            if s in ['Non-controlling interests', 'Minority interests']:
                                il.append('Equity excluding non-controlling interests')
                                il.append('Non-controlling interests')
                                continue
                            if s == 'Total equity':
                                if 'Total equity' in il:
                                    il.append('Total equity_')
                                else:
                                    il.append(s)
                                continue
                            if s == 'Total liabilities and equity':
                                il.append(s)
                                continue
                            r = re.match('(\- )?\(?[A-Z]+', swoc)
                            if r:
                                il.append(s)
        
        if (fy == 18) & (quarter == 1):
            ## correct missing '-'
            nl.insert(nl.index(27478), 0) 
        
        if (fyq in ['14Q1', '14Q3', '14Q4'
                    , '15Q1'
                    , '16Q2', '16Q3', '16Q4']):
            ## Correct order of Non-current assets
            nl = swap_elements_in_list(nl
            , il.index('Current assets')*4 - (il.index('Non-current assets') - il.index('Current assets')) * 2
            , il.index('Current assets')*4
            , il.index('Current assets')*4 + (il.index('Current assets') - (-1)) * 2)
        
        if fyq in ['10Q4', '11Q1']:
            ## correct irregular non-currrent assets
            nl = swap_elements_in_list(nl, 12, 28, 34) 
            nl = swap_elements_in_list(nl, 18, 42, 48)
            
        
        if (fyq in ['11Q4', '12Q1', '12Q2', '12Q3']) or (fy in [13, 14, 15, 16, 17]):
            ## Correct order of Non-current liabilities
            nl = swap_elements_in_list(nl
            , il.index('Current liabilities')*4 - (il.index('Non-current liabilities') - il.index('Current liabilities')) * 2
            , il.index('Current liabilities')*4
            , il.index('Current liabilities')*4 + (il.index('Current liabilities') - il.index('Total assets')) * 2)
        
        if fyq == '10Q4':
            nl = swap_elements_in_list(nl, 82, 91, 97) ## correct irregular non-currrent liabilities
            
        if fyq in ['10Q3', '10Q4']:
            ## correct order by swapping irregular Trade payable and Current portion of long term obligations
            nl[64], nl[68] = nl[68], nl[64]        

        print('\nnl:\n')
        for i in range(len(nl)):
            print(i, nl[i])
            
        n_arr = np.array(nl)
                                         
        num_num = len(nl)
        num_row = num_num / num_col
        num_row_floor = num_num // num_col
        num_items = len(il)
        
        print('# of numbers catched:', num_num)
        print('# of rows catched:', num_row)
        print('First number catched:', nl[0])
        print('# of items catched: ', num_items)
        if num_row_floor != num_items:
            print('# of number and # of items do not match!!!!!!!!!')
        for i in range(num_items):
            item = il[i]
            print(i, '\t', item)

            il[i] = item
        
        #print(il)
               
        cat_item_list = \
        ['Current assets'
         , 'Non-current assets'
         , 'Total assets'
         , 'Current liabilities'
         , 'Non-current liabilities'
         , 'Total liabilities'
         , 'Total equity'
         , 'Total equity_'
         , 'Total liabilities and equity']
        
        if (fyq in ['10Q1', '10Q2','10Q3', '13Q3', '13Q4', '14Q2', '15Q2', '15Q3', '15Q4', '16Q1']):
            cat_item_list.pop(0)
        print('cat_item_list:', cat_item_list)
        
        #cat_index_list = [(il.index(item) + 1)*num_col for item in cat_item_list]
        cat_index_list  = []
        for item in cat_item_list:
            if item in il:
                cat_index_list.append((il.index(item) + 1)*num_col)
        print('cat_index_list:', cat_index_list )

        for i in range(len(cat_index_list)):  
            if i == 0:
                ci_prev = 0
            ci = cat_index_list[i]
            n_sub_arr = n_arr[ci_prev:ci] #nl_sub = nl[ci_prev:ci]          
            #print('\nnl_sub: \n', nl_sub)
            ci_prev = ci
            
            num_sub = len(n_sub_arr) #num_sub = len(nl_sub)
            ##n_sub_arr = np.array(nl_sub)
            n_sub_2darr = n_sub_arr[0:(num_col * (num_sub // num_col))].reshape(num_col, (num_sub // num_col))
            #print('\nn_sub_2darr: \n', n_sub_2darr)
            n_sub_t_2darr = n_sub_2darr.transpose()
            #print('\nn_sub_t_2darr: \n', n_sub_t_2darr)
            n_sub_1darr = n_sub_t_2darr.reshape((num_col * (num_sub // num_col)))
            n_sub_s_2darr = n_sub_1darr.reshape((num_sub // num_col), num_col)
            print('\niteration', i, ': n_sub_s_2darr \n', n_sub_s_2darr)
            if i == 0:
                n_2darr = n_sub_s_2darr
            else:
                n_2darr = np.vstack([n_2darr, n_sub_s_2darr])

        if fy == 13:
            n_2darr[[2,3]] = n_2darr[[3,2]] ### correct Inventories 

        if fyq == '12Q4':
            n_2darr[12, 0], n_2darr[13, 0] = n_2darr[13, 0], n_2darr[12, 0]
            nl.insert(12*4, nl.pop(13*4)) ### Swap Property and equipment with Intangible assets
      
        df = pd.DataFrame(n_2darr, columns = column_list)
        print('\ndf.shape[0]:',df.shape[0])
        df.index.name = 'Item Num'
        df.reset_index(inplace=True)
        #df['Item Name'] = 'To be filled' #il[:(df.shape[0])] 
        for i in range(min(num_items, num_row_floor)):
            df.loc[i, 'Item Name'] = il[i]
        df['Fiscal Year'] = fy
        df['Quarter'] = quarter
        df.set_index(meta_list, inplace=True)
        df.reset_index(inplace=True)

        display(df)
        long_df = long_df.append(df[meta_list+['Quarterly']], ignore_index=True)
        
item_num_df = long_df.groupby('Item Name')[['Item Num']].max().reset_index()
long2_df = long_df.drop(columns=['Item Num'], inplace=False).copy()
long2_df = pd.merge(long2_df, item_num_df, how = 'left', on = 'Item Name')

long2_df['FYQ'] = long2_df[['Fiscal Year', 'Quarter']].apply(lambda x: '{0:d}Q{1:d}'.format(x[0], x[1]), axis=1)
#long2_df

long2_df.set_index(['FYQ', 'Item Num', 'Item Name'], inplace=True)
print('\nExtracted data in long (stacked) format:')
display(long2_df)
print('\nDuplicated: ')
dup_df = long2_df[long2_df.index.duplicated(keep=False)]
display(dup_df.reset_index()['FYQ'].unique())

wide_df = long2_df['Quarterly'].unstack(level=[1,2])

wide_df.columns = wide_df.columns.get_level_values('Item Name') ### Flatten the multiindex columns

device.close()
rettxt.close()

 Q1FY07_Earnings_Release.pdf

 Q1FY08_Earnings_Release.pdf

 Q1FY09_Earnings_Release.pdf

 Q1FY10_Earnings_Release.pdf

nl:

0 253066.0
1 40247.0
2 0
3 40702.0
4 20571.0
5 354586.0
6 31609.0
7 1296.0
8 0
9 0
10 0
11 33341.0
12 6628.0
13 29578.0
14 102452.0
15 250551.0
16 42365.0
17 0
18 37600.0
19 21448.0
20 351964.0
21 1372.0
22 27753.0
23 977.0
24 0
25 0
26 33944.0
27 6719.0
28 31693.0
29 102458.0
30 229365.0
31 4651.0
32 25294.0
33 22302.0
34 4435.0
35 286047.0
36 218472.0
37 6017.0
38 43379.0
39 18104.0
40 4934.0
41 290906.0
42 188988.0
43 0
44 0
45 0
46 0
47 818.0
48 237279.0
49 45390.0
50 2083.0
51 186395.0
52 0
53 0
54 0
55 0
56 768.0
57 234613.0
58 45390.0
59 2060.0
60 457038.0
61 454422.0
62 523326.0
63 525519.0
64 32635.0
65 0
66 67184.0
67 2185.0
68 9.0
69 102013.0
70 30296.0
71 0
72 70014.0
73 2203.0
74 10.0
75 102523.0
76 18046.0
77 16169.0
78 29356.0
79 2000.0
80 8.0
81 65579.0
82 18608.0
83 17174.0
84 28852.0
85 2000.0
86 10.0
87 66644.0
88 0
89 29510.0
90 29510.0
91 0
92 29510.0
93 29510.0
94 20515.0
95 13800.0
96 34315.0
97 20526.0
98 13800.0
99 34326.0
100 131523.0
101 132033.0
102 99894.0
103 100970.0
104 266753.0
105 -21475.0
106 11083.0
107 60749.0
108 8029.0
109 325139.0
110 376.0
111 325515.0
112 266753.0
113 -21475.0
114 7151.0
115 60512.0
116 9072.0
117 322013.0
118 376.0
119 322389.0
120 266753.0
121 -21475.0
122 0
123 0
124 33286.0
125 144868.0
126 423432.0
127 423432.0
128 266753.0
129 -21475.0
130 0
131 0
132 33049.0
133 146222.0
134 424549.0
135 424549.0
136 457038.0
137 454422.0
138 523326.0
139 525519.0
140 4.0
# of numbers catched: 141
# of rows catched: 35.25
First number catched: 253066.0
# of items catched:  35
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Other non-current receivables
8 	 Non-current assets: Amounts due from subsidiaries
9 	 Investments in associated companies
10 	 Investments in subsidiaries
11 	 Property and equipment
12 	 Intangible assets
13 	 Other non-current assets
14 	 Non-current assets
15 	 Total assets
16 	 Trade payables
17 	 Current liabilities: Amounts due to subsidiaries
18 	 Accrued liabilities and provisions
19 	 Current income tax liabilities
20 	 Current portion of long term obligations
21 	 Current liabilities
22 	 Non-current liabilities: Amounts due to subsidiaries
23 	 Deferred income tax liabilities
24 	 Non-current liabilities
25 	 Total liabilities
26 	 Share capital
27 	 Treasury shares
28 	 Fair value reserve
29 	 Other reserves
30 	 Retained earnings
31 	 Equity excluding non-controlling interests
32 	 Non-controlling interests
33 	 Total equity
34 	 Total liabilities and equity
cat_item_list: ['Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [60, 64, 88, 100, 104, 136, 140]

iteration 0 : n_sub_s_2darr
 [[ 253066.  250551.  229365.       0.]
 [  40247.   42365.    4651.       0.]
 [      0.       0.   25294.     818.]
 [  40702.   37600.   22302.  237279.]
 [  20571.   21448.    4435.   45390.]
 [ 354586.  351964.  286047.    2083.]
 [  31609.    1372.  218472.  186395.]
 [   1296.   27753.    6017.       0.]
 [      0.     977.   43379.       0.]
 [      0.       0.   18104.       0.]
 [      0.       0.    4934.       0.]
 [  33341.   33944.  290906.     768.]
 [   6628.    6719.  188988.  234613.]
 [  29578.   31693.       0.   45390.]
 [ 102452.  102458.       0.    2060.]]

iteration 1 : n_sub_s_2darr
 [[ 457038.  454422.  523326.  525519.]]

iteration 2 : n_sub_s_2darr
 [[  3.26350000e+04   3.02960000e+04   1.80460000e+04   1.86080000e+04]
 [  0.00000000e+00   0.00000000e+00   1.61690000e+04   1.71740000e+04]
 [  6.71840000e+04   7.00140000e+04   2.93560000e+04   2.88520000e+04]
 [  2.18500000e+03   2.20300000e+03   2.00000000e+03   2.00000000e+03]
 [  9.00000000e+00   1.00000000e+01   8.00000000e+00   1.00000000e+01]
 [  1.02013000e+05   1.02523000e+05   6.55790000e+04   6.66440000e+04]]

iteration 3 : n_sub_s_2darr
 [[     0.      0.  20515.  20526.]
 [ 29510.  29510.  13800.  13800.]
 [ 29510.  29510.  34315.  34326.]]

iteration 4 : n_sub_s_2darr
 [[ 131523.  132033.   99894.  100970.]]

iteration 5 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -2.14750000e+04  -2.14750000e+04  -2.14750000e+04  -2.14750000e+04]
 [  1.10830000e+04   7.15100000e+03   0.00000000e+00   0.00000000e+00]
 [  6.07490000e+04   6.05120000e+04   0.00000000e+00   0.00000000e+00]
 [  8.02900000e+03   9.07200000e+03   3.32860000e+04   3.30490000e+04]
 [  3.25139000e+05   3.22013000e+05   1.44868000e+05   1.46222000e+05]
 [  3.76000000e+02   3.76000000e+02   4.23432000e+05   4.24549000e+05]
 [  3.25515000e+05   3.22389000e+05   4.23432000e+05   4.24549000e+05]]

iteration 6 : n_sub_s_2darr
 [[ 457038.  454422.  523326.  525519.]]

df.shape[0]: 35

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,10,1,0,Cash and cash equivalents,253066.0,250551.0,229365.0,0.0
1,10,1,1,Trade receivables,40247.0,42365.0,4651.0,0.0
2,10,1,2,Current assets: Amounts due from subsidiaries,0.0,0.0,25294.0,818.0
3,10,1,3,Inventories,40702.0,37600.0,22302.0,237279.0
4,10,1,4,Other current assets,20571.0,21448.0,4435.0,45390.0
5,10,1,5,Current assets,354586.0,351964.0,286047.0,2083.0
6,10,1,6,Available-for-sale financial assets,31609.0,1372.0,218472.0,186395.0
7,10,1,7,Other non-current receivables,1296.0,27753.0,6017.0,0.0
8,10,1,8,Non-current assets: Amounts due from subsidiaries,0.0,977.0,43379.0,0.0
9,10,1,9,Investments in associated companies,0.0,0.0,18104.0,0.0
10,10,1,10,Investments in subsidiaries,0.0,0.0,4934.0,0.0
11,10,1,11,Property and equipment,33341.0,33944.0,290906.0,768.0
12,10,1,12,Intangible assets,6628.0,6719.0,188988.0,234613.0
13,10,1,13,Other non-current assets,29578.0,31693.0,0.0,45390.0
14,10,1,14,Non-current assets,102452.0,102458.0,0.0,2060.0
15,10,1,15,Total assets,457038.0,454422.0,523326.0,525519.0
16,10,1,16,Trade payables,32635.0,30296.0,18046.0,18608.0
17,10,1,17,Current liabilities: Amounts due to subsidiaries,0.0,0.0,16169.0,17174.0
18,10,1,18,Accrued liabilities and provisions,67184.0,70014.0,29356.0,28852.0
19,10,1,19,Current income tax liabilities,2185.0,2203.0,2000.0,2000.0
20,10,1,20,Current portion of long term obligations,9.0,10.0,8.0,10.0
21,10,1,21,Current liabilities,102013.0,102523.0,65579.0,66644.0
22,10,1,22,Non-current liabilities: Amounts due to subsid...,0.0,0.0,20515.0,20526.0
23,10,1,23,Deferred income tax liabilities,29510.0,29510.0,13800.0,13800.0
24,10,1,24,Non-current liabilities,29510.0,29510.0,34315.0,34326.0
25,10,1,25,Total liabilities,131523.0,132033.0,99894.0,100970.0
26,10,1,26,Share capital,266753.0,266753.0,266753.0,266753.0
27,10,1,27,Treasury shares,-21475.0,-21475.0,-21475.0,-21475.0
28,10,1,28,Fair value reserve,11083.0,7151.0,0.0,0.0
29,10,1,29,Other reserves,60749.0,60512.0,0.0,0.0
30,10,1,30,Retained earnings,8029.0,9072.0,33286.0,33049.0
31,10,1,31,Equity excluding non-controlling interests,325139.0,322013.0,144868.0,146222.0
32,10,1,32,Non-controlling interests,376.0,376.0,423432.0,424549.0
33,10,1,33,Total equity,325515.0,322389.0,423432.0,424549.0
34,10,1,34,Total liabilities and equity,457038.0,454422.0,523326.0,525519.0

 Q1FY11_Earnings_Release.pdf

nl:

0 200965.0
1 32286.0
2 0
3 45650.0
4 25207.0
5 304108.0
6 214025.0
7 28999.0
8 0
9 46120.0
10 20990.0
11 310134.0
12 178537.0
13 3579.0
14 43100.0
15 24506.0
16 4649.0
17 254371.0
18 197803.0
19 4355.0
20 28880.0
21 25502.0
22 4306.0
23 260846.0
24 39174.0
25 582.0
26 0
27 0
28 27994.0
29 6214.0
30 20618.0
31 94582.0
32 33895.0
33 582.0
34 0
35 0
36 29411.0
37 6324.0
38 22205.0
39 92417.0
40 186162.0
41 45390.0
42 1233.0
43 0
44 0
45 0
46 953.0
47 233738.0
48 184282.0
49 45390.0
50 1394.0
51 0
52 0
53 0
54 998.0
55 232064.0
56 398690.0
57 402551.0
58 488109.0
59 492910.0
60 19815.0
61 0
62 63208.0
63 2233.0
64 85256.0
65 24089.0
66 0
67 65249.0
68 2235.0
69 91573.0
70 13525.0
71 25587.0
72 29765.0
73 1951.0
74 70828.0
75 18218.0
76 23238.0
77 30777.0
78 1951.0
79 74184.0
80 0
81 21202.0
82 21202.0
83 0
84 21202.0
85 21202.0
86 21047.0
87 0
88 21047.0
89 21044.0
90 0
91 21044.0
92 106458.0
93 112775.0
94 91875.0
95 95228.0
96 292232.0
97 289776.0
98 396234.0
99 397682.0
100 266753.0
101 -19122.0
102 0
103 0
104 34821.0
105 115230.0
106 397682.0
107 397682.0
108 266753.0
109 -19122.0
110 0
111 0
112 35727.0
113 112876.0
114 396234.0
115 396234.0
116 266753.0
117 -19122.0
118 19035.0
119 63191.0
120 -38272.0
121 291585.0
122 647.0
123 292232.0
124 266753.0
125 -19122.0
126 13872.0
127 62285.0
128 -34654.0
129 289134.0
130 642.0
131 289776.0
132 4.0
# of numbers catched: 133
# of rows catched: 33.25
First number catched: 200965.0
# of items catched:  33
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Other non-current receivables
8 	 Non-current assets: Amounts due from subsidiaries
9 	 Investments in subsidiaries
10 	 Property and equipment
11 	 Intangible assets
12 	 Other non-current assets
13 	 Non-current assets
14 	 Total assets
15 	 Trade payables
16 	 Current liabilities: Amounts due to subsidiaries
17 	 Accrued liabilities and provisions
18 	 Current income tax liabilities
19 	 Current liabilities
20 	 Non-current liabilities: Amounts due to subsidiaries
21 	 Deferred income tax liabilities
22 	 Non-current liabilities
23 	 Total liabilities
24 	 Total equity
25 	 Share capital
26 	 Treasury shares
27 	 Fair value reserve
28 	 Other reserves
29 	 Retained earnings
30 	 Equity excluding non-controlling interests
31 	 Non-controlling interests
32 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 56, 60, 80, 92, 96, 100, 132]

iteration 0 : n_sub_s_2darr
 [[ 200965.  214025.  178537.  197803.]
 [  32286.   28999.    3579.    4355.]
 [      0.       0.   43100.   28880.]
 [  45650.   46120.   24506.   25502.]
 [  25207.   20990.    4649.    4306.]
 [ 304108.  310134.  254371.  260846.]]

iteration 1 : n_sub_s_2darr
 [[  39174.   33895.  186162.  184282.]
 [    582.     582.   45390.   45390.]
 [      0.       0.    1233.    1394.]
 [      0.       0.       0.       0.]
 [  27994.   29411.       0.       0.]
 [   6214.    6324.       0.       0.]
 [  20618.   22205.     953.     998.]
 [  94582.   92417.  233738.  232064.]]

iteration 2 : n_sub_s_2darr
 [[ 398690.  402551.  488109.  492910.]]

iteration 3 : n_sub_s_2darr
 [[ 19815.  24089.  13525.  18218.]
 [     0.      0.  25587.  23238.]
 [ 63208.  65249.  29765.  30777.]
 [  2233.   2235.   1951.   1951.]
 [ 85256.  91573.  70828.  74184.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  21047.  21044.]
 [ 21202.  21202.      0.      0.]
 [ 21202.  21202.  21047.  21044.]]

iteration 5 : n_sub_s_2darr
 [[ 106458.  112775.   91875.   95228.]]

iteration 6 : n_sub_s_2darr
 [[ 292232.  289776.  396234.  397682.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -19122.  -19122.  -19122.  -19122.]
 [      0.       0.   19035.   13872.]
 [      0.       0.   63191.   62285.]
 [  34821.   35727.  -38272.  -34654.]
 [ 115230.  112876.  291585.  289134.]
 [ 397682.  396234.     647.     642.]
 [ 397682.  396234.  292232.  289776.]]

df.shape[0]: 33

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,11,1,0,Cash and cash equivalents,200965.0,214025.0,178537.0,197803.0
1,11,1,1,Trade receivables,32286.0,28999.0,3579.0,4355.0
2,11,1,2,Current assets: Amounts due from subsidiaries,0.0,0.0,43100.0,28880.0
3,11,1,3,Inventories,45650.0,46120.0,24506.0,25502.0
4,11,1,4,Other current assets,25207.0,20990.0,4649.0,4306.0
5,11,1,5,Current assets,304108.0,310134.0,254371.0,260846.0
6,11,1,6,Available-for-sale financial assets,39174.0,33895.0,186162.0,184282.0
7,11,1,7,Other non-current receivables,582.0,582.0,45390.0,45390.0
8,11,1,8,Non-current assets: Amounts due from subsidiaries,0.0,0.0,1233.0,1394.0
9,11,1,9,Investments in subsidiaries,0.0,0.0,0.0,0.0
10,11,1,10,Property and equipment,27994.0,29411.0,0.0,0.0
11,11,1,11,Intangible assets,6214.0,6324.0,0.0,0.0
12,11,1,12,Other non-current assets,20618.0,22205.0,953.0,998.0
13,11,1,13,Non-current assets,94582.0,92417.0,233738.0,232064.0
14,11,1,14,Total assets,398690.0,402551.0,488109.0,492910.0
15,11,1,15,Trade payables,19815.0,24089.0,13525.0,18218.0
16,11,1,16,Current liabilities: Amounts due to subsidiaries,0.0,0.0,25587.0,23238.0
17,11,1,17,Accrued liabilities and provisions,63208.0,65249.0,29765.0,30777.0
18,11,1,18,Current income tax liabilities,2233.0,2235.0,1951.0,1951.0
19,11,1,19,Current liabilities,85256.0,91573.0,70828.0,74184.0
20,11,1,20,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21047.0,21044.0
21,11,1,21,Deferred income tax liabilities,21202.0,21202.0,0.0,0.0
22,11,1,22,Non-current liabilities,21202.0,21202.0,21047.0,21044.0
23,11,1,23,Total liabilities,106458.0,112775.0,91875.0,95228.0
24,11,1,24,Total equity,292232.0,289776.0,396234.0,397682.0
25,11,1,25,Share capital,266753.0,266753.0,266753.0,266753.0
26,11,1,26,Treasury shares,-19122.0,-19122.0,-19122.0,-19122.0
27,11,1,27,Fair value reserve,0.0,0.0,19035.0,13872.0
28,11,1,28,Other reserves,0.0,0.0,63191.0,62285.0
29,11,1,29,Retained earnings,34821.0,35727.0,-38272.0,-34654.0
30,11,1,30,Equity excluding non-controlling interests,115230.0,112876.0,291585.0,289134.0
31,11,1,31,Non-controlling interests,397682.0,396234.0,647.0,642.0
32,11,1,32,Total equity_,397682.0,396234.0,292232.0,289776.0

 Q1FY12_Earnings_Release.pdf

nl:

0 146202.0
1 29378.0
2 0
3 38243.0
4 19341.0
5 233164.0
6 162958.0
7 27508.0
8 0
9 44089.0
10 22642.0
11 257197.0
12 131514.0
13 8773.0
14 40554.0
15 18103.0
16 4482.0
17 203426.0
18 148693.0
19 8059.0
20 37424.0
21 23425.0
22 5966.0
23 223567.0
24 27126.0
25 283.0
26 0
27 0
28 0
29 28215.0
30 5742.0
31 12399.0
32 73765.0
33 36476.0
34 460.0
35 0
36 322.0
37 0
38 26088.0
39 5862.0
40 15600.0
41 84808.0
42 196703.0
43 0
44 0
45 0
46 30790.0
47 805.0
48 0
49 1688.0
50 229986.0
51 194391.0
52 0
53 0
54 0
55 30790.0
56 920.0
57 0
58 1422.0
59 227523.0
60 306929.0
61 342005.0
62 433412.0
63 451090.0
64 23282.0
65 0
66 58941.0
67 746.0
68 82969.0
69 20629.0
70 0
71 60662.0
72 790.0
73 82081.0
74 13216.0
75 28834.0
76 27566.0
77 0
78 69616.0
79 15203.0
80 29312.0
81 28668.0
82 0
83 73183.0
84 0
85 17902.0
86 17902.0
87 0
88 17902.0
89 17902.0
90 21146.0
91 0
92 21146.0
93 21149.0
94 0
95 21149.0
96 100871.0
97 99983.0
98 90762.0
99 94332.0
100 206058.0
101 242022.0
102 342650.0
103 356758.0
104 266753.0
105 -18362.0
106 0
107 0
108 37165.0
109 71202.0
110 356758.0
111 356758.0
112 266753.0
113 -18658.0
114 0
115 0
116 37361.0
117 57194.0
118 342650.0
119 342650.0
120 266753.0
121 -18658.0
122 9288.0
123 64825.0
124 -116844.0
125 205364.0
126 694.0
127 206058.0
128 266753.0
129 -18362.0
130 15585.0
131 64629.0
132 -87241.0
133 241364.0
134 658.0
135 242022.0
136 4.0
# of numbers catched: 137
# of rows catched: 34.25
First number catched: 146202.0
# of items catched:  34
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Other non-current receivables
8 	 Non-current assets: Amounts due from subsidiaries
9 	 Investments in associated companies
10 	 Investments in subsidiaries
11 	 Property and equipment
12 	 Intangible assets
13 	 Other non-current assets
14 	 Non-current assets
15 	 Total assets
16 	 Trade payables
17 	 Current liabilities: Amounts due to subsidiaries
18 	 Accrued liabilities and provisions
19 	 Current income tax liabilities
20 	 Current liabilities
21 	 Non-current liabilities: Amounts due to subsidiaries
22 	 Deferred income tax liabilities
23 	 Non-current liabilities
24 	 Total liabilities
25 	 Total equity
26 	 Share capital
27 	 Treasury shares
28 	 Fair value reserve
29 	 Other reserves
30 	 Retained earnings
31 	 Equity excluding non-controlling interests
32 	 Non-controlling interests
33 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 60, 64, 84, 96, 100, 104, 136]

iteration 0 : n_sub_s_2darr
 [[ 146202.  162958.  131514.  148693.]
 [  29378.   27508.    8773.    8059.]
 [      0.       0.   40554.   37424.]
 [  38243.   44089.   18103.   23425.]
 [  19341.   22642.    4482.    5966.]
 [ 233164.  257197.  203426.  223567.]]

iteration 1 : n_sub_s_2darr
 [[  27126.   36476.  196703.  194391.]
 [    283.     460.       0.       0.]
 [      0.       0.       0.       0.]
 [      0.     322.       0.       0.]
 [      0.       0.   30790.   30790.]
 [  28215.   26088.     805.     920.]
 [   5742.    5862.       0.       0.]
 [  12399.   15600.    1688.    1422.]
 [  73765.   84808.  229986.  227523.]]

iteration 2 : n_sub_s_2darr
 [[ 306929.  342005.  433412.  451090.]]

iteration 3 : n_sub_s_2darr
 [[ 23282.  20629.  13216.  15203.]
 [     0.      0.  28834.  29312.]
 [ 58941.  60662.  27566.  28668.]
 [   746.    790.      0.      0.]
 [ 82969.  82081.  69616.  73183.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  21146.  21149.]
 [ 17902.  17902.      0.      0.]
 [ 17902.  17902.  21146.  21149.]]

iteration 5 : n_sub_s_2darr
 [[ 100871.   99983.   90762.   94332.]]

iteration 6 : n_sub_s_2darr
 [[ 206058.  242022.  342650.  356758.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -18362.  -18658.  -18658.  -18362.]
 [      0.       0.    9288.   15585.]
 [      0.       0.   64825.   64629.]
 [  37165.   37361. -116844.  -87241.]
 [  71202.   57194.  205364.  241364.]
 [ 356758.  342650.     694.     658.]
 [ 356758.  342650.  206058.  242022.]]

df.shape[0]: 34

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,12,1,0,Cash and cash equivalents,146202.0,162958.0,131514.0,148693.0
1,12,1,1,Trade receivables,29378.0,27508.0,8773.0,8059.0
2,12,1,2,Current assets: Amounts due from subsidiaries,0.0,0.0,40554.0,37424.0
3,12,1,3,Inventories,38243.0,44089.0,18103.0,23425.0
4,12,1,4,Other current assets,19341.0,22642.0,4482.0,5966.0
5,12,1,5,Current assets,233164.0,257197.0,203426.0,223567.0
6,12,1,6,Available-for-sale financial assets,27126.0,36476.0,196703.0,194391.0
7,12,1,7,Other non-current receivables,283.0,460.0,0.0,0.0
8,12,1,8,Non-current assets: Amounts due from subsidiaries,0.0,0.0,0.0,0.0
9,12,1,9,Investments in associated companies,0.0,322.0,0.0,0.0
10,12,1,10,Investments in subsidiaries,0.0,0.0,30790.0,30790.0
11,12,1,11,Property and equipment,28215.0,26088.0,805.0,920.0
12,12,1,12,Intangible assets,5742.0,5862.0,0.0,0.0
13,12,1,13,Other non-current assets,12399.0,15600.0,1688.0,1422.0
14,12,1,14,Non-current assets,73765.0,84808.0,229986.0,227523.0
15,12,1,15,Total assets,306929.0,342005.0,433412.0,451090.0
16,12,1,16,Trade payables,23282.0,20629.0,13216.0,15203.0
17,12,1,17,Current liabilities: Amounts due to subsidiaries,0.0,0.0,28834.0,29312.0
18,12,1,18,Accrued liabilities and provisions,58941.0,60662.0,27566.0,28668.0
19,12,1,19,Current income tax liabilities,746.0,790.0,0.0,0.0
20,12,1,20,Current liabilities,82969.0,82081.0,69616.0,73183.0
21,12,1,21,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21146.0,21149.0
22,12,1,22,Deferred income tax liabilities,17902.0,17902.0,0.0,0.0
23,12,1,23,Non-current liabilities,17902.0,17902.0,21146.0,21149.0
24,12,1,24,Total liabilities,100871.0,99983.0,90762.0,94332.0
25,12,1,25,Total equity,206058.0,242022.0,342650.0,356758.0
26,12,1,26,Share capital,266753.0,266753.0,266753.0,266753.0
27,12,1,27,Treasury shares,-18362.0,-18658.0,-18658.0,-18362.0
28,12,1,28,Fair value reserve,0.0,0.0,9288.0,15585.0
29,12,1,29,Other reserves,0.0,0.0,64825.0,64629.0
30,12,1,30,Retained earnings,37165.0,37361.0,-116844.0,-87241.0
31,12,1,31,Equity excluding non-controlling interests,71202.0,57194.0,205364.0,241364.0
32,12,1,32,Non-controlling interests,356758.0,342650.0,694.0,658.0
33,12,1,33,Total equity_,356758.0,342650.0,206058.0,242022.0

 Q1FY13_Earnings_Release.pdf

nl:

0 129544.0
1 18841.0
2 31468.0
3 0
4 0
5 10033.0
6 189886.0
7 131432.0
8 18841.0
9 0
10 27822.0
11 4991.0
12 12732.0
13 195818.0
14 117258.0
15 6985.0
16 45718.0
17 12504.0
18 0
19 1277.0
20 183742.0
21 117457.0
22 6294.0
23 41803.0
24 11052.0
25 0
26 1567.0
27 178173.0
28 26277.0
29 879.0
30 0
31 0
32 7093.0
33 2915.0
34 37164.0
35 26651.0
36 1088.0
37 0
38 0
39 7427.0
40 3301.0
41 38467.0
42 0
43 0
44 200684.0
45 27290.0
46 427.0
47 1305.0
48 229706.0
49 0
50 0
51 199321.0
52 27290.0
53 483.0
54 1193.0
55 228287.0
56 227050.0
57 234285.0
58 413448.0
59 406460.0
60 14373.0
61 0
62 50315.0
63 705.0
64 65393.0
65 13844.0
66 0
67 53367.0
68 742.0
69 67953.0
70 9630.0
71 40341.0
72 23717.0
73 0
74 73688.0
75 8586.0
76 36590.0
77 24692.0
78 48.0
79 69916.0
80 0
81 17902.0
82 17902.0
83 0
84 17902.0
85 17902.0
86 25165.0
87 0
88 25165.0
89 21669.0
90 0
91 21669.0
92 83295.0
93 85855.0
94 98853.0
95 91585.0
96 143755.0
97 148430.0
98 314595.0
99 314875.0
100 266753.0
101 -17676.0
102 0
103 0
104 36969.0
105 28829.0
106 314875.0
107 314875.0
108 266753.0
109 -17650.0
110 0
111 0
112 37104.0
113 28388.0
114 314595.0
115 314595.0
116 266753.0
117 -17650.0
118 8292.0
119 64568.0
120 -178427.0
121 143536.0
122 219.0
123 143755.0
124 266753.0
125 -17676.0
126 8658.0
127 64433.0
128 -173980.0
129 148188.0
130 242.0
131 148430.0
132 4.0
# of numbers catched: 133
# of rows catched: 33.25
First number catched: 129544.0
# of items catched:  33
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Property and equipment held for sale
5 	 Other current assets
6 	 Current assets
7 	 Available-for-sale financial assets
8 	 Other non-current receivables
9 	 Non-current assets: Amounts due from subsidiaries
10 	 Investments in subsidiaries
11 	 Property and equipment
12 	 Other non-current assets
13 	 Non-current assets
14 	 Total assets
15 	 Trade payables
16 	 Current liabilities: Amounts due to subsidiaries
17 	 Accrued liabilities and provisions
18 	 Current income tax liabilities
19 	 Current liabilities
20 	 Non-current liabilities: Amounts due to subsidiaries
21 	 Deferred income tax liabilities
22 	 Non-current liabilities
23 	 Total liabilities
24 	 Total equity
25 	 Share capital
26 	 Treasury shares
27 	 Fair value reserve
28 	 Other reserves
29 	 Retained earnings
30 	 Equity excluding non-controlling interests
31 	 Non-controlling interests
32 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [28, 56, 60, 80, 92, 96, 100, 132]

iteration 0 : n_sub_s_2darr
 [[ 129544.  131432.  117258.  117457.]
 [  18841.   18841.    6985.    6294.]
 [  31468.       0.   45718.   41803.]
 [      0.   27822.   12504.   11052.]
 [      0.    4991.       0.       0.]
 [  10033.   12732.    1277.    1567.]
 [ 189886.  195818.  183742.  178173.]]

iteration 1 : n_sub_s_2darr
 [[  26277.   26651.       0.       0.]
 [    879.    1088.       0.       0.]
 [      0.       0.  200684.  199321.]
 [      0.       0.   27290.   27290.]
 [   7093.    7427.     427.     483.]
 [   2915.    3301.    1305.    1193.]
 [  37164.   38467.  229706.  228287.]]

iteration 2 : n_sub_s_2darr
 [[ 227050.  234285.  413448.  406460.]]

iteration 3 : n_sub_s_2darr
 [[  1.43730000e+04   1.38440000e+04   9.63000000e+03   8.58600000e+03]
 [  0.00000000e+00   0.00000000e+00   4.03410000e+04   3.65900000e+04]
 [  5.03150000e+04   5.33670000e+04   2.37170000e+04   2.46920000e+04]
 [  7.05000000e+02   7.42000000e+02   0.00000000e+00   4.80000000e+01]
 [  6.53930000e+04   6.79530000e+04   7.36880000e+04   6.99160000e+04]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  25165.  21669.]
 [ 17902.  17902.      0.      0.]
 [ 17902.  17902.  25165.  21669.]]

iteration 5 : n_sub_s_2darr
 [[ 83295.  85855.  98853.  91585.]]

iteration 6 : n_sub_s_2darr
 [[ 143755.  148430.  314595.  314875.]]

iteration 7 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.76760000e+04  -1.76500000e+04  -1.76500000e+04  -1.76760000e+04]
 [  0.00000000e+00   0.00000000e+00   8.29200000e+03   8.65800000e+03]
 [  0.00000000e+00   0.00000000e+00   6.45680000e+04   6.44330000e+04]
 [  3.69690000e+04   3.71040000e+04  -1.78427000e+05  -1.73980000e+05]
 [  2.88290000e+04   2.83880000e+04   1.43536000e+05   1.48188000e+05]
 [  3.14875000e+05   3.14595000e+05   2.19000000e+02   2.42000000e+02]
 [  3.14875000e+05   3.14595000e+05   1.43755000e+05   1.48430000e+05]]

df.shape[0]: 33

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,13,1,0,Cash and cash equivalents,129544.0,131432.0,117258.0,117457.0
1,13,1,1,Trade receivables,18841.0,18841.0,6985.0,6294.0
2,13,1,2,Current assets: Amounts due from subsidiaries,0.0,27822.0,12504.0,11052.0
3,13,1,3,Inventories,31468.0,0.0,45718.0,41803.0
4,13,1,4,Property and equipment held for sale,0.0,4991.0,0.0,0.0
5,13,1,5,Other current assets,10033.0,12732.0,1277.0,1567.0
6,13,1,6,Current assets,189886.0,195818.0,183742.0,178173.0
7,13,1,7,Available-for-sale financial assets,26277.0,26651.0,0.0,0.0
8,13,1,8,Other non-current receivables,879.0,1088.0,0.0,0.0
9,13,1,9,Non-current assets: Amounts due from subsidiaries,0.0,0.0,200684.0,199321.0
10,13,1,10,Investments in subsidiaries,0.0,0.0,27290.0,27290.0
11,13,1,11,Property and equipment,7093.0,7427.0,427.0,483.0
12,13,1,12,Other non-current assets,2915.0,3301.0,1305.0,1193.0
13,13,1,13,Non-current assets,37164.0,38467.0,229706.0,228287.0
14,13,1,14,Total assets,227050.0,234285.0,413448.0,406460.0
15,13,1,15,Trade payables,14373.0,13844.0,9630.0,8586.0
16,13,1,16,Current liabilities: Amounts due to subsidiaries,0.0,0.0,40341.0,36590.0
17,13,1,17,Accrued liabilities and provisions,50315.0,53367.0,23717.0,24692.0
18,13,1,18,Current income tax liabilities,705.0,742.0,0.0,48.0
19,13,1,19,Current liabilities,65393.0,67953.0,73688.0,69916.0
20,13,1,20,Non-current liabilities: Amounts due to subsid...,0.0,0.0,25165.0,21669.0
21,13,1,21,Deferred income tax liabilities,17902.0,17902.0,0.0,0.0
22,13,1,22,Non-current liabilities,17902.0,17902.0,25165.0,21669.0
23,13,1,23,Total liabilities,83295.0,85855.0,98853.0,91585.0
24,13,1,24,Total equity,143755.0,148430.0,314595.0,314875.0
25,13,1,25,Share capital,266753.0,266753.0,266753.0,266753.0
26,13,1,26,Treasury shares,-17676.0,-17650.0,-17650.0,-17676.0
27,13,1,27,Fair value reserve,0.0,0.0,8292.0,8658.0
28,13,1,28,Other reserves,0.0,0.0,64568.0,64433.0
29,13,1,29,Retained earnings,36969.0,37104.0,-178427.0,-173980.0
30,13,1,30,Equity excluding non-controlling interests,28829.0,28388.0,143536.0,148188.0
31,13,1,31,Non-controlling interests,314875.0,314595.0,219.0,242.0
32,13,1,32,Total equity_,314875.0,314595.0,143755.0,148430.0

 Q1FY14_Earnings_Release.pdf

nl:

0 152763.0
1 18537.0
2 0
3 30595.0
4 1929.0
5 203824.0
6 163574.0
7 14728.0
8 0
9 6892.0
10 1827.0
11 31373.0
12 139649.0
13 6781.0
14 48297.0
15 14981.0
16 489.0
17 210197.0
18 0
19 146953.0
20 0
21 25353.0
22 2178.0
23 205833.0
24 22375.0
25 0
26 0
27 6829.0
28 99.0
29 29303.0
30 22654.0
31 0
32 28390.0
33 671.0
34 0
35 176014.0
36 150804.0
37 4748.0
38 42801.0
39 11369.0
40 656.0
41 210378.0
42 0
43 146659.0
44 28390.0
45 705.0
46 1729.0
47 177483.0
48 233127.0
49 237206.0
50 386211.0
51 387861.0
52 15443.0
53 0
54 44158.0
55 722.0
56 60323.0
57 13753.0
58 0
59 44496.0
60 706.0
61 58955.0
62 11434.0
63 11299.0
64 27195.0
65 0
66 49928.0
67 9460.0
68 10940.0
69 26576.0
70 0
71 46976.0
72 0
73 15202.0
74 15202.0
75 0
76 15202.0
77 15202.0
78 21748.0
79 0
80 21748.0
81 21173.0
82 0
83 21173.0
84 75525.0
85 74157.0
86 71676.0
87 68149.0
88 157602.0
89 163049.0
90 314535.0
91 319712.0
92 266753.0
93 -16527.0
94 9519.0
95 63331.0
96 -165703.0
97 157373.0
98 229.0
99 157602.0
100 266753.0
101 -16606.0
102 9485.0
103 63351.0
104 -160170.0
105 162813.0
106 236.0
107 163049.0
108 266753.0
109 -16527.0
110 0
111 0
112 35867.0
113 28442.0
114 314535.0
115 314535.0
116 266753.0
117 -16606.0
118 0
119 0
120 35887.0
121 33678.0
122 319712.0
123 319712.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 152763.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Retained earnings
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[ 152763.  163574.  139649.       0.]
 [  18537.   14728.    6781.  146953.]
 [      0.       0.   48297.       0.]
 [  30595.    6892.   14981.   25353.]
 [   1929.    1827.     489.    2178.]
 [ 203824.   31373.  210197.  205833.]]

iteration 1 : n_sub_s_2darr
 [[  2.23750000e+04   2.26540000e+04   1.50804000e+05   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   4.74800000e+03   1.46659000e+05]
 [  0.00000000e+00   2.83900000e+04   4.28010000e+04   2.83900000e+04]
 [  6.82900000e+03   6.71000000e+02   1.13690000e+04   7.05000000e+02]
 [  9.90000000e+01   0.00000000e+00   6.56000000e+02   1.72900000e+03]
 [  2.93030000e+04   1.76014000e+05   2.10378000e+05   1.77483000e+05]]

iteration 2 : n_sub_s_2darr
 [[ 233127.  237206.  386211.  387861.]]

iteration 3 : n_sub_s_2darr
 [[ 15443.  13753.  11434.   9460.]
 [     0.      0.  11299.  10940.]
 [ 44158.  44496.  27195.  26576.]
 [   722.    706.      0.      0.]
 [ 60323.  58955.  49928.  46976.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  21748.  21173.]
 [ 15202.  15202.      0.      0.]
 [ 15202.  15202.  21748.  21173.]]

iteration 5 : n_sub_s_2darr
 [[ 75525.  74157.  71676.  68149.]]

iteration 6 : n_sub_s_2darr
 [[ 157602.  163049.  314535.  319712.]]

iteration 7 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.65270000e+04  -1.66060000e+04  -1.65270000e+04  -1.66060000e+04]
 [  9.51900000e+03   9.48500000e+03   0.00000000e+00   0.00000000e+00]
 [  6.33310000e+04   6.33510000e+04   0.00000000e+00   0.00000000e+00]
 [ -1.65703000e+05  -1.60170000e+05   3.58670000e+04   3.58870000e+04]
 [  1.57373000e+05   1.62813000e+05   2.84420000e+04   3.36780000e+04]
 [  2.29000000e+02   2.36000000e+02   3.14535000e+05   3.19712000e+05]
 [  1.57602000e+05   1.63049000e+05   3.14535000e+05   3.19712000e+05]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,14,1,0,Cash and cash equivalents,152763.0,163574.0,139649.0,0.0
1,14,1,1,Trade receivables,18537.0,14728.0,6781.0,146953.0
2,14,1,2,Current assets: Amounts due from subsidiaries,0.0,0.0,48297.0,0.0
3,14,1,3,Inventories,30595.0,6892.0,14981.0,25353.0
4,14,1,4,Other current assets,1929.0,1827.0,489.0,2178.0
5,14,1,5,Current assets,203824.0,31373.0,210197.0,205833.0
6,14,1,6,Available-for-sale financial assets,22375.0,22654.0,150804.0,0.0
7,14,1,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,4748.0,146659.0
8,14,1,8,Investments in subsidiaries,0.0,28390.0,42801.0,28390.0
9,14,1,9,Property and equipment,6829.0,671.0,11369.0,705.0
10,14,1,10,Other non-current assets,99.0,0.0,656.0,1729.0
11,14,1,11,Non-current assets,29303.0,176014.0,210378.0,177483.0
12,14,1,12,Total assets,233127.0,237206.0,386211.0,387861.0
13,14,1,13,Trade payables,15443.0,13753.0,11434.0,9460.0
14,14,1,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,11299.0,10940.0
15,14,1,15,Accrued liabilities and provisions,44158.0,44496.0,27195.0,26576.0
16,14,1,16,Current income tax liabilities,722.0,706.0,0.0,0.0
17,14,1,17,Current liabilities,60323.0,58955.0,49928.0,46976.0
18,14,1,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21748.0,21173.0
19,14,1,19,Deferred income tax liabilities,15202.0,15202.0,0.0,0.0
20,14,1,20,Non-current liabilities,15202.0,15202.0,21748.0,21173.0
21,14,1,21,Total liabilities,75525.0,74157.0,71676.0,68149.0
22,14,1,22,Total equity,157602.0,163049.0,314535.0,319712.0
23,14,1,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,14,1,24,Treasury shares,-16527.0,-16606.0,-16527.0,-16606.0
25,14,1,25,Fair value reserve,9519.0,9485.0,0.0,0.0
26,14,1,26,Other reserves,63331.0,63351.0,0.0,0.0
27,14,1,27,Retained earnings,-165703.0,-160170.0,35867.0,35887.0
28,14,1,28,Equity excluding non-controlling interests,157373.0,162813.0,28442.0,33678.0
29,14,1,29,Non-controlling interests,229.0,236.0,314535.0,319712.0
30,14,1,30,Total equity_,157602.0,163049.0,314535.0,319712.0

 Q1FY15_Earnings_Release.pdf

nl:

0 112724.0
1 11748.0
2 0
3 28466.0
4 2192.0
5 155130.0
6 124638.0
7 10559.0
8 0
9 6465.0
10 98.0
11 28171.0
12 105762.0
13 4890.0
14 50367.0
15 15562.0
16 450.0
17 177031.0
18 0
19 143856.0
20 0
21 28922.0
22 1896.0
23 166015.0
24 26705.0
25 0
26 0
27 6294.0
28 94.0
29 33093.0
30 21608.0
31 0
32 23953.0
33 594.0
34 0
35 168403.0
36 118974.0
37 4208.0
38 44515.0
39 15002.0
40 187.0
41 182886.0
42 0
43 143022.0
44 24706.0
45 651.0
46 0
47 168379.0
48 188223.0
49 194186.0
50 345434.0
51 351265.0
52 9630.0
53 0
54 37445.0
55 698.0
56 47773.0
57 9383.0
58 0
59 37899.0
60 735.0
61 48017.0
62 6029.0
63 9453.0
64 21645.0
65 0
66 37127.0
67 5907.0
68 9139.0
69 24474.0
70 0
71 39520.0
72 0
73 10702.0
74 10702.0
75 0
76 10702.0
77 10702.0
78 19719.0
79 0
80 19719.0
81 21746.0
82 0
83 21746.0
84 58475.0
85 58719.0
86 56846.0
87 61266.0
88 129748.0
89 135467.0
90 288588.0
91 289999.0
92 266753.0
93 -16262.0
94 0
95 0
96 35106.0
97 2991.0
98 288588.0
99 288588.0
100 266753.0
101 -16262.0
102 0
103 0
104 35106.0
105 4402.0
106 289999.0
107 289999.0
108 266753.0
109 -16262.0
110 14056.0
111 62570.0
112 -197523.0
113 129594.0
114 154.0
115 129748.0
116 266753.0
117 -16262.0
118 9896.0
119 62570.0
120 -187695.0
121 135262.0
122 205.0
123 135467.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 112724.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Retained earnings
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  1.12724000e+05   1.24638000e+05   1.05762000e+05   0.00000000e+00]
 [  1.17480000e+04   1.05590000e+04   4.89000000e+03   1.43856000e+05]
 [  0.00000000e+00   0.00000000e+00   5.03670000e+04   0.00000000e+00]
 [  2.84660000e+04   6.46500000e+03   1.55620000e+04   2.89220000e+04]
 [  2.19200000e+03   9.80000000e+01   4.50000000e+02   1.89600000e+03]
 [  1.55130000e+05   2.81710000e+04   1.77031000e+05   1.66015000e+05]]

iteration 1 : n_sub_s_2darr
 [[  2.67050000e+04   2.16080000e+04   1.18974000e+05   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   4.20800000e+03   1.43022000e+05]
 [  0.00000000e+00   2.39530000e+04   4.45150000e+04   2.47060000e+04]
 [  6.29400000e+03   5.94000000e+02   1.50020000e+04   6.51000000e+02]
 [  9.40000000e+01   0.00000000e+00   1.87000000e+02   0.00000000e+00]
 [  3.30930000e+04   1.68403000e+05   1.82886000e+05   1.68379000e+05]]

iteration 2 : n_sub_s_2darr
 [[ 188223.  194186.  345434.  351265.]]

iteration 3 : n_sub_s_2darr
 [[  9630.   9383.   6029.   5907.]
 [     0.      0.   9453.   9139.]
 [ 37445.  37899.  21645.  24474.]
 [   698.    735.      0.      0.]
 [ 47773.  48017.  37127.  39520.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  19719.  21746.]
 [ 10702.  10702.      0.      0.]
 [ 10702.  10702.  19719.  21746.]]

iteration 5 : n_sub_s_2darr
 [[ 58475.  58719.  56846.  61266.]]

iteration 6 : n_sub_s_2darr
 [[ 129748.  135467.  288588.  289999.]]

iteration 7 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.62620000e+04  -1.62620000e+04  -1.62620000e+04  -1.62620000e+04]
 [  0.00000000e+00   0.00000000e+00   1.40560000e+04   9.89600000e+03]
 [  0.00000000e+00   0.00000000e+00   6.25700000e+04   6.25700000e+04]
 [  3.51060000e+04   3.51060000e+04  -1.97523000e+05  -1.87695000e+05]
 [  2.99100000e+03   4.40200000e+03   1.29594000e+05   1.35262000e+05]
 [  2.88588000e+05   2.89999000e+05   1.54000000e+02   2.05000000e+02]
 [  2.88588000e+05   2.89999000e+05   1.29748000e+05   1.35467000e+05]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,15,1,0,Cash and cash equivalents,112724.0,124638.0,105762.0,0.0
1,15,1,1,Trade receivables,11748.0,10559.0,4890.0,143856.0
2,15,1,2,Current assets: Amounts due from subsidiaries,0.0,0.0,50367.0,0.0
3,15,1,3,Inventories,28466.0,6465.0,15562.0,28922.0
4,15,1,4,Other current assets,2192.0,98.0,450.0,1896.0
5,15,1,5,Current assets,155130.0,28171.0,177031.0,166015.0
6,15,1,6,Available-for-sale financial assets,26705.0,21608.0,118974.0,0.0
7,15,1,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,4208.0,143022.0
8,15,1,8,Investments in subsidiaries,0.0,23953.0,44515.0,24706.0
9,15,1,9,Property and equipment,6294.0,594.0,15002.0,651.0
10,15,1,10,Other non-current assets,94.0,0.0,187.0,0.0
11,15,1,11,Non-current assets,33093.0,168403.0,182886.0,168379.0
12,15,1,12,Total assets,188223.0,194186.0,345434.0,351265.0
13,15,1,13,Trade payables,9630.0,9383.0,6029.0,5907.0
14,15,1,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,9453.0,9139.0
15,15,1,15,Accrued liabilities and provisions,37445.0,37899.0,21645.0,24474.0
16,15,1,16,Current income tax liabilities,698.0,735.0,0.0,0.0
17,15,1,17,Current liabilities,47773.0,48017.0,37127.0,39520.0
18,15,1,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,19719.0,21746.0
19,15,1,19,Deferred income tax liabilities,10702.0,10702.0,0.0,0.0
20,15,1,20,Non-current liabilities,10702.0,10702.0,19719.0,21746.0
21,15,1,21,Total liabilities,58475.0,58719.0,56846.0,61266.0
22,15,1,22,Total equity,129748.0,135467.0,288588.0,289999.0
23,15,1,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,15,1,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,15,1,25,Fair value reserve,0.0,0.0,14056.0,9896.0
26,15,1,26,Other reserves,0.0,0.0,62570.0,62570.0
27,15,1,27,Retained earnings,35106.0,35106.0,-197523.0,-187695.0
28,15,1,28,Equity excluding non-controlling interests,2991.0,4402.0,129594.0,135262.0
29,15,1,29,Non-controlling interests,288588.0,289999.0,154.0,205.0
30,15,1,30,Total equity_,288588.0,289999.0,129748.0,135467.0

 Q1FY16_Earnings_Release.pdf

nl:

0 79186.0
1 11520.0
2 0
3 28194.0
4 1981.0
5 120881.0
6 15352.0
7 0
8 0
9 1241.0
10 183.0
11 16776.0
12 99668.0
13 9782.0
14 0
15 28879.0
16 1320.0
17 139649.0
18 18239.0
19 0
20 0
21 1361.0
22 88.0
23 19688.0
24 74364.0
25 138.0
26 40071.0
27 3067.0
28 706.0
29 118346.0
30 97373.0
31 4290.0
32 31735.0
33 15939.0
34 422.0
35 149759.0
36 0
37 149479.0
38 25453.0
39 312.0
40 0
41 175244.0
42 0
43 145344.0
44 25453.0
45 369.0
46 0
47 171166.0
48 137657.0
49 159337.0
50 293590.0
51 320925.0
52 10622.0
53 0
54 31539.0
55 635.0
56 42796.0
57 15639.0
58 0
59 31445.0
60 643.0
61 47727.0
62 1153.0
63 7277.0
64 19038.0
65 0
66 27468.0
67 10409.0
68 12060.0
69 20451.0
70 0
71 42920.0
72 0
73 9902.0
74 9902.0
75 0
76 9902.0
77 9902.0
78 27502.0
79 0
80 27502.0
81 27507.0
82 0
83 27507.0
84 52698.0
85 57629.0
86 54970.0
87 70427.0
88 84959.0
89 101708.0
90 238620.0
91 250498.0
92 266753.0
93 -16262.0
94 0
95 0
96 34974.0
97 -46845.0
98 238620.0
99 238620.0
100 266753.0
101 -16262.0
102 0
103 0
104 35098.0
105 -35091.0
106 250498.0
107 250498.0
108 266753.0
109 -16262.0
110 9592.0
111 62438.0
112 -237774.0
113 84747.0
114 212.0
115 84959.0
116 266753.0
117 -16262.0
118 12304.0
119 62562.0
120 -223847.0
121 101510.0
122 198.0
123 101708.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 79186.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Accumulated losses
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  7.91860000e+04   9.96680000e+04   7.43640000e+04   0.00000000e+00]
 [  1.15200000e+04   9.78200000e+03   1.38000000e+02   1.49479000e+05]
 [  0.00000000e+00   0.00000000e+00   4.00710000e+04   2.54530000e+04]
 [  2.81940000e+04   2.88790000e+04   3.06700000e+03   3.12000000e+02]
 [  1.98100000e+03   1.32000000e+03   7.06000000e+02   0.00000000e+00]
 [  1.20881000e+05   1.39649000e+05   1.18346000e+05   1.75244000e+05]
 [  1.53520000e+04   1.82390000e+04   9.73730000e+04   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   4.29000000e+03   1.45344000e+05]
 [  0.00000000e+00   0.00000000e+00   3.17350000e+04   2.54530000e+04]
 [  1.24100000e+03   1.36100000e+03   1.59390000e+04   3.69000000e+02]
 [  1.83000000e+02   8.80000000e+01   4.22000000e+02   0.00000000e+00]
 [  1.67760000e+04   1.96880000e+04   1.49759000e+05   1.71166000e+05]]

iteration 1 : n_sub_s_2darr
 [[ 137657.  159337.  293590.  320925.]]

iteration 2 : n_sub_s_2darr
 [[ 10622.  15639.   1153.  10409.]
 [     0.      0.   7277.  12060.]
 [ 31539.  31445.  19038.  20451.]
 [   635.    643.      0.      0.]
 [ 42796.  47727.  27468.  42920.]]

iteration 3 : n_sub_s_2darr
 [[     0.      0.  27502.  27507.]
 [  9902.   9902.      0.      0.]
 [  9902.   9902.  27502.  27507.]]

iteration 4 : n_sub_s_2darr
 [[ 52698.  57629.  54970.  70427.]]

iteration 5 : n_sub_s_2darr
 [[  84959.  101708.  238620.  250498.]]

iteration 6 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.62620000e+04  -1.62620000e+04  -1.62620000e+04  -1.62620000e+04]
 [  0.00000000e+00   0.00000000e+00   9.59200000e+03   1.23040000e+04]
 [  0.00000000e+00   0.00000000e+00   6.24380000e+04   6.25620000e+04]
 [  3.49740000e+04   3.50980000e+04  -2.37774000e+05  -2.23847000e+05]
 [ -4.68450000e+04  -3.50910000e+04   8.47470000e+04   1.01510000e+05]
 [  2.38620000e+05   2.50498000e+05   2.12000000e+02   1.98000000e+02]
 [  2.38620000e+05   2.50498000e+05   8.49590000e+04   1.01708000e+05]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,16,1,0,Cash and cash equivalents,79186.0,99668.0,74364.0,0.0
1,16,1,1,Trade receivables,11520.0,9782.0,138.0,149479.0
2,16,1,2,Current assets: Amounts due from subsidiaries,0.0,0.0,40071.0,25453.0
3,16,1,3,Inventories,28194.0,28879.0,3067.0,312.0
4,16,1,4,Other current assets,1981.0,1320.0,706.0,0.0
5,16,1,5,Current assets,120881.0,139649.0,118346.0,175244.0
6,16,1,6,Available-for-sale financial assets,15352.0,18239.0,97373.0,0.0
7,16,1,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,4290.0,145344.0
8,16,1,8,Investments in subsidiaries,0.0,0.0,31735.0,25453.0
9,16,1,9,Property and equipment,1241.0,1361.0,15939.0,369.0
10,16,1,10,Other non-current assets,183.0,88.0,422.0,0.0
11,16,1,11,Non-current assets,16776.0,19688.0,149759.0,171166.0
12,16,1,12,Total assets,137657.0,159337.0,293590.0,320925.0
13,16,1,13,Trade payables,10622.0,15639.0,1153.0,10409.0
14,16,1,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,7277.0,12060.0
15,16,1,15,Accrued liabilities and provisions,31539.0,31445.0,19038.0,20451.0
16,16,1,16,Current income tax liabilities,635.0,643.0,0.0,0.0
17,16,1,17,Current liabilities,42796.0,47727.0,27468.0,42920.0
18,16,1,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,27502.0,27507.0
19,16,1,19,Deferred income tax liabilities,9902.0,9902.0,0.0,0.0
20,16,1,20,Non-current liabilities,9902.0,9902.0,27502.0,27507.0
21,16,1,21,Total liabilities,52698.0,57629.0,54970.0,70427.0
22,16,1,22,Total equity,84959.0,101708.0,238620.0,250498.0
23,16,1,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,16,1,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,16,1,25,Fair value reserve,0.0,0.0,9592.0,12304.0
26,16,1,26,Other reserves,0.0,0.0,62438.0,62562.0
27,16,1,27,Accumulated losses,34974.0,35098.0,-237774.0,-223847.0
28,16,1,28,Equity excluding non-controlling interests,-46845.0,-35091.0,84747.0,101510.0
29,16,1,29,Non-controlling interests,238620.0,250498.0,212.0,198.0
30,16,1,30,Total equity_,238620.0,250498.0,84959.0,101708.0

 Q1FY17_Earnings_Release.pdf

nl:

0 86587.0
1 8105.0
2 0
3 24890.0
4 1607.0
5 121189.0
6 94738.0
7 7570.0
8 0
9 25052.0
10 1797.0
11 129157.0
12 82207.0
13 649.0
14 46566.0
15 4783.0
16 641.0
17 134846.0
18 88362.0
19 245.0
20 43979.0
21 5153.0
22 633.0
23 138372.0
24 11049.0
25 0
26 0
27 841.0
28 191.0
29 12081.0
30 11960.0
31 0
32 0
33 870.0
34 190.0
35 13020.0
36 0
37 15388.0
38 25353.0
39 107.0
40 0
41 40848.0
42 0
43 14923.0
44 25353.0
45 131.0
46 0
47 40407.0
48 133270.0
49 142177.0
50 175694.0
51 178779.0
52 7585.0
53 0
54 23508.0
55 294.0
56 31387.0
57 9651.0
58 0
59 23377.0
60 347.0
61 33375.0
62 741.0
63 8826.0
64 11697.0
65 0
66 21264.0
67 1588.0
68 8325.0
69 11468.0
70 0
71 21381.0
72 0
73 10302.0
74 10302.0
75 0
76 10302.0
77 10302.0
78 30806.0
79 0
80 30806.0
81 30162.0
82 0
83 30162.0
84 41689.0
85 43677.0
86 52070.0
87 51543.0
88 91581.0
89 98500.0
90 123624.0
91 127236.0
92 266753.0
93 -16262.0
94 0
95 0
96 34900.0
97 -158155.0
98 127236.0
99 127236.0
100 266753.0
101 -16262.0
102 0
103 0
104 34900.0
105 -161767.0
106 123624.0
107 123624.0
108 266753.0
109 -16262.0
110 5856.0
111 62364.0
112 -227430.0
113 91281.0
114 300.0
115 91581.0
116 266753.0
117 -16262.0
118 6574.0
119 62364.0
120 -221219.0
121 98210.0
122 290.0
123 98500.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 86587.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Accumulated losses
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  86587.   94738.   82207.   88362.]
 [   8105.    7570.     649.     245.]
 [      0.       0.   46566.   43979.]
 [  24890.   25052.    4783.    5153.]
 [   1607.    1797.     641.     633.]
 [ 121189.  129157.  134846.  138372.]]

iteration 1 : n_sub_s_2darr
 [[ 11049.  11960.      0.      0.]
 [     0.      0.  15388.  14923.]
 [     0.      0.  25353.  25353.]
 [   841.    870.    107.    131.]
 [   191.    190.      0.      0.]
 [ 12081.  13020.  40848.  40407.]]

iteration 2 : n_sub_s_2darr
 [[ 133270.  142177.  175694.  178779.]]

iteration 3 : n_sub_s_2darr
 [[  7585.   9651.    741.   1588.]
 [     0.      0.   8826.   8325.]
 [ 23508.  23377.  11697.  11468.]
 [   294.    347.      0.      0.]
 [ 31387.  33375.  21264.  21381.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  30806.  30162.]
 [ 10302.  10302.      0.      0.]
 [ 10302.  10302.  30806.  30162.]]

iteration 5 : n_sub_s_2darr
 [[ 41689.  43677.  52070.  51543.]]

iteration 6 : n_sub_s_2darr
 [[  91581.   98500.  123624.  127236.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -16262.  -16262.  -16262.  -16262.]
 [      0.       0.    5856.    6574.]
 [      0.       0.   62364.   62364.]
 [  34900.   34900. -227430. -221219.]
 [-158155. -161767.   91281.   98210.]
 [ 127236.  123624.     300.     290.]
 [ 127236.  123624.   91581.   98500.]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,17,1,0,Cash and cash equivalents,86587.0,94738.0,82207.0,88362.0
1,17,1,1,Trade receivables,8105.0,7570.0,649.0,245.0
2,17,1,2,Current assets: Amounts due from subsidiaries,0.0,0.0,46566.0,43979.0
3,17,1,3,Inventories,24890.0,25052.0,4783.0,5153.0
4,17,1,4,Other current assets,1607.0,1797.0,641.0,633.0
5,17,1,5,Current assets,121189.0,129157.0,134846.0,138372.0
6,17,1,6,Available-for-sale financial assets,11049.0,11960.0,0.0,0.0
7,17,1,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,15388.0,14923.0
8,17,1,8,Investments in subsidiaries,0.0,0.0,25353.0,25353.0
9,17,1,9,Property and equipment,841.0,870.0,107.0,131.0
10,17,1,10,Other non-current assets,191.0,190.0,0.0,0.0
11,17,1,11,Non-current assets,12081.0,13020.0,40848.0,40407.0
12,17,1,12,Total assets,133270.0,142177.0,175694.0,178779.0
13,17,1,13,Trade payables,7585.0,9651.0,741.0,1588.0
14,17,1,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,8826.0,8325.0
15,17,1,15,Accrued liabilities and provisions,23508.0,23377.0,11697.0,11468.0
16,17,1,16,Current income tax liabilities,294.0,347.0,0.0,0.0
17,17,1,17,Current liabilities,31387.0,33375.0,21264.0,21381.0
18,17,1,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,30806.0,30162.0
19,17,1,19,Deferred income tax liabilities,10302.0,10302.0,0.0,0.0
20,17,1,20,Non-current liabilities,10302.0,10302.0,30806.0,30162.0
21,17,1,21,Total liabilities,41689.0,43677.0,52070.0,51543.0
22,17,1,22,Total equity,91581.0,98500.0,123624.0,127236.0
23,17,1,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,17,1,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,17,1,25,Fair value reserve,0.0,0.0,5856.0,6574.0
26,17,1,26,Other reserves,0.0,0.0,62364.0,62364.0
27,17,1,27,Accumulated losses,34900.0,34900.0,-227430.0,-221219.0
28,17,1,28,Equity excluding non-controlling interests,-158155.0,-161767.0,91281.0,98210.0
29,17,1,29,Non-controlling interests,127236.0,123624.0,300.0,290.0
30,17,1,30,Total equity_,127236.0,123624.0,91581.0,98500.0

 Q1FY18_Earnings_Release.pdf

nl:

0 92814.0
1 8599.0
2 0
3 21462.0
4 1950.0
5 124825.0
6 75282.0
7 5850.0
8 0
9 20413.0
10 1422.0
11 102967.0
12 88216.0
13 108.0
14 42598.0
15 2874.0
16 815.0
17 134611.0
18 69892.0
19 193.0
20 36277.0
21 2489.0
22 597.0
23 109448.0
24 9701.0
25 0
26 0
27 838.0
28 186.0
29 10725.0
30 9622.0
31 0
32 0
33 866.0
34 186.0
35 10674.0
36 0
37 4081.0
38 14665.0
39 128.0
40 0
41 18874.0
42 0
43 21323.0
44 14665.0
45 143.0
46 0
47 36131.0
48 135550.0
49 113641.0
50 153485.0
51 145579.0
52 7578.0
53 0
54 19900.0
55 0
56 27478.0
57 9300.0
58 0
59 19477.0
60 5.0
61 28782.0
62 227.0
63 9719.0
64 9527.0
65 0
66 19473.0
67 417.0
68 9272.0
69 10169.0
70 0
71 19858.0
72 0
73 10426.0
74 10426.0
75 0
76 10426.0
77 10426.0
78 27803.0
79 0
80 27803.0
81 19105.0
82 0
83 19105.0
84 37904.0
85 39208.0
86 47276.0
87 38963.0
88 97646.0
89 74433.0
90 106209.0
91 106616.0
92 266753.0
93 -16262.0
94 0
95 0
96 34851.0
97 -178726.0
98 106616.0
99 106616.0
100 266753.0
101 -16262.0
102 0
103 0
104 34840.0
105 -179122.0
106 106209.0
107 106209.0
108 266753.0
109 -16262.0
110 5807.0
111 62304.0
112 -221280.0
113 97322.0
114 324.0
115 97646.0
116 266753.0
117 -16262.0
118 5416.0
119 62315.0
120 -244112.0
121 74110.0
122 323.0
123 74433.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 92814.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Accumulated losses
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  9.28140000e+04   7.52820000e+04   8.82160000e+04   6.98920000e+04]
 [  8.59900000e+03   5.85000000e+03   1.08000000e+02   1.93000000e+02]
 [  0.00000000e+00   0.00000000e+00   4.25980000e+04   3.62770000e+04]
 [  2.14620000e+04   2.04130000e+04   2.87400000e+03   2.48900000e+03]
 [  1.95000000e+03   1.42200000e+03   8.15000000e+02   5.97000000e+02]
 [  1.24825000e+05   1.02967000e+05   1.34611000e+05   1.09448000e+05]]

iteration 1 : n_sub_s_2darr
 [[  9701.   9622.      0.      0.]
 [     0.      0.   4081.  21323.]
 [     0.      0.  14665.  14665.]
 [   838.    866.    128.    143.]
 [   186.    186.      0.      0.]
 [ 10725.  10674.  18874.  36131.]]

iteration 2 : n_sub_s_2darr
 [[ 135550.  113641.  153485.  145579.]]

iteration 3 : n_sub_s_2darr
 [[  7.57800000e+03   9.30000000e+03   2.27000000e+02   4.17000000e+02]
 [  0.00000000e+00   0.00000000e+00   9.71900000e+03   9.27200000e+03]
 [  1.99000000e+04   1.94770000e+04   9.52700000e+03   1.01690000e+04]
 [  0.00000000e+00   5.00000000e+00   0.00000000e+00   0.00000000e+00]
 [  2.74780000e+04   2.87820000e+04   1.94730000e+04   1.98580000e+04]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  27803.  19105.]
 [ 10426.  10426.      0.      0.]
 [ 10426.  10426.  27803.  19105.]]

iteration 5 : n_sub_s_2darr
 [[ 37904.  39208.  47276.  38963.]]

iteration 6 : n_sub_s_2darr
 [[  97646.   74433.  106209.  106616.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -16262.  -16262.  -16262.  -16262.]
 [      0.       0.    5807.    5416.]
 [      0.       0.   62304.   62315.]
 [  34851.   34840. -221280. -244112.]
 [-178726. -179122.   97322.   74110.]
 [ 106616.  106209.     324.     323.]
 [ 106616.  106209.   97646.   74433.]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,18,1,0,Cash and cash equivalents,92814.0,75282.0,88216.0,69892.0
1,18,1,1,Trade receivables,8599.0,5850.0,108.0,193.0
2,18,1,2,Current assets: Amounts due from subsidiaries,0.0,0.0,42598.0,36277.0
3,18,1,3,Inventories,21462.0,20413.0,2874.0,2489.0
4,18,1,4,Other current assets,1950.0,1422.0,815.0,597.0
5,18,1,5,Current assets,124825.0,102967.0,134611.0,109448.0
6,18,1,6,Available-for-sale financial assets,9701.0,9622.0,0.0,0.0
7,18,1,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,4081.0,21323.0
8,18,1,8,Investments in subsidiaries,0.0,0.0,14665.0,14665.0
9,18,1,9,Property and equipment,838.0,866.0,128.0,143.0
10,18,1,10,Other non-current assets,186.0,186.0,0.0,0.0
11,18,1,11,Non-current assets,10725.0,10674.0,18874.0,36131.0
12,18,1,12,Total assets,135550.0,113641.0,153485.0,145579.0
13,18,1,13,Trade payables,7578.0,9300.0,227.0,417.0
14,18,1,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,9719.0,9272.0
15,18,1,15,Accrued liabilities and provisions,19900.0,19477.0,9527.0,10169.0
16,18,1,16,Current income tax liabilities,0.0,5.0,0.0,0.0
17,18,1,17,Current liabilities,27478.0,28782.0,19473.0,19858.0
18,18,1,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,27803.0,19105.0
19,18,1,19,Deferred income tax liabilities,10426.0,10426.0,0.0,0.0
20,18,1,20,Non-current liabilities,10426.0,10426.0,27803.0,19105.0
21,18,1,21,Total liabilities,37904.0,39208.0,47276.0,38963.0
22,18,1,22,Total equity,97646.0,74433.0,106209.0,106616.0
23,18,1,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,18,1,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,18,1,25,Fair value reserve,0.0,0.0,5807.0,5416.0
26,18,1,26,Other reserves,0.0,0.0,62304.0,62315.0
27,18,1,27,Accumulated losses,34851.0,34840.0,-221280.0,-244112.0
28,18,1,28,Equity excluding non-controlling interests,-178726.0,-179122.0,97322.0,74110.0
29,18,1,29,Non-controlling interests,106616.0,106209.0,324.0,323.0
30,18,1,30,Total equity_,106616.0,106209.0,97646.0,74433.0

 Q2FY07_Earnings_Release.pdf

 Q2FY08_Earnings_Release.pdf

 Q2FY09_Earnings_Release.pdf

 Q2FY10_Earnings_Release.pdf

nl:

0 243438.0
1 41802.0
2 0
3 36875.0
4 20212.0
5 342327.0
6 34359.0
7 678.0
8 0
9 0
10 0
11 33792.0
12 6539.0
13 27283.0
14 102651.0
15 250551.0
16 42365.0
17 0
18 37600.0
19 21448.0
20 351964.0
21 1372.0
22 27753.0
23 977.0
24 0
25 0
26 33944.0
27 6719.0
28 31693.0
29 102458.0
30 206189.0
31 4839.0
32 37836.0
33 18572.0
34 5857.0
35 273293.0
36 218472.0
37 6017.0
38 43379.0
39 18104.0
40 4934.0
41 290906.0
42 194001.0
43 0
44 0
45 0
46 0
47 846.0
48 242174.0
49 45390.0
50 1937.0
51 186395.0
52 0
53 0
54 0
55 0
56 768.0
57 234613.0
58 45390.0
59 2060.0
60 444978.0
61 454422.0
62 515467.0
63 525519.0
64 27383.0
65 0
66 69617.0
67 2175.0
68 7.0
69 99182.0
70 30296.0
71 0
72 70014.0
73 2203.0
74 10.0
75 102523.0
76 18500.0
77 20748.0
78 29765.0
79 1955.0
80 7.0
81 70975.0
82 18608.0
83 17174.0
84 28852.0
85 2000.0
86 10.0
87 66644.0
88 0
89 27501.0
90 27501.0
91 0
92 29510.0
93 29510.0
94 21149.0
95 11800.0
96 32949.0
97 20526.0
98 13800.0
99 34326.0
100 126683.0
101 132033.0
102 103924.0
103 100970.0
104 266753.0
105 -21454.0
106 13838.0
107 60940.0
108 -2158.0
109 317919.0
110 376.0
111 318295.0
112 266753.0
113 -21475.0
114 7151.0
115 60512.0
116 9072.0
117 322013.0
118 376.0
119 322389.0
120 266753.0
121 -21454.0
122 0
123 0
124 33477.0
125 132767.0
126 411543.0
127 411543.0
128 266753.0
129 -21475.0
130 0
131 0
132 33049.0
133 146222.0
134 424549.0
135 424549.0
136 444978.0
137 454422.0
138 515467.0
139 525519.0
140 4.0
# of numbers catched: 141
# of rows catched: 35.25
First number catched: 243438.0
# of items catched:  35
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Other non-current receivables
8 	 Non-current assets: Amounts due from subsidiaries
9 	 Investments in associated companies
10 	 Investments in subsidiaries
11 	 Property and equipment
12 	 Intangible assets
13 	 Other non-current assets
14 	 Non-current assets
15 	 Total assets
16 	 Trade payables
17 	 Current liabilities: Amounts due to subsidiaries
18 	 Accrued liabilities and provisions
19 	 Current income tax liabilities
20 	 Current portion of long term obligations
21 	 Current liabilities
22 	 Non-current liabilities: Amounts due to subsidiaries
23 	 Deferred income tax liabilities
24 	 Non-current liabilities
25 	 Total liabilities
26 	 Share capital
27 	 Treasury shares
28 	 Fair value reserve
29 	 Other reserves
30 	 Retained earnings
31 	 Equity excluding non-controlling interests
32 	 Non-controlling interests
33 	 Total equity
34 	 Total liabilities and equity
cat_item_list: ['Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [60, 64, 88, 100, 104, 136, 140]

iteration 0 : n_sub_s_2darr
 [[ 243438.  250551.  206189.       0.]
 [  41802.   42365.    4839.       0.]
 [      0.       0.   37836.     846.]
 [  36875.   37600.   18572.  242174.]
 [  20212.   21448.    5857.   45390.]
 [ 342327.  351964.  273293.    1937.]
 [  34359.    1372.  218472.  186395.]
 [    678.   27753.    6017.       0.]
 [      0.     977.   43379.       0.]
 [      0.       0.   18104.       0.]
 [      0.       0.    4934.       0.]
 [  33792.   33944.  290906.     768.]
 [   6539.    6719.  194001.  234613.]
 [  27283.   31693.       0.   45390.]
 [ 102651.  102458.       0.    2060.]]

iteration 1 : n_sub_s_2darr
 [[ 444978.  454422.  515467.  525519.]]

iteration 2 : n_sub_s_2darr
 [[  2.73830000e+04   3.02960000e+04   1.85000000e+04   1.86080000e+04]
 [  0.00000000e+00   0.00000000e+00   2.07480000e+04   1.71740000e+04]
 [  6.96170000e+04   7.00140000e+04   2.97650000e+04   2.88520000e+04]
 [  2.17500000e+03   2.20300000e+03   1.95500000e+03   2.00000000e+03]
 [  7.00000000e+00   1.00000000e+01   7.00000000e+00   1.00000000e+01]
 [  9.91820000e+04   1.02523000e+05   7.09750000e+04   6.66440000e+04]]

iteration 3 : n_sub_s_2darr
 [[     0.      0.  21149.  20526.]
 [ 27501.  29510.  11800.  13800.]
 [ 27501.  29510.  32949.  34326.]]

iteration 4 : n_sub_s_2darr
 [[ 126683.  132033.  103924.  100970.]]

iteration 5 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -2.14540000e+04  -2.14750000e+04  -2.14540000e+04  -2.14750000e+04]
 [  1.38380000e+04   7.15100000e+03   0.00000000e+00   0.00000000e+00]
 [  6.09400000e+04   6.05120000e+04   0.00000000e+00   0.00000000e+00]
 [ -2.15800000e+03   9.07200000e+03   3.34770000e+04   3.30490000e+04]
 [  3.17919000e+05   3.22013000e+05   1.32767000e+05   1.46222000e+05]
 [  3.76000000e+02   3.76000000e+02   4.11543000e+05   4.24549000e+05]
 [  3.18295000e+05   3.22389000e+05   4.11543000e+05   4.24549000e+05]]

iteration 6 : n_sub_s_2darr
 [[ 444978.  454422.  515467.  525519.]]

df.shape[0]: 35

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,10,2,0,Cash and cash equivalents,243438.0,250551.0,206189.0,0.0
1,10,2,1,Trade receivables,41802.0,42365.0,4839.0,0.0
2,10,2,2,Current assets: Amounts due from subsidiaries,0.0,0.0,37836.0,846.0
3,10,2,3,Inventories,36875.0,37600.0,18572.0,242174.0
4,10,2,4,Other current assets,20212.0,21448.0,5857.0,45390.0
5,10,2,5,Current assets,342327.0,351964.0,273293.0,1937.0
6,10,2,6,Available-for-sale financial assets,34359.0,1372.0,218472.0,186395.0
7,10,2,7,Other non-current receivables,678.0,27753.0,6017.0,0.0
8,10,2,8,Non-current assets: Amounts due from subsidiaries,0.0,977.0,43379.0,0.0
9,10,2,9,Investments in associated companies,0.0,0.0,18104.0,0.0
10,10,2,10,Investments in subsidiaries,0.0,0.0,4934.0,0.0
11,10,2,11,Property and equipment,33792.0,33944.0,290906.0,768.0
12,10,2,12,Intangible assets,6539.0,6719.0,194001.0,234613.0
13,10,2,13,Other non-current assets,27283.0,31693.0,0.0,45390.0
14,10,2,14,Non-current assets,102651.0,102458.0,0.0,2060.0
15,10,2,15,Total assets,444978.0,454422.0,515467.0,525519.0
16,10,2,16,Trade payables,27383.0,30296.0,18500.0,18608.0
17,10,2,17,Current liabilities: Amounts due to subsidiaries,0.0,0.0,20748.0,17174.0
18,10,2,18,Accrued liabilities and provisions,69617.0,70014.0,29765.0,28852.0
19,10,2,19,Current income tax liabilities,2175.0,2203.0,1955.0,2000.0
20,10,2,20,Current portion of long term obligations,7.0,10.0,7.0,10.0
21,10,2,21,Current liabilities,99182.0,102523.0,70975.0,66644.0
22,10,2,22,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21149.0,20526.0
23,10,2,23,Deferred income tax liabilities,27501.0,29510.0,11800.0,13800.0
24,10,2,24,Non-current liabilities,27501.0,29510.0,32949.0,34326.0
25,10,2,25,Total liabilities,126683.0,132033.0,103924.0,100970.0
26,10,2,26,Share capital,266753.0,266753.0,266753.0,266753.0
27,10,2,27,Treasury shares,-21454.0,-21475.0,-21454.0,-21475.0
28,10,2,28,Fair value reserve,13838.0,7151.0,0.0,0.0
29,10,2,29,Other reserves,60940.0,60512.0,0.0,0.0
30,10,2,30,Retained earnings,-2158.0,9072.0,33477.0,33049.0
31,10,2,31,Equity excluding non-controlling interests,317919.0,322013.0,132767.0,146222.0
32,10,2,32,Non-controlling interests,376.0,376.0,411543.0,424549.0
33,10,2,33,Total equity,318295.0,322389.0,411543.0,424549.0
34,10,2,34,Total liabilities and equity,444978.0,454422.0,515467.0,525519.0

 Q2FY11_Earnings_Release.pdf

nl:

0 189719.0
1 31415.0
2 0
3 47875.0
4 24508.0
5 293517.0
6 214025.0
7 28999.0
8 0
9 46120.0
10 20990.0
11 310134.0
12 160963.0
13 5670.0
14 45406.0
15 27238.0
16 5680.0
17 244957.0
18 197803.0
19 4355.0
20 28880.0
21 25502.0
22 4306.0
23 260846.0
24 40378.0
25 542.0
26 0
27 0
28 387.0
29 29748.0
30 6100.0
31 18514.0
32 95669.0
33 33895.0
34 582.0
35 0
36 0
37 0
38 29411.0
39 6324.0
40 22205.0
41 92417.0
42 186629.0
43 45390.0
44 0
45 0
46 0
47 0
48 1184.0
49 1230.0
50 234433.0
51 184282.0
52 45390.0
53 0
54 0
55 0
56 0
57 998.0
58 232064.0
59 1394.0
60 389186.0
61 402551.0
62 479390.0
63 492910.0
64 23254.0
65 0
66 63917.0
67 2228.0
68 89399.0
69 24089.0
70 0
71 65249.0
72 2235.0
73 91573.0
74 16261.0
75 27846.0
76 28700.0
77 2188.0
78 74995.0
79 18218.0
80 23238.0
81 30777.0
82 1951.0
83 74184.0
84 0
85 21202.0
86 21202.0
87 0
88 21202.0
89 21202.0
90 21048.0
91 0
92 21048.0
93 21044.0
94 0
95 21044.0
96 110601.0
97 112775.0
98 96043.0
99 95228.0
100 278585.0
101 289776.0
102 383347.0
103 397682.0
104 266753.0
105 -19122.0
106 0
107 0
108 34821.0
109 115230.0
110 397682.0
111 397682.0
112 266753.0
113 -18897.0
114 0
115 0
116 36712.0
117 98779.0
118 383347.0
119 383347.0
120 266753.0
121 -18897.0
122 20383.0
123 64176.0
124 -54492.0
125 277923.0
126 662.0
127 278585.0
128 266753.0
129 -19122.0
130 13872.0
131 62285.0
132 -34654.0
133 289134.0
134 642.0
135 289776.0
136 4.0
# of numbers catched: 137
# of rows catched: 34.25
First number catched: 189719.0
# of items catched:  34
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Other non-current receivables
8 	 Non-current assets: Amounts due from subsidiaries
9 	 Investments in subsidiaries
10 	 Investments in associated companies
11 	 Property and equipment
12 	 Intangible assets
13 	 Other non-current assets
14 	 Non-current assets
15 	 Total assets
16 	 Trade payables
17 	 Current liabilities: Amounts due to subsidiaries
18 	 Accrued liabilities and provisions
19 	 Current income tax liabilities
20 	 Current liabilities
21 	 Non-current liabilities: Amounts due to subsidiaries
22 	 Deferred income tax liabilities
23 	 Non-current liabilities
24 	 Total liabilities
25 	 Total equity
26 	 Share capital
27 	 Treasury shares
28 	 Fair value reserve
29 	 Other reserves
30 	 Retained earnings
31 	 Equity excluding non-controlling interests
32 	 Non-controlling interests
33 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 60, 64, 84, 96, 100, 104, 136]

iteration 0 : n_sub_s_2darr
 [[ 189719.  214025.  160963.  197803.]
 [  31415.   28999.    5670.    4355.]
 [      0.       0.   45406.   28880.]
 [  47875.   46120.   27238.   25502.]
 [  24508.   20990.    5680.    4306.]
 [ 293517.  310134.  244957.  260846.]]

iteration 1 : n_sub_s_2darr
 [[  40378.   33895.  186629.  184282.]
 [    542.     582.   45390.   45390.]
 [      0.       0.       0.       0.]
 [      0.       0.       0.       0.]
 [    387.       0.       0.       0.]
 [  29748.   29411.       0.       0.]
 [   6100.    6324.    1184.     998.]
 [  18514.   22205.    1230.  232064.]
 [  95669.   92417.  234433.    1394.]]

iteration 2 : n_sub_s_2darr
 [[ 389186.  402551.  479390.  492910.]]

iteration 3 : n_sub_s_2darr
 [[ 23254.  24089.  16261.  18218.]
 [     0.      0.  27846.  23238.]
 [ 63917.  65249.  28700.  30777.]
 [  2228.   2235.   2188.   1951.]
 [ 89399.  91573.  74995.  74184.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  21048.  21044.]
 [ 21202.  21202.      0.      0.]
 [ 21202.  21202.  21048.  21044.]]

iteration 5 : n_sub_s_2darr
 [[ 110601.  112775.   96043.   95228.]]

iteration 6 : n_sub_s_2darr
 [[ 278585.  289776.  383347.  397682.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -19122.  -18897.  -18897.  -19122.]
 [      0.       0.   20383.   13872.]
 [      0.       0.   64176.   62285.]
 [  34821.   36712.  -54492.  -34654.]
 [ 115230.   98779.  277923.  289134.]
 [ 397682.  383347.     662.     642.]
 [ 397682.  383347.  278585.  289776.]]

df.shape[0]: 34

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,11,2,0,Cash and cash equivalents,189719.0,214025.0,160963.0,197803.0
1,11,2,1,Trade receivables,31415.0,28999.0,5670.0,4355.0
2,11,2,2,Current assets: Amounts due from subsidiaries,0.0,0.0,45406.0,28880.0
3,11,2,3,Inventories,47875.0,46120.0,27238.0,25502.0
4,11,2,4,Other current assets,24508.0,20990.0,5680.0,4306.0
5,11,2,5,Current assets,293517.0,310134.0,244957.0,260846.0
6,11,2,6,Available-for-sale financial assets,40378.0,33895.0,186629.0,184282.0
7,11,2,7,Other non-current receivables,542.0,582.0,45390.0,45390.0
8,11,2,8,Non-current assets: Amounts due from subsidiaries,0.0,0.0,0.0,0.0
9,11,2,9,Investments in subsidiaries,0.0,0.0,0.0,0.0
10,11,2,10,Investments in associated companies,387.0,0.0,0.0,0.0
11,11,2,11,Property and equipment,29748.0,29411.0,0.0,0.0
12,11,2,12,Intangible assets,6100.0,6324.0,1184.0,998.0
13,11,2,13,Other non-current assets,18514.0,22205.0,1230.0,232064.0
14,11,2,14,Non-current assets,95669.0,92417.0,234433.0,1394.0
15,11,2,15,Total assets,389186.0,402551.0,479390.0,492910.0
16,11,2,16,Trade payables,23254.0,24089.0,16261.0,18218.0
17,11,2,17,Current liabilities: Amounts due to subsidiaries,0.0,0.0,27846.0,23238.0
18,11,2,18,Accrued liabilities and provisions,63917.0,65249.0,28700.0,30777.0
19,11,2,19,Current income tax liabilities,2228.0,2235.0,2188.0,1951.0
20,11,2,20,Current liabilities,89399.0,91573.0,74995.0,74184.0
21,11,2,21,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21048.0,21044.0
22,11,2,22,Deferred income tax liabilities,21202.0,21202.0,0.0,0.0
23,11,2,23,Non-current liabilities,21202.0,21202.0,21048.0,21044.0
24,11,2,24,Total liabilities,110601.0,112775.0,96043.0,95228.0
25,11,2,25,Total equity,278585.0,289776.0,383347.0,397682.0
26,11,2,26,Share capital,266753.0,266753.0,266753.0,266753.0
27,11,2,27,Treasury shares,-19122.0,-18897.0,-18897.0,-19122.0
28,11,2,28,Fair value reserve,0.0,0.0,20383.0,13872.0
29,11,2,29,Other reserves,0.0,0.0,64176.0,62285.0
30,11,2,30,Retained earnings,34821.0,36712.0,-54492.0,-34654.0
31,11,2,31,Equity excluding non-controlling interests,115230.0,98779.0,277923.0,289134.0
32,11,2,32,Non-controlling interests,397682.0,383347.0,662.0,642.0
33,11,2,33,Total equity_,397682.0,383347.0,278585.0,289776.0

 Q2FY12_Earnings_Release.pdf

nl:

0 135879.0
1 30643.0
2 0
3 32230.0
4 18511.0
5 217263.0
6 162958.0
7 27508.0
8 0
9 44089.0
10 22642.0
11 257197.0
12 118645.0
13 8988.0
14 46020.0
15 16456.0
16 4179.0
17 194288.0
18 148693.0
19 8059.0
20 37424.0
21 23425.0
22 5966.0
23 223567.0
24 28028.0
25 148.0
26 0
27 0
28 0
29 16813.0
30 2232.0
31 11269.0
32 58490.0
33 36476.0
34 460.0
35 0
36 322.0
37 0
38 26088.0
39 5862.0
40 15600.0
41 84808.0
42 202737.0
43 0
44 0
45 0
46 30790.0
47 695.0
48 0
49 1443.0
50 235665.0
51 194391.0
52 0
53 0
54 0
55 30790.0
56 920.0
57 0
58 1422.0
59 227523.0
60 275753.0
61 342005.0
62 429953.0
63 451090.0
64 23449.0
65 0
66 63436.0
67 722.0
68 87607.0
69 20629.0
70 0
71 60662.0
72 790.0
73 82081.0
74 16741.0
75 32856.0
76 25944.0
77 0
78 75541.0
79 15203.0
80 29312.0
81 28668.0
82 0
83 73183.0
84 0
85 17902.0
86 17902.0
87 0
88 17902.0
89 17902.0
90 21146.0
91 0
92 21146.0
93 21149.0
94 0
95 21149.0
96 105509.0
97 99983.0
98 96687.0
99 94332.0
100 170244.0
101 242022.0
102 333266.0
103 356758.0
104 266753.0
105 -18362.0
106 0
107 0
108 37165.0
109 71202.0
110 356758.0
111 356758.0
112 266753.0
113 -18658.0
114 0
115 0
116 37763.0
117 47408.0
118 333266.0
119 333266.0
120 266753.0
121 -18658.0
122 9711.0
123 65227.0
124 -153474.0
125 169559.0
126 685.0
127 170244.0
128 266753.0
129 -18362.0
130 15585.0
131 64629.0
132 -87241.0
133 241364.0
134 658.0
135 242022.0
136 4.0
# of numbers catched: 137
# of rows catched: 34.25
First number catched: 135879.0
# of items catched:  34
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Other non-current receivables
8 	 Non-current assets: Amounts due from subsidiaries
9 	 Investments in associated companies
10 	 Investments in subsidiaries
11 	 Property and equipment
12 	 Intangible assets
13 	 Other non-current assets
14 	 Non-current assets
15 	 Total assets
16 	 Trade payables
17 	 Current liabilities: Amounts due to subsidiaries
18 	 Accrued liabilities and provisions
19 	 Current income tax liabilities
20 	 Current liabilities
21 	 Non-current liabilities: Amounts due to subsidiaries
22 	 Deferred income tax liabilities
23 	 Non-current liabilities
24 	 Total liabilities
25 	 Total equity
26 	 Share capital
27 	 Treasury shares
28 	 Fair value reserve
29 	 Other reserves
30 	 Retained earnings
31 	 Equity excluding non-controlling interests
32 	 Non-controlling interests
33 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 60, 64, 84, 96, 100, 104, 136]

iteration 0 : n_sub_s_2darr
 [[ 135879.  162958.  118645.  148693.]
 [  30643.   27508.    8988.    8059.]
 [      0.       0.   46020.   37424.]
 [  32230.   44089.   16456.   23425.]
 [  18511.   22642.    4179.    5966.]
 [ 217263.  257197.  194288.  223567.]]

iteration 1 : n_sub_s_2darr
 [[  2.80280000e+04   3.64760000e+04   2.02737000e+05   1.94391000e+05]
 [  1.48000000e+02   4.60000000e+02   0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   3.22000000e+02   0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   3.07900000e+04   3.07900000e+04]
 [  1.68130000e+04   2.60880000e+04   6.95000000e+02   9.20000000e+02]
 [  2.23200000e+03   5.86200000e+03   0.00000000e+00   0.00000000e+00]
 [  1.12690000e+04   1.56000000e+04   1.44300000e+03   1.42200000e+03]
 [  5.84900000e+04   8.48080000e+04   2.35665000e+05   2.27523000e+05]]

iteration 2 : n_sub_s_2darr
 [[ 275753.  342005.  429953.  451090.]]

iteration 3 : n_sub_s_2darr
 [[ 23449.  20629.  16741.  15203.]
 [     0.      0.  32856.  29312.]
 [ 63436.  60662.  25944.  28668.]
 [   722.    790.      0.      0.]
 [ 87607.  82081.  75541.  73183.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  21146.  21149.]
 [ 17902.  17902.      0.      0.]
 [ 17902.  17902.  21146.  21149.]]

iteration 5 : n_sub_s_2darr
 [[ 105509.   99983.   96687.   94332.]]

iteration 6 : n_sub_s_2darr
 [[ 170244.  242022.  333266.  356758.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -18362.  -18658.  -18658.  -18362.]
 [      0.       0.    9711.   15585.]
 [      0.       0.   65227.   64629.]
 [  37165.   37763. -153474.  -87241.]
 [  71202.   47408.  169559.  241364.]
 [ 356758.  333266.     685.     658.]
 [ 356758.  333266.  170244.  242022.]]

df.shape[0]: 34

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,12,2,0,Cash and cash equivalents,135879.0,162958.0,118645.0,148693.0
1,12,2,1,Trade receivables,30643.0,27508.0,8988.0,8059.0
2,12,2,2,Current assets: Amounts due from subsidiaries,0.0,0.0,46020.0,37424.0
3,12,2,3,Inventories,32230.0,44089.0,16456.0,23425.0
4,12,2,4,Other current assets,18511.0,22642.0,4179.0,5966.0
5,12,2,5,Current assets,217263.0,257197.0,194288.0,223567.0
6,12,2,6,Available-for-sale financial assets,28028.0,36476.0,202737.0,194391.0
7,12,2,7,Other non-current receivables,148.0,460.0,0.0,0.0
8,12,2,8,Non-current assets: Amounts due from subsidiaries,0.0,0.0,0.0,0.0
9,12,2,9,Investments in associated companies,0.0,322.0,0.0,0.0
10,12,2,10,Investments in subsidiaries,0.0,0.0,30790.0,30790.0
11,12,2,11,Property and equipment,16813.0,26088.0,695.0,920.0
12,12,2,12,Intangible assets,2232.0,5862.0,0.0,0.0
13,12,2,13,Other non-current assets,11269.0,15600.0,1443.0,1422.0
14,12,2,14,Non-current assets,58490.0,84808.0,235665.0,227523.0
15,12,2,15,Total assets,275753.0,342005.0,429953.0,451090.0
16,12,2,16,Trade payables,23449.0,20629.0,16741.0,15203.0
17,12,2,17,Current liabilities: Amounts due to subsidiaries,0.0,0.0,32856.0,29312.0
18,12,2,18,Accrued liabilities and provisions,63436.0,60662.0,25944.0,28668.0
19,12,2,19,Current income tax liabilities,722.0,790.0,0.0,0.0
20,12,2,20,Current liabilities,87607.0,82081.0,75541.0,73183.0
21,12,2,21,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21146.0,21149.0
22,12,2,22,Deferred income tax liabilities,17902.0,17902.0,0.0,0.0
23,12,2,23,Non-current liabilities,17902.0,17902.0,21146.0,21149.0
24,12,2,24,Total liabilities,105509.0,99983.0,96687.0,94332.0
25,12,2,25,Total equity,170244.0,242022.0,333266.0,356758.0
26,12,2,26,Share capital,266753.0,266753.0,266753.0,266753.0
27,12,2,27,Treasury shares,-18362.0,-18658.0,-18658.0,-18362.0
28,12,2,28,Fair value reserve,0.0,0.0,9711.0,15585.0
29,12,2,29,Other reserves,0.0,0.0,65227.0,64629.0
30,12,2,30,Retained earnings,37165.0,37763.0,-153474.0,-87241.0
31,12,2,31,Equity excluding non-controlling interests,71202.0,47408.0,169559.0,241364.0
32,12,2,32,Non-controlling interests,356758.0,333266.0,685.0,658.0
33,12,2,33,Total equity_,356758.0,333266.0,170244.0,242022.0

 Q2FY13_Earnings_Release.pdf

nl:

0 170308.0
1 22661.0
2 24722.0
3 0
4 0
5 7281.0
6 224972.0
7 131432.0
8 18841.0
9 0
10 27822.0
11 4991.0
12 12732.0
13 195818.0
14 149458.0
15 5842.0
16 53363.0
17 10396.0
18 0
19 1389.0
20 220448.0
21 117457.0
22 6294.0
23 41803.0
24 11052.0
25 0
26 1567.0
27 178173.0
28 28198.0
29 236.0
30 0
31 0
32 6582.0
33 2473.0
34 37489.0
35 26651.0
36 1088.0
37 0
38 0
39 7427.0
40 3301.0
41 38467.0
42 0
43 0
44 157771.0
45 27290.0
46 383.0
47 1370.0
48 186814.0
49 0
50 0
51 199321.0
52 27290.0
53 483.0
54 1193.0
55 228287.0
56 262461.0
57 234285.0
58 407262.0
59 406460.0
60 13167.0
61 0
62 49992.0
63 715.0
64 63874.0
65 13844.0
66 0
67 53367.0
68 742.0
69 67953.0
70 8376.0
71 44014.0
72 24503.0
73 0
74 76893.0
75 8586.0
76 36590.0
77 24692.0
78 48.0
79 69916.0
80 0
81 17902.0
82 17902.0
83 0
84 17902.0
85 17902.0
86 25163.0
87 0
88 25163.0
89 21669.0
90 0
91 21669.0
92 81776.0
93 85855.0
94 102056.0
95 91585.0
96 180685.0
97 148430.0
98 305206.0
99 314875.0
100 266753.0
101 -17676.0
102 0
103 0
104 36969.0
105 28829.0
106 314875.0
107 314875.0
108 266753.0
109 -17650.0
110 0
111 0
112 36808.0
113 19295.0
114 305206.0
115 305206.0
116 266753.0
117 -17650.0
118 10263.0
119 64272.0
120 -143183.0
121 180455.0
122 230.0
123 180685.0
124 266753.0
125 -17676.0
126 8658.0
127 64433.0
128 -173980.0
129 148188.0
130 242.0
131 148430.0
132 4.0
# of numbers catched: 133
# of rows catched: 33.25
First number catched: 170308.0
# of items catched:  33
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Property and equipment held for sale
5 	 Other current assets
6 	 Current assets
7 	 Available-for-sale financial assets
8 	 Other non-current receivables
9 	 Non-current assets: Amounts due from subsidiaries
10 	 Investments in subsidiaries
11 	 Property and equipment
12 	 Other non-current assets
13 	 Non-current assets
14 	 Total assets
15 	 Trade payables
16 	 Current liabilities: Amounts due to subsidiaries
17 	 Accrued liabilities and provisions
18 	 Current income tax liabilities
19 	 Current liabilities
20 	 Non-current liabilities: Amounts due to subsidiaries
21 	 Deferred income tax liabilities
22 	 Non-current liabilities
23 	 Total liabilities
24 	 Total equity
25 	 Share capital
26 	 Treasury shares
27 	 Fair value reserve
28 	 Other reserves
29 	 Retained earnings
30 	 Equity excluding non-controlling interests
31 	 Non-controlling interests
32 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [28, 56, 60, 80, 92, 96, 100, 132]

iteration 0 : n_sub_s_2darr
 [[ 170308.  131432.  149458.  117457.]
 [  22661.   18841.    5842.    6294.]
 [  24722.       0.   53363.   41803.]
 [      0.   27822.   10396.   11052.]
 [      0.    4991.       0.       0.]
 [   7281.   12732.    1389.    1567.]
 [ 224972.  195818.  220448.  178173.]]

iteration 1 : n_sub_s_2darr
 [[  28198.   26651.       0.       0.]
 [    236.    1088.       0.       0.]
 [      0.       0.  157771.  199321.]
 [      0.       0.   27290.   27290.]
 [   6582.    7427.     383.     483.]
 [   2473.    3301.    1370.    1193.]
 [  37489.   38467.  186814.  228287.]]

iteration 2 : n_sub_s_2darr
 [[ 262461.  234285.  407262.  406460.]]

iteration 3 : n_sub_s_2darr
 [[  1.31670000e+04   1.38440000e+04   8.37600000e+03   8.58600000e+03]
 [  0.00000000e+00   0.00000000e+00   4.40140000e+04   3.65900000e+04]
 [  4.99920000e+04   5.33670000e+04   2.45030000e+04   2.46920000e+04]
 [  7.15000000e+02   7.42000000e+02   0.00000000e+00   4.80000000e+01]
 [  6.38740000e+04   6.79530000e+04   7.68930000e+04   6.99160000e+04]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  25163.  21669.]
 [ 17902.  17902.      0.      0.]
 [ 17902.  17902.  25163.  21669.]]

iteration 5 : n_sub_s_2darr
 [[  81776.   85855.  102056.   91585.]]

iteration 6 : n_sub_s_2darr
 [[ 180685.  148430.  305206.  314875.]]

iteration 7 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.76760000e+04  -1.76500000e+04  -1.76500000e+04  -1.76760000e+04]
 [  0.00000000e+00   0.00000000e+00   1.02630000e+04   8.65800000e+03]
 [  0.00000000e+00   0.00000000e+00   6.42720000e+04   6.44330000e+04]
 [  3.69690000e+04   3.68080000e+04  -1.43183000e+05  -1.73980000e+05]
 [  2.88290000e+04   1.92950000e+04   1.80455000e+05   1.48188000e+05]
 [  3.14875000e+05   3.05206000e+05   2.30000000e+02   2.42000000e+02]
 [  3.14875000e+05   3.05206000e+05   1.80685000e+05   1.48430000e+05]]

df.shape[0]: 33

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,13,2,0,Cash and cash equivalents,170308.0,131432.0,149458.0,117457.0
1,13,2,1,Trade receivables,22661.0,18841.0,5842.0,6294.0
2,13,2,2,Current assets: Amounts due from subsidiaries,0.0,27822.0,10396.0,11052.0
3,13,2,3,Inventories,24722.0,0.0,53363.0,41803.0
4,13,2,4,Property and equipment held for sale,0.0,4991.0,0.0,0.0
5,13,2,5,Other current assets,7281.0,12732.0,1389.0,1567.0
6,13,2,6,Current assets,224972.0,195818.0,220448.0,178173.0
7,13,2,7,Available-for-sale financial assets,28198.0,26651.0,0.0,0.0
8,13,2,8,Other non-current receivables,236.0,1088.0,0.0,0.0
9,13,2,9,Non-current assets: Amounts due from subsidiaries,0.0,0.0,157771.0,199321.0
10,13,2,10,Investments in subsidiaries,0.0,0.0,27290.0,27290.0
11,13,2,11,Property and equipment,6582.0,7427.0,383.0,483.0
12,13,2,12,Other non-current assets,2473.0,3301.0,1370.0,1193.0
13,13,2,13,Non-current assets,37489.0,38467.0,186814.0,228287.0
14,13,2,14,Total assets,262461.0,234285.0,407262.0,406460.0
15,13,2,15,Trade payables,13167.0,13844.0,8376.0,8586.0
16,13,2,16,Current liabilities: Amounts due to subsidiaries,0.0,0.0,44014.0,36590.0
17,13,2,17,Accrued liabilities and provisions,49992.0,53367.0,24503.0,24692.0
18,13,2,18,Current income tax liabilities,715.0,742.0,0.0,48.0
19,13,2,19,Current liabilities,63874.0,67953.0,76893.0,69916.0
20,13,2,20,Non-current liabilities: Amounts due to subsid...,0.0,0.0,25163.0,21669.0
21,13,2,21,Deferred income tax liabilities,17902.0,17902.0,0.0,0.0
22,13,2,22,Non-current liabilities,17902.0,17902.0,25163.0,21669.0
23,13,2,23,Total liabilities,81776.0,85855.0,102056.0,91585.0
24,13,2,24,Total equity,180685.0,148430.0,305206.0,314875.0
25,13,2,25,Share capital,266753.0,266753.0,266753.0,266753.0
26,13,2,26,Treasury shares,-17676.0,-17650.0,-17650.0,-17676.0
27,13,2,27,Fair value reserve,0.0,0.0,10263.0,8658.0
28,13,2,28,Other reserves,0.0,0.0,64272.0,64433.0
29,13,2,29,Retained earnings,36969.0,36808.0,-143183.0,-173980.0
30,13,2,30,Equity excluding non-controlling interests,28829.0,19295.0,180455.0,148188.0
31,13,2,31,Non-controlling interests,314875.0,305206.0,230.0,242.0
32,13,2,32,Total equity_,314875.0,305206.0,180685.0,148430.0

 Q2FY14_Earnings_Release.pdf

nl:

0 142337.0
1 17973.0
2 0
3 28955.0
4 1939.0
5 191204.0
6 22069.0
7 0
8 0
9 6662.0
10 95.0
11 28826.0
12 163574.0
13 14728.0
14 0
15 25353.0
16 2178.0
17 205833.0
18 22654.0
19 0
20 0
21 6892.0
22 1827.0
23 31373.0
24 130496.0
25 5070.0
26 49155.0
27 13059.0
28 414.0
29 198194.0
30 0
31 145256.0
32 28390.0
33 621.0
34 0
35 174267.0
36 150804.0
37 4748.0
38 42801.0
39 11369.0
40 656.0
41 210378.0
42 0
43 146659.0
44 28390.0
45 705.0
46 1729.0
47 177483.0
48 220030.0
49 237206.0
50 372461.0
51 387861.0
52 14853.0
53 0
54 41635.0
55 733.0
56 57221.0
57 13753.0
58 0
59 44496.0
60 706.0
61 58955.0
62 11015.0
63 11413.0
64 25179.0
65 0
66 47607.0
67 9460.0
68 10940.0
69 26576.0
70 0
71 46976.0
72 0
73 15202.0
74 15202.0
75 0
76 15202.0
77 15202.0
78 21745.0
79 0
80 21745.0
81 21173.0
82 0
83 21173.0
84 72423.0
85 74157.0
86 69352.0
87 68149.0
88 147607.0
89 163049.0
90 303109.0
91 319712.0
92 266753.0
93 -16606.0
94 0
95 0
96 35887.0
97 33678.0
98 319712.0
99 319712.0
100 266753.0
101 -16527.0
102 0
103 0
104 35836.0
105 17047.0
106 303109.0
107 303109.0
108 266753.0
109 -16527.0
110 9315.0
111 63300.0
112 -175551.0
113 147290.0
114 317.0
115 147607.0
116 266753.0
117 -16606.0
118 9485.0
119 63351.0
120 -160170.0
121 162813.0
122 236.0
123 163049.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 142337.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Retained earnings
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  1.42337000e+05   1.63574000e+05   1.30496000e+05   1.50804000e+05]
 [  1.79730000e+04   1.47280000e+04   5.07000000e+03   4.74800000e+03]
 [  0.00000000e+00   0.00000000e+00   4.91550000e+04   4.28010000e+04]
 [  2.89550000e+04   2.53530000e+04   1.30590000e+04   1.13690000e+04]
 [  1.93900000e+03   2.17800000e+03   4.14000000e+02   6.56000000e+02]
 [  1.91204000e+05   2.05833000e+05   1.98194000e+05   2.10378000e+05]
 [  2.20690000e+04   2.26540000e+04   0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   1.45256000e+05   1.46659000e+05]
 [  0.00000000e+00   0.00000000e+00   2.83900000e+04   2.83900000e+04]
 [  6.66200000e+03   6.89200000e+03   6.21000000e+02   7.05000000e+02]
 [  9.50000000e+01   1.82700000e+03   0.00000000e+00   1.72900000e+03]
 [  2.88260000e+04   3.13730000e+04   1.74267000e+05   1.77483000e+05]]

iteration 1 : n_sub_s_2darr
 [[ 220030.  237206.  372461.  387861.]]

iteration 2 : n_sub_s_2darr
 [[ 14853.  13753.  11015.   9460.]
 [     0.      0.  11413.  10940.]
 [ 41635.  44496.  25179.  26576.]
 [   733.    706.      0.      0.]
 [ 57221.  58955.  47607.  46976.]]

iteration 3 : n_sub_s_2darr
 [[     0.      0.  21745.  21173.]
 [ 15202.  15202.      0.      0.]
 [ 15202.  15202.  21745.  21173.]]

iteration 4 : n_sub_s_2darr
 [[ 72423.  74157.  69352.  68149.]]

iteration 5 : n_sub_s_2darr
 [[ 147607.  163049.  303109.  319712.]]

iteration 6 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.66060000e+04  -1.65270000e+04  -1.65270000e+04  -1.66060000e+04]
 [  0.00000000e+00   0.00000000e+00   9.31500000e+03   9.48500000e+03]
 [  0.00000000e+00   0.00000000e+00   6.33000000e+04   6.33510000e+04]
 [  3.58870000e+04   3.58360000e+04  -1.75551000e+05  -1.60170000e+05]
 [  3.36780000e+04   1.70470000e+04   1.47290000e+05   1.62813000e+05]
 [  3.19712000e+05   3.03109000e+05   3.17000000e+02   2.36000000e+02]
 [  3.19712000e+05   3.03109000e+05   1.47607000e+05   1.63049000e+05]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,14,2,0,Cash and cash equivalents,142337.0,163574.0,130496.0,150804.0
1,14,2,1,Trade receivables,17973.0,14728.0,5070.0,4748.0
2,14,2,2,Current assets: Amounts due from subsidiaries,0.0,0.0,49155.0,42801.0
3,14,2,3,Inventories,28955.0,25353.0,13059.0,11369.0
4,14,2,4,Other current assets,1939.0,2178.0,414.0,656.0
5,14,2,5,Current assets,191204.0,205833.0,198194.0,210378.0
6,14,2,6,Available-for-sale financial assets,22069.0,22654.0,0.0,0.0
7,14,2,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,145256.0,146659.0
8,14,2,8,Investments in subsidiaries,0.0,0.0,28390.0,28390.0
9,14,2,9,Property and equipment,6662.0,6892.0,621.0,705.0
10,14,2,10,Other non-current assets,95.0,1827.0,0.0,1729.0
11,14,2,11,Non-current assets,28826.0,31373.0,174267.0,177483.0
12,14,2,12,Total assets,220030.0,237206.0,372461.0,387861.0
13,14,2,13,Trade payables,14853.0,13753.0,11015.0,9460.0
14,14,2,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,11413.0,10940.0
15,14,2,15,Accrued liabilities and provisions,41635.0,44496.0,25179.0,26576.0
16,14,2,16,Current income tax liabilities,733.0,706.0,0.0,0.0
17,14,2,17,Current liabilities,57221.0,58955.0,47607.0,46976.0
18,14,2,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21745.0,21173.0
19,14,2,19,Deferred income tax liabilities,15202.0,15202.0,0.0,0.0
20,14,2,20,Non-current liabilities,15202.0,15202.0,21745.0,21173.0
21,14,2,21,Total liabilities,72423.0,74157.0,69352.0,68149.0
22,14,2,22,Total equity,147607.0,163049.0,303109.0,319712.0
23,14,2,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,14,2,24,Treasury shares,-16606.0,-16527.0,-16527.0,-16606.0
25,14,2,25,Fair value reserve,0.0,0.0,9315.0,9485.0
26,14,2,26,Other reserves,0.0,0.0,63300.0,63351.0
27,14,2,27,Retained earnings,35887.0,35836.0,-175551.0,-160170.0
28,14,2,28,Equity excluding non-controlling interests,33678.0,17047.0,147290.0,162813.0
29,14,2,29,Non-controlling interests,319712.0,303109.0,317.0,236.0
30,14,2,30,Total equity_,319712.0,303109.0,147607.0,163049.0

 Q2FY15_Earnings_Release.pdf

nl:

0 103332.0
1 13938.0
2 0
3 25219.0
4 2364.0
5 144853.0
6 27829.0
7 0
8 0
9 1655.0
10 89.0
11 29573.0
12 124638.0
13 10559.0
14 0
15 28922.0
16 1896.0
17 166015.0
18 21608.0
19 0
20 0
21 6465.0
22 98.0
23 28171.0
24 91576.0
25 4863.0
26 47288.0
27 12187.0
28 463.0
29 156377.0
30 0
31 144390.0
32 23953.0
33 532.0
34 0
35 168875.0
36 118974.0
37 4208.0
38 44515.0
39 15002.0
40 187.0
41 182886.0
42 0
43 143022.0
44 24706.0
45 651.0
46 0
47 168379.0
48 174426.0
49 194186.0
50 325252.0
51 351265.0
52 8564.0
53 0
54 35391.0
55 676.0
56 44631.0
57 9383.0
58 0
59 37899.0
60 735.0
61 48017.0
62 4461.0
63 6933.0
64 20722.0
65 0
66 32116.0
67 5907.0
68 9139.0
69 24474.0
70 0
71 39520.0
72 0
73 10702.0
74 10702.0
75 0
76 10702.0
77 10702.0
78 19717.0
79 0
80 19717.0
81 21746.0
82 0
83 21746.0
84 55333.0
85 58719.0
86 51833.0
87 61266.0
88 119093.0
89 135467.0
90 273419.0
91 289999.0
92 266753.0
93 -16262.0
94 0
95 0
96 35098.0
97 -12170.0
98 273419.0
99 273419.0
100 266753.0
101 -16262.0
102 0
103 0
104 35106.0
105 4402.0
106 289999.0
107 289999.0
108 266753.0
109 -16262.0
110 15344.0
111 62562.0
112 -209474.0
113 118923.0
114 170.0
115 119093.0
116 266753.0
117 -16262.0
118 9896.0
119 62570.0
120 -187695.0
121 135262.0
122 205.0
123 135467.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 103332.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Retained earnings
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  1.03332000e+05   1.24638000e+05   9.15760000e+04   1.18974000e+05]
 [  1.39380000e+04   1.05590000e+04   4.86300000e+03   4.20800000e+03]
 [  0.00000000e+00   0.00000000e+00   4.72880000e+04   4.45150000e+04]
 [  2.52190000e+04   2.89220000e+04   1.21870000e+04   1.50020000e+04]
 [  2.36400000e+03   1.89600000e+03   4.63000000e+02   1.87000000e+02]
 [  1.44853000e+05   1.66015000e+05   1.56377000e+05   1.82886000e+05]
 [  2.78290000e+04   2.16080000e+04   0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   1.44390000e+05   1.43022000e+05]
 [  0.00000000e+00   0.00000000e+00   2.39530000e+04   2.47060000e+04]
 [  1.65500000e+03   6.46500000e+03   5.32000000e+02   6.51000000e+02]
 [  8.90000000e+01   9.80000000e+01   0.00000000e+00   0.00000000e+00]
 [  2.95730000e+04   2.81710000e+04   1.68875000e+05   1.68379000e+05]]

iteration 1 : n_sub_s_2darr
 [[ 174426.  194186.  325252.  351265.]]

iteration 2 : n_sub_s_2darr
 [[  8564.   9383.   4461.   5907.]
 [     0.      0.   6933.   9139.]
 [ 35391.  37899.  20722.  24474.]
 [   676.    735.      0.      0.]
 [ 44631.  48017.  32116.  39520.]]

iteration 3 : n_sub_s_2darr
 [[     0.      0.  19717.  21746.]
 [ 10702.  10702.      0.      0.]
 [ 10702.  10702.  19717.  21746.]]

iteration 4 : n_sub_s_2darr
 [[ 55333.  58719.  51833.  61266.]]

iteration 5 : n_sub_s_2darr
 [[ 119093.  135467.  273419.  289999.]]

iteration 6 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.62620000e+04  -1.62620000e+04  -1.62620000e+04  -1.62620000e+04]
 [  0.00000000e+00   0.00000000e+00   1.53440000e+04   9.89600000e+03]
 [  0.00000000e+00   0.00000000e+00   6.25620000e+04   6.25700000e+04]
 [  3.50980000e+04   3.51060000e+04  -2.09474000e+05  -1.87695000e+05]
 [ -1.21700000e+04   4.40200000e+03   1.18923000e+05   1.35262000e+05]
 [  2.73419000e+05   2.89999000e+05   1.70000000e+02   2.05000000e+02]
 [  2.73419000e+05   2.89999000e+05   1.19093000e+05   1.35467000e+05]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,15,2,0,Cash and cash equivalents,103332.0,124638.0,91576.0,118974.0
1,15,2,1,Trade receivables,13938.0,10559.0,4863.0,4208.0
2,15,2,2,Current assets: Amounts due from subsidiaries,0.0,0.0,47288.0,44515.0
3,15,2,3,Inventories,25219.0,28922.0,12187.0,15002.0
4,15,2,4,Other current assets,2364.0,1896.0,463.0,187.0
5,15,2,5,Current assets,144853.0,166015.0,156377.0,182886.0
6,15,2,6,Available-for-sale financial assets,27829.0,21608.0,0.0,0.0
7,15,2,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,144390.0,143022.0
8,15,2,8,Investments in subsidiaries,0.0,0.0,23953.0,24706.0
9,15,2,9,Property and equipment,1655.0,6465.0,532.0,651.0
10,15,2,10,Other non-current assets,89.0,98.0,0.0,0.0
11,15,2,11,Non-current assets,29573.0,28171.0,168875.0,168379.0
12,15,2,12,Total assets,174426.0,194186.0,325252.0,351265.0
13,15,2,13,Trade payables,8564.0,9383.0,4461.0,5907.0
14,15,2,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,6933.0,9139.0
15,15,2,15,Accrued liabilities and provisions,35391.0,37899.0,20722.0,24474.0
16,15,2,16,Current income tax liabilities,676.0,735.0,0.0,0.0
17,15,2,17,Current liabilities,44631.0,48017.0,32116.0,39520.0
18,15,2,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,19717.0,21746.0
19,15,2,19,Deferred income tax liabilities,10702.0,10702.0,0.0,0.0
20,15,2,20,Non-current liabilities,10702.0,10702.0,19717.0,21746.0
21,15,2,21,Total liabilities,55333.0,58719.0,51833.0,61266.0
22,15,2,22,Total equity,119093.0,135467.0,273419.0,289999.0
23,15,2,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,15,2,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,15,2,25,Fair value reserve,0.0,0.0,15344.0,9896.0
26,15,2,26,Other reserves,0.0,0.0,62562.0,62570.0
27,15,2,27,Retained earnings,35098.0,35106.0,-209474.0,-187695.0
28,15,2,28,Equity excluding non-controlling interests,-12170.0,4402.0,118923.0,135262.0
29,15,2,29,Non-controlling interests,273419.0,289999.0,170.0,205.0
30,15,2,30,Total equity_,273419.0,289999.0,119093.0,135467.0

 Q2FY16_Earnings_Release.pdf

nl:

0 89691.0
1 10539.0
2 0
3 27141.0
4 4211.0
5 131582.0
6 99668.0
7 9782.0
8 0
9 1361.0
10 88.0
11 19688.0
12 83002.0
13 167.0
14 41095.0
15 2770.0
16 2361.0
17 129395.0
18 0
19 137156.0
20 0
21 28879.0
22 1320.0
23 139649.0
24 11467.0
25 0
26 0
27 1115.0
28 183.0
29 12765.0
30 18239.0
31 0
32 25453.0
33 251.0
34 0
35 162860.0
36 97373.0
37 4290.0
38 31735.0
39 15939.0
40 422.0
41 149759.0
42 0
43 145344.0
44 25453.0
45 369.0
46 0
47 171166.0
48 144347.0
49 159337.0
50 292255.0
51 320925.0
52 10306.0
53 0
54 30112.0
55 626.0
56 41044.0
57 15639.0
58 0
59 31445.0
60 643.0
61 47727.0
62 625.0
63 7943.0
64 16651.0
65 0
66 25219.0
67 10409.0
68 12060.0
69 20451.0
70 0
71 42920.0
72 0
73 9902.0
74 9902.0
75 0
76 9902.0
77 9902.0
78 30150.0
79 0
80 30150.0
81 27507.0
82 0
83 27507.0
84 50946.0
85 57629.0
86 55369.0
87 70427.0
88 93401.0
89 101708.0
90 236886.0
91 250498.0
92 266753.0
93 -16262.0
94 6086.0
95 62369.0
96 -225800.0
97 93146.0
98 255.0
99 93401.0
100 266753.0
101 -16262.0
102 12304.0
103 62562.0
104 -223847.0
105 101510.0
106 198.0
107 101708.0
108 266753.0
109 -16262.0
110 0
111 0
112 34905.0
113 -48510.0
114 236886.0
115 236886.0
116 266753.0
117 -16262.0
118 0
119 0
120 35098.0
121 -35091.0
122 250498.0
123 250498.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 89691.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Accumulated losses
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  8.96910000e+04   9.96680000e+04   8.30020000e+04   0.00000000e+00]
 [  1.05390000e+04   9.78200000e+03   1.67000000e+02   1.37156000e+05]
 [  0.00000000e+00   0.00000000e+00   4.10950000e+04   0.00000000e+00]
 [  2.71410000e+04   1.36100000e+03   2.77000000e+03   2.88790000e+04]
 [  4.21100000e+03   8.80000000e+01   2.36100000e+03   1.32000000e+03]
 [  1.31582000e+05   1.96880000e+04   1.29395000e+05   1.39649000e+05]]

iteration 1 : n_sub_s_2darr
 [[  11467.   18239.   97373.       0.]
 [      0.       0.    4290.  145344.]
 [      0.   25453.   31735.   25453.]
 [   1115.     251.   15939.     369.]
 [    183.       0.     422.       0.]
 [  12765.  162860.  149759.  171166.]]

iteration 2 : n_sub_s_2darr
 [[ 144347.  159337.  292255.  320925.]]

iteration 3 : n_sub_s_2darr
 [[ 10306.  15639.    625.  10409.]
 [     0.      0.   7943.  12060.]
 [ 30112.  31445.  16651.  20451.]
 [   626.    643.      0.      0.]
 [ 41044.  47727.  25219.  42920.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  30150.  27507.]
 [  9902.   9902.      0.      0.]
 [  9902.   9902.  30150.  27507.]]

iteration 5 : n_sub_s_2darr
 [[ 50946.  57629.  55369.  70427.]]

iteration 6 : n_sub_s_2darr
 [[  93401.  101708.  236886.  250498.]]

iteration 7 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.62620000e+04  -1.62620000e+04  -1.62620000e+04  -1.62620000e+04]
 [  6.08600000e+03   1.23040000e+04   0.00000000e+00   0.00000000e+00]
 [  6.23690000e+04   6.25620000e+04   0.00000000e+00   0.00000000e+00]
 [ -2.25800000e+05  -2.23847000e+05   3.49050000e+04   3.50980000e+04]
 [  9.31460000e+04   1.01510000e+05  -4.85100000e+04  -3.50910000e+04]
 [  2.55000000e+02   1.98000000e+02   2.36886000e+05   2.50498000e+05]
 [  9.34010000e+04   1.01708000e+05   2.36886000e+05   2.50498000e+05]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,16,2,0,Cash and cash equivalents,89691.0,99668.0,83002.0,0.0
1,16,2,1,Trade receivables,10539.0,9782.0,167.0,137156.0
2,16,2,2,Current assets: Amounts due from subsidiaries,0.0,0.0,41095.0,0.0
3,16,2,3,Inventories,27141.0,1361.0,2770.0,28879.0
4,16,2,4,Other current assets,4211.0,88.0,2361.0,1320.0
5,16,2,5,Current assets,131582.0,19688.0,129395.0,139649.0
6,16,2,6,Available-for-sale financial assets,11467.0,18239.0,97373.0,0.0
7,16,2,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,4290.0,145344.0
8,16,2,8,Investments in subsidiaries,0.0,25453.0,31735.0,25453.0
9,16,2,9,Property and equipment,1115.0,251.0,15939.0,369.0
10,16,2,10,Other non-current assets,183.0,0.0,422.0,0.0
11,16,2,11,Non-current assets,12765.0,162860.0,149759.0,171166.0
12,16,2,12,Total assets,144347.0,159337.0,292255.0,320925.0
13,16,2,13,Trade payables,10306.0,15639.0,625.0,10409.0
14,16,2,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,7943.0,12060.0
15,16,2,15,Accrued liabilities and provisions,30112.0,31445.0,16651.0,20451.0
16,16,2,16,Current income tax liabilities,626.0,643.0,0.0,0.0
17,16,2,17,Current liabilities,41044.0,47727.0,25219.0,42920.0
18,16,2,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,30150.0,27507.0
19,16,2,19,Deferred income tax liabilities,9902.0,9902.0,0.0,0.0
20,16,2,20,Non-current liabilities,9902.0,9902.0,30150.0,27507.0
21,16,2,21,Total liabilities,50946.0,57629.0,55369.0,70427.0
22,16,2,22,Total equity,93401.0,101708.0,236886.0,250498.0
23,16,2,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,16,2,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,16,2,25,Fair value reserve,6086.0,12304.0,0.0,0.0
26,16,2,26,Other reserves,62369.0,62562.0,0.0,0.0
27,16,2,27,Accumulated losses,-225800.0,-223847.0,34905.0,35098.0
28,16,2,28,Equity excluding non-controlling interests,93146.0,101510.0,-48510.0,-35091.0
29,16,2,29,Non-controlling interests,255.0,198.0,236886.0,250498.0
30,16,2,30,Total equity_,93401.0,101708.0,236886.0,250498.0

 Q2FY17_Earnings_Release.pdf

nl:

0 80071.0
1 9648.0
2 0
3 23446.0
4 1452.0
5 114617.0
6 94738.0
7 7570.0
8 0
9 25052.0
10 1797.0
11 129157.0
12 74708.0
13 198.0
14 48140.0
15 4892.0
16 673.0
17 128611.0
18 88362.0
19 245.0
20 43979.0
21 5153.0
22 633.0
23 138372.0
24 10459.0
25 0
26 0
27 829.0
28 184.0
29 11472.0
30 11960.0
31 0
32 0
33 870.0
34 190.0
35 13020.0
36 0
37 15813.0
38 25353.0
39 106.0
40 0
41 41272.0
42 0
43 14923.0
44 25353.0
45 131.0
46 0
47 40407.0
48 126089.0
49 142177.0
50 169883.0
51 178779.0
52 9013.0
53 0
54 21796.0
55 268.0
56 31077.0
57 9651.0
58 0
59 23377.0
60 347.0
61 33375.0
62 795.0
63 9037.0
64 10847.0
65 0
66 20679.0
67 1588.0
68 8325.0
69 11468.0
70 0
71 21381.0
72 0
73 10302.0
74 10302.0
75 0
76 10302.0
77 10302.0
78 31042.0
79 0
80 31042.0
81 30162.0
82 0
83 30162.0
84 41379.0
85 43677.0
86 51721.0
87 51543.0
88 84710.0
89 98500.0
90 118162.0
91 127236.0
92 266753.0
93 -16262.0
94 5516.0
95 62347.0
96 -233973.0
97 84381.0
98 329.0
99 84710.0
100 266753.0
101 -16262.0
102 6574.0
103 62364.0
104 -221219.0
105 98210.0
106 290.0
107 98500.0
108 266753.0
109 -16262.0
110 0
111 0
112 34883.0
113 -167212.0
114 118162.0
115 118162.0
116 266753.0
117 -16262.0
118 0
119 0
120 34900.0
121 -158155.0
122 127236.0
123 127236.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 80071.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Accumulated losses
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  80071.   94738.   74708.   88362.]
 [   9648.    7570.     198.     245.]
 [      0.       0.   48140.   43979.]
 [  23446.   25052.    4892.    5153.]
 [   1452.    1797.     673.     633.]
 [ 114617.  129157.  128611.  138372.]]

iteration 1 : n_sub_s_2darr
 [[ 10459.  11960.      0.      0.]
 [     0.      0.  15813.  14923.]
 [     0.      0.  25353.  25353.]
 [   829.    870.    106.    131.]
 [   184.    190.      0.      0.]
 [ 11472.  13020.  41272.  40407.]]

iteration 2 : n_sub_s_2darr
 [[ 126089.  142177.  169883.  178779.]]

iteration 3 : n_sub_s_2darr
 [[  9013.   9651.    795.   1588.]
 [     0.      0.   9037.   8325.]
 [ 21796.  23377.  10847.  11468.]
 [   268.    347.      0.      0.]
 [ 31077.  33375.  20679.  21381.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  31042.  30162.]
 [ 10302.  10302.      0.      0.]
 [ 10302.  10302.  31042.  30162.]]

iteration 5 : n_sub_s_2darr
 [[ 41379.  43677.  51721.  51543.]]

iteration 6 : n_sub_s_2darr
 [[  84710.   98500.  118162.  127236.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -16262.  -16262.  -16262.  -16262.]
 [   5516.    6574.       0.       0.]
 [  62347.   62364.       0.       0.]
 [-233973. -221219.   34883.   34900.]
 [  84381.   98210. -167212. -158155.]
 [    329.     290.  118162.  127236.]
 [  84710.   98500.  118162.  127236.]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,17,2,0,Cash and cash equivalents,80071.0,94738.0,74708.0,88362.0
1,17,2,1,Trade receivables,9648.0,7570.0,198.0,245.0
2,17,2,2,Current assets: Amounts due from subsidiaries,0.0,0.0,48140.0,43979.0
3,17,2,3,Inventories,23446.0,25052.0,4892.0,5153.0
4,17,2,4,Other current assets,1452.0,1797.0,673.0,633.0
5,17,2,5,Current assets,114617.0,129157.0,128611.0,138372.0
6,17,2,6,Available-for-sale financial assets,10459.0,11960.0,0.0,0.0
7,17,2,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,15813.0,14923.0
8,17,2,8,Investments in subsidiaries,0.0,0.0,25353.0,25353.0
9,17,2,9,Property and equipment,829.0,870.0,106.0,131.0
10,17,2,10,Other non-current assets,184.0,190.0,0.0,0.0
11,17,2,11,Non-current assets,11472.0,13020.0,41272.0,40407.0
12,17,2,12,Total assets,126089.0,142177.0,169883.0,178779.0
13,17,2,13,Trade payables,9013.0,9651.0,795.0,1588.0
14,17,2,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,9037.0,8325.0
15,17,2,15,Accrued liabilities and provisions,21796.0,23377.0,10847.0,11468.0
16,17,2,16,Current income tax liabilities,268.0,347.0,0.0,0.0
17,17,2,17,Current liabilities,31077.0,33375.0,20679.0,21381.0
18,17,2,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,31042.0,30162.0
19,17,2,19,Deferred income tax liabilities,10302.0,10302.0,0.0,0.0
20,17,2,20,Non-current liabilities,10302.0,10302.0,31042.0,30162.0
21,17,2,21,Total liabilities,41379.0,43677.0,51721.0,51543.0
22,17,2,22,Total equity,84710.0,98500.0,118162.0,127236.0
23,17,2,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,17,2,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,17,2,25,Fair value reserve,5516.0,6574.0,0.0,0.0
26,17,2,26,Other reserves,62347.0,62364.0,0.0,0.0
27,17,2,27,Accumulated losses,-233973.0,-221219.0,34883.0,34900.0
28,17,2,28,Equity excluding non-controlling interests,84381.0,98210.0,-167212.0,-158155.0
29,17,2,29,Non-controlling interests,329.0,290.0,118162.0,127236.0
30,17,2,30,Total equity_,84710.0,98500.0,118162.0,127236.0

 Q2FY18_Earnings_Release.pdf

nl:

0 118352.0
1 7841.0
2 0
3 18606.0
4 2036.0
5 146835.0
6 75282.0
7 5850.0
8 0
9 20413.0
10 1422.0
11 102967.0
12 112424.0
13 34.0
14 21630.0
15 2749.0
16 848.0
17 137685.0
18 69892.0
19 193.0
20 36277.0
21 2489.0
22 597.0
23 109448.0
24 10723.0
25 0
26 0
27 799.0
28 186.0
29 11708.0
30 9622.0
31 0
32 0
33 866.0
34 186.0
35 10674.0
36 0
37 4204.0
38 14665.0
39 114.0
40 0
41 18983.0
42 0
43 21323.0
44 14665.0
45 143.0
46 0
47 36131.0
48 158543.0
49 113641.0
50 156668.0
51 145579.0
52 7199.0
53 46584.0
54 0
55 0
56 53783.0
57 9300.0
58 0
59 19477.0
60 5.0
61 28782.0
62 223.0
63 15721.0
64 9699.0
65 0
66 25643.0
67 417.0
68 9272.0
69 10169.0
70 0
71 19858.0
72 0
73 10426.0
74 10426.0
75 0
76 10426.0
77 10426.0
78 27573.0
79 0
80 27573.0
81 19105.0
82 0
83 19105.0
84 64209.0
85 39208.0
86 53216.0
87 38963.0
88 94334.0
89 74433.0
90 103452.0
91 106616.0
92 266753.0
93 -16262.0
94 0
95 0
96 34851.0
97 -178726.0
98 106616.0
99 106616.0
100 266753.0
101 -16262.0
102 0
103 0
104 34831.0
105 -181870.0
106 103452.0
107 103452.0
108 266753.0
109 -16262.0
110 6730.0
111 62295.0
112 -225516.0
113 94000.0
114 334.0
115 94334.0
116 266753.0
117 -16262.0
118 5416.0
119 62315.0
120 -244112.0
121 74110.0
122 323.0
123 74433.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 118352.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Accumulated losses
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  1.18352000e+05   7.52820000e+04   1.12424000e+05   6.98920000e+04]
 [  7.84100000e+03   5.85000000e+03   3.40000000e+01   1.93000000e+02]
 [  0.00000000e+00   0.00000000e+00   2.16300000e+04   3.62770000e+04]
 [  1.86060000e+04   2.04130000e+04   2.74900000e+03   2.48900000e+03]
 [  2.03600000e+03   1.42200000e+03   8.48000000e+02   5.97000000e+02]
 [  1.46835000e+05   1.02967000e+05   1.37685000e+05   1.09448000e+05]]

iteration 1 : n_sub_s_2darr
 [[ 10723.   9622.      0.      0.]
 [     0.      0.   4204.  21323.]
 [     0.      0.  14665.  14665.]
 [   799.    866.    114.    143.]
 [   186.    186.      0.      0.]
 [ 11708.  10674.  18983.  36131.]]

iteration 2 : n_sub_s_2darr
 [[ 158543.  113641.  156668.  145579.]]

iteration 3 : n_sub_s_2darr
 [[  7.19900000e+03   9.30000000e+03   2.23000000e+02   4.17000000e+02]
 [  4.65840000e+04   0.00000000e+00   1.57210000e+04   9.27200000e+03]
 [  0.00000000e+00   1.94770000e+04   9.69900000e+03   1.01690000e+04]
 [  0.00000000e+00   5.00000000e+00   0.00000000e+00   0.00000000e+00]
 [  5.37830000e+04   2.87820000e+04   2.56430000e+04   1.98580000e+04]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  27573.  19105.]
 [ 10426.  10426.      0.      0.]
 [ 10426.  10426.  27573.  19105.]]

iteration 5 : n_sub_s_2darr
 [[ 64209.  39208.  53216.  38963.]]

iteration 6 : n_sub_s_2darr
 [[  94334.   74433.  103452.  106616.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -16262.  -16262.  -16262.  -16262.]
 [      0.       0.    6730.    5416.]
 [      0.       0.   62295.   62315.]
 [  34851.   34831. -225516. -244112.]
 [-178726. -181870.   94000.   74110.]
 [ 106616.  103452.     334.     323.]
 [ 106616.  103452.   94334.   74433.]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,18,2,0,Cash and cash equivalents,118352.0,75282.0,112424.0,69892.0
1,18,2,1,Trade receivables,7841.0,5850.0,34.0,193.0
2,18,2,2,Current assets: Amounts due from subsidiaries,0.0,0.0,21630.0,36277.0
3,18,2,3,Inventories,18606.0,20413.0,2749.0,2489.0
4,18,2,4,Other current assets,2036.0,1422.0,848.0,597.0
5,18,2,5,Current assets,146835.0,102967.0,137685.0,109448.0
6,18,2,6,Available-for-sale financial assets,10723.0,9622.0,0.0,0.0
7,18,2,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,4204.0,21323.0
8,18,2,8,Investments in subsidiaries,0.0,0.0,14665.0,14665.0
9,18,2,9,Property and equipment,799.0,866.0,114.0,143.0
10,18,2,10,Other non-current assets,186.0,186.0,0.0,0.0
11,18,2,11,Non-current assets,11708.0,10674.0,18983.0,36131.0
12,18,2,12,Total assets,158543.0,113641.0,156668.0,145579.0
13,18,2,13,Trade payables,7199.0,9300.0,223.0,417.0
14,18,2,14,Current liabilities: Amounts due to subsidiaries,46584.0,0.0,15721.0,9272.0
15,18,2,15,Accrued liabilities and provisions,0.0,19477.0,9699.0,10169.0
16,18,2,16,Current income tax liabilities,0.0,5.0,0.0,0.0
17,18,2,17,Current liabilities,53783.0,28782.0,25643.0,19858.0
18,18,2,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,27573.0,19105.0
19,18,2,19,Deferred income tax liabilities,10426.0,10426.0,0.0,0.0
20,18,2,20,Non-current liabilities,10426.0,10426.0,27573.0,19105.0
21,18,2,21,Total liabilities,64209.0,39208.0,53216.0,38963.0
22,18,2,22,Total equity,94334.0,74433.0,103452.0,106616.0
23,18,2,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,18,2,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,18,2,25,Fair value reserve,0.0,0.0,6730.0,5416.0
26,18,2,26,Other reserves,0.0,0.0,62295.0,62315.0
27,18,2,27,Accumulated losses,34851.0,34831.0,-225516.0,-244112.0
28,18,2,28,Equity excluding non-controlling interests,-178726.0,-181870.0,94000.0,74110.0
29,18,2,29,Non-controlling interests,106616.0,103452.0,334.0,323.0
30,18,2,30,Total equity_,106616.0,103452.0,94334.0,74433.0

 Q3FY07_Earnings_Release.pdf

 Q3FY08_Earnings_Release.pdf

 Q3FY09_Earnings_Release.pdf

 Q3FY10_Earnings_Release.pdf

nl:

0 231286.0
1 31213.0
2 0
3 35120.0
4 22131.0
5 319750.0
6 40559.0
7 521.0
8 0
9 0
10 0
11 31946.0
12 6432.0
13 24712.0
14 104170.0
15 250551.0
16 42365.0
17 0
18 37600.0
19 21448.0
20 351964.0
21 1372.0
22 27753.0
23 977.0
24 0
25 0
26 33944.0
27 6719.0
28 31693.0
29 102458.0
30 210171.0
31 5501.0
32 23518.0
33 17690.0
34 5932.0
35 262812.0
36 218472.0
37 6017.0
38 43379.0
39 18104.0
40 4934.0
41 290906.0
42 194041.0
43 0
44 0
45 0
46 0
47 881.0
48 242016.0
49 45390.0
50 1704.0
51 186395.0
52 0
53 0
54 0
55 0
56 768.0
57 234613.0
58 45390.0
59 2060.0
60 423920.0
61 454422.0
62 504828.0
63 525519.0
64 22754.0
65 0
66 65168.0
67 2194.0
68 0
69 90116.0
70 30296.0
71 0
72 70014.0
73 2203.0
74 10.0
75 102523.0
76 15587.0
77 22674.0
78 27966.0
79 1983.0
80 0
81 68210.0
82 18608.0
83 17174.0
84 28852.0
85 2000.0
86 10.0
87 66644.0
88 0
89 27502.0
90 27502.0
91 0
92 29510.0
93 29510.0
94 21073.0
95 11800.0
96 32873.0
97 20526.0
98 13800.0
99 34326.0
100 117618.0
101 132033.0
102 101083.0
103 100970.0
104 266753.0
105 -21454.0
106 20038.0
107 63657.0
108 -22931.0
109 306063.0
110 239.0
111 306302.0
112 266753.0
113 -21475.0
114 7151.0
115 60512.0
116 9072.0
117 322013.0
118 376.0
119 322389.0
120 266753.0
121 -21454.0
122 0
123 0
124 36194.0
125 122252.0
126 403745.0
127 403745.0
128 266753.0
129 -21475.0
130 0
131 0
132 33049.0
133 146222.0
134 424549.0
135 424549.0
136 423920.0
137 454422.0
138 504828.0
139 525519.0
140 4.0
# of numbers catched: 141
# of rows catched: 35.25
First number catched: 231286.0
# of items catched:  35
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Other non-current receivables
8 	 Non-current assets: Amounts due from subsidiaries
9 	 Investments in associated companies
10 	 Investments in subsidiaries
11 	 Property and equipment
12 	 Intangible assets
13 	 Other non-current assets
14 	 Non-current assets
15 	 Total assets
16 	 Trade payables
17 	 Current liabilities: Amounts due to subsidiaries
18 	 Accrued liabilities and provisions
19 	 Current income tax liabilities
20 	 Current portion of long term obligations
21 	 Current liabilities
22 	 Non-current liabilities: Amounts due to subsidiaries
23 	 Deferred income tax liabilities
24 	 Non-current liabilities
25 	 Total liabilities
26 	 Share capital
27 	 Treasury shares
28 	 Fair value reserve
29 	 Other reserves
30 	 Retained earnings
31 	 Equity excluding non-controlling interests
32 	 Non-controlling interests
33 	 Total equity
34 	 Total liabilities and equity
cat_item_list: ['Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [60, 64, 88, 100, 104, 136, 140]

iteration 0 : n_sub_s_2darr
 [[ 231286.  250551.  210171.       0.]
 [  31213.   42365.    5501.       0.]
 [      0.       0.   23518.     881.]
 [  35120.   37600.   17690.  242016.]
 [  22131.   21448.    5932.   45390.]
 [ 319750.  351964.  262812.    1704.]
 [  40559.    1372.  218472.  186395.]
 [    521.   27753.    6017.       0.]
 [      0.     977.   43379.       0.]
 [      0.       0.   18104.       0.]
 [      0.       0.    4934.       0.]
 [  31946.   33944.  290906.     768.]
 [   6432.    6719.  194041.  234613.]
 [  24712.   31693.       0.   45390.]
 [ 104170.  102458.       0.    2060.]]

iteration 1 : n_sub_s_2darr
 [[ 423920.  454422.  504828.  525519.]]

iteration 2 : n_sub_s_2darr
 [[  2.27540000e+04   3.02960000e+04   1.55870000e+04   1.86080000e+04]
 [  0.00000000e+00   0.00000000e+00   2.26740000e+04   1.71740000e+04]
 [  6.51680000e+04   7.00140000e+04   2.79660000e+04   2.88520000e+04]
 [  2.19400000e+03   2.20300000e+03   1.98300000e+03   2.00000000e+03]
 [  0.00000000e+00   1.00000000e+01   0.00000000e+00   1.00000000e+01]
 [  9.01160000e+04   1.02523000e+05   6.82100000e+04   6.66440000e+04]]

iteration 3 : n_sub_s_2darr
 [[     0.      0.  21073.  20526.]
 [ 27502.  29510.  11800.  13800.]
 [ 27502.  29510.  32873.  34326.]]

iteration 4 : n_sub_s_2darr
 [[ 117618.  132033.  101083.  100970.]]

iteration 5 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -2.14540000e+04  -2.14750000e+04  -2.14540000e+04  -2.14750000e+04]
 [  2.00380000e+04   7.15100000e+03   0.00000000e+00   0.00000000e+00]
 [  6.36570000e+04   6.05120000e+04   0.00000000e+00   0.00000000e+00]
 [ -2.29310000e+04   9.07200000e+03   3.61940000e+04   3.30490000e+04]
 [  3.06063000e+05   3.22013000e+05   1.22252000e+05   1.46222000e+05]
 [  2.39000000e+02   3.76000000e+02   4.03745000e+05   4.24549000e+05]
 [  3.06302000e+05   3.22389000e+05   4.03745000e+05   4.24549000e+05]]

iteration 6 : n_sub_s_2darr
 [[ 423920.  454422.  504828.  525519.]]

df.shape[0]: 35

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,10,3,0,Cash and cash equivalents,231286.0,250551.0,210171.0,0.0
1,10,3,1,Trade receivables,31213.0,42365.0,5501.0,0.0
2,10,3,2,Current assets: Amounts due from subsidiaries,0.0,0.0,23518.0,881.0
3,10,3,3,Inventories,35120.0,37600.0,17690.0,242016.0
4,10,3,4,Other current assets,22131.0,21448.0,5932.0,45390.0
5,10,3,5,Current assets,319750.0,351964.0,262812.0,1704.0
6,10,3,6,Available-for-sale financial assets,40559.0,1372.0,218472.0,186395.0
7,10,3,7,Other non-current receivables,521.0,27753.0,6017.0,0.0
8,10,3,8,Non-current assets: Amounts due from subsidiaries,0.0,977.0,43379.0,0.0
9,10,3,9,Investments in associated companies,0.0,0.0,18104.0,0.0
10,10,3,10,Investments in subsidiaries,0.0,0.0,4934.0,0.0
11,10,3,11,Property and equipment,31946.0,33944.0,290906.0,768.0
12,10,3,12,Intangible assets,6432.0,6719.0,194041.0,234613.0
13,10,3,13,Other non-current assets,24712.0,31693.0,0.0,45390.0
14,10,3,14,Non-current assets,104170.0,102458.0,0.0,2060.0
15,10,3,15,Total assets,423920.0,454422.0,504828.0,525519.0
16,10,3,16,Trade payables,22754.0,30296.0,15587.0,18608.0
17,10,3,17,Current liabilities: Amounts due to subsidiaries,0.0,0.0,22674.0,17174.0
18,10,3,18,Accrued liabilities and provisions,65168.0,70014.0,27966.0,28852.0
19,10,3,19,Current income tax liabilities,2194.0,2203.0,1983.0,2000.0
20,10,3,20,Current portion of long term obligations,0.0,10.0,0.0,10.0
21,10,3,21,Current liabilities,90116.0,102523.0,68210.0,66644.0
22,10,3,22,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21073.0,20526.0
23,10,3,23,Deferred income tax liabilities,27502.0,29510.0,11800.0,13800.0
24,10,3,24,Non-current liabilities,27502.0,29510.0,32873.0,34326.0
25,10,3,25,Total liabilities,117618.0,132033.0,101083.0,100970.0
26,10,3,26,Share capital,266753.0,266753.0,266753.0,266753.0
27,10,3,27,Treasury shares,-21454.0,-21475.0,-21454.0,-21475.0
28,10,3,28,Fair value reserve,20038.0,7151.0,0.0,0.0
29,10,3,29,Other reserves,63657.0,60512.0,0.0,0.0
30,10,3,30,Retained earnings,-22931.0,9072.0,36194.0,33049.0
31,10,3,31,Equity excluding non-controlling interests,306063.0,322013.0,122252.0,146222.0
32,10,3,32,Non-controlling interests,239.0,376.0,403745.0,424549.0
33,10,3,33,Total equity,306302.0,322389.0,403745.0,424549.0
34,10,3,34,Total liabilities and equity,423920.0,454422.0,504828.0,525519.0

 Q3FY11_Earnings_Release.pdf

nl:

0 177322.0
1 30456.0
2 0
3 48124.0
4 22535.0
5 278437.0
6 214025.0
7 28999.0
8 0
9 46120.0
10 20990.0
11 310134.0
12 156704.0
13 5968.0
14 33459.0
15 28511.0
16 6480.0
17 231122.0
18 197803.0
19 4355.0
20 28880.0
21 25502.0
22 4306.0
23 260846.0
24 35877.0
25 606.0
26 0
27 0
28 1130.0
29 29006.0
30 5983.0
31 16144.0
32 88746.0
33 33895.0
34 582.0
35 0
36 0
37 0
38 29411.0
39 6324.0
40 22205.0
41 92417.0
42 185038.0
43 45390.0
44 0
45 0
46 0
47 0
48 1531.0
49 1487.0
50 233446.0
51 184282.0
52 45390.0
53 0
54 0
55 0
56 0
57 998.0
58 232064.0
59 1394.0
60 367183.0
61 402551.0
62 464568.0
63 492910.0
64 21915.0
65 0
66 61144.0
67 2224.0
68 85283.0
69 24089.0
70 0
71 65249.0
72 2235.0
73 91573.0
74 16062.0
75 26658.0
76 28976.0
77 1987.0
78 73683.0
79 18218.0
80 23238.0
81 30777.0
82 1951.0
83 74184.0
84 0
85 21202.0
86 21202.0
87 0
88 21202.0
89 21202.0
90 21148.0
91 0
92 21148.0
93 21044.0
94 0
95 21044.0
96 106485.0
97 112775.0
98 94831.0
99 95228.0
100 260698.0
101 289776.0
102 369737.0
103 397682.0
104 266753.0
105 -19122.0
106 0
107 0
108 34821.0
109 115230.0
110 397682.0
111 397682.0
112 266753.0
113 -18897.0
114 0
115 0
116 37708.0
117 84173.0
118 369737.0
119 369737.0
120 266753.0
121 -18897.0
122 14856.0
123 65172.0
124 -67503.0
125 260381.0
126 317.0
127 260698.0
128 266753.0
129 -19122.0
130 13872.0
131 62285.0
132 -34654.0
133 289134.0
134 642.0
135 289776.0
136 4.0
# of numbers catched: 137
# of rows catched: 34.25
First number catched: 177322.0
# of items catched:  34
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Other non-current receivables
8 	 Non-current assets: Amounts due from subsidiaries
9 	 Investments in subsidiaries
10 	 Investments in associated companies
11 	 Property and equipment
12 	 Intangible assets
13 	 Other non-current assets
14 	 Non-current assets
15 	 Total assets
16 	 Trade payables
17 	 Current liabilities: Amounts due to subsidiaries
18 	 Accrued liabilities and provisions
19 	 Current income tax liabilities
20 	 Current liabilities
21 	 Non-current liabilities: Amounts due to subsidiaries
22 	 Deferred income tax liabilities
23 	 Non-current liabilities
24 	 Total liabilities
25 	 Total equity
26 	 Share capital
27 	 Treasury shares
28 	 Fair value reserve
29 	 Other reserves
30 	 Retained earnings
31 	 Equity excluding non-controlling interests
32 	 Non-controlling interests
33 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 60, 64, 84, 96, 100, 104, 136]

iteration 0 : n_sub_s_2darr
 [[ 177322.  214025.  156704.  197803.]
 [  30456.   28999.    5968.    4355.]
 [      0.       0.   33459.   28880.]
 [  48124.   46120.   28511.   25502.]
 [  22535.   20990.    6480.    4306.]
 [ 278437.  310134.  231122.  260846.]]

iteration 1 : n_sub_s_2darr
 [[  35877.   33895.  185038.  184282.]
 [    606.     582.   45390.   45390.]
 [      0.       0.       0.       0.]
 [      0.       0.       0.       0.]
 [   1130.       0.       0.       0.]
 [  29006.   29411.       0.       0.]
 [   5983.    6324.    1531.     998.]
 [  16144.   22205.    1487.  232064.]
 [  88746.   92417.  233446.    1394.]]

iteration 2 : n_sub_s_2darr
 [[ 367183.  402551.  464568.  492910.]]

iteration 3 : n_sub_s_2darr
 [[ 21915.  24089.  16062.  18218.]
 [     0.      0.  26658.  23238.]
 [ 61144.  65249.  28976.  30777.]
 [  2224.   2235.   1987.   1951.]
 [ 85283.  91573.  73683.  74184.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  21148.  21044.]
 [ 21202.  21202.      0.      0.]
 [ 21202.  21202.  21148.  21044.]]

iteration 5 : n_sub_s_2darr
 [[ 106485.  112775.   94831.   95228.]]

iteration 6 : n_sub_s_2darr
 [[ 260698.  289776.  369737.  397682.]]

iteration 7 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.91220000e+04  -1.88970000e+04  -1.88970000e+04  -1.91220000e+04]
 [  0.00000000e+00   0.00000000e+00   1.48560000e+04   1.38720000e+04]
 [  0.00000000e+00   0.00000000e+00   6.51720000e+04   6.22850000e+04]
 [  3.48210000e+04   3.77080000e+04  -6.75030000e+04  -3.46540000e+04]
 [  1.15230000e+05   8.41730000e+04   2.60381000e+05   2.89134000e+05]
 [  3.97682000e+05   3.69737000e+05   3.17000000e+02   6.42000000e+02]
 [  3.97682000e+05   3.69737000e+05   2.60698000e+05   2.89776000e+05]]

df.shape[0]: 34

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,11,3,0,Cash and cash equivalents,177322.0,214025.0,156704.0,197803.0
1,11,3,1,Trade receivables,30456.0,28999.0,5968.0,4355.0
2,11,3,2,Current assets: Amounts due from subsidiaries,0.0,0.0,33459.0,28880.0
3,11,3,3,Inventories,48124.0,46120.0,28511.0,25502.0
4,11,3,4,Other current assets,22535.0,20990.0,6480.0,4306.0
5,11,3,5,Current assets,278437.0,310134.0,231122.0,260846.0
6,11,3,6,Available-for-sale financial assets,35877.0,33895.0,185038.0,184282.0
7,11,3,7,Other non-current receivables,606.0,582.0,45390.0,45390.0
8,11,3,8,Non-current assets: Amounts due from subsidiaries,0.0,0.0,0.0,0.0
9,11,3,9,Investments in subsidiaries,0.0,0.0,0.0,0.0
10,11,3,10,Investments in associated companies,1130.0,0.0,0.0,0.0
11,11,3,11,Property and equipment,29006.0,29411.0,0.0,0.0
12,11,3,12,Intangible assets,5983.0,6324.0,1531.0,998.0
13,11,3,13,Other non-current assets,16144.0,22205.0,1487.0,232064.0
14,11,3,14,Non-current assets,88746.0,92417.0,233446.0,1394.0
15,11,3,15,Total assets,367183.0,402551.0,464568.0,492910.0
16,11,3,16,Trade payables,21915.0,24089.0,16062.0,18218.0
17,11,3,17,Current liabilities: Amounts due to subsidiaries,0.0,0.0,26658.0,23238.0
18,11,3,18,Accrued liabilities and provisions,61144.0,65249.0,28976.0,30777.0
19,11,3,19,Current income tax liabilities,2224.0,2235.0,1987.0,1951.0
20,11,3,20,Current liabilities,85283.0,91573.0,73683.0,74184.0
21,11,3,21,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21148.0,21044.0
22,11,3,22,Deferred income tax liabilities,21202.0,21202.0,0.0,0.0
23,11,3,23,Non-current liabilities,21202.0,21202.0,21148.0,21044.0
24,11,3,24,Total liabilities,106485.0,112775.0,94831.0,95228.0
25,11,3,25,Total equity,260698.0,289776.0,369737.0,397682.0
26,11,3,26,Share capital,266753.0,266753.0,266753.0,266753.0
27,11,3,27,Treasury shares,-19122.0,-18897.0,-18897.0,-19122.0
28,11,3,28,Fair value reserve,0.0,0.0,14856.0,13872.0
29,11,3,29,Other reserves,0.0,0.0,65172.0,62285.0
30,11,3,30,Retained earnings,34821.0,37708.0,-67503.0,-34654.0
31,11,3,31,Equity excluding non-controlling interests,115230.0,84173.0,260381.0,289134.0
32,11,3,32,Non-controlling interests,397682.0,369737.0,317.0,642.0
33,11,3,33,Total equity_,397682.0,369737.0,260698.0,289776.0

 Q3FY12_Earnings_Release.pdf

nl:

0 136028.0
1 22155.0
2 0
3 27107.0
4 19210.0
5 204500.0
6 162958.0
7 27508.0
8 0
9 44089.0
10 22642.0
11 257197.0
12 123098.0
13 6146.0
14 39082.0
15 12100.0
16 2828.0
17 183254.0
18 148693.0
19 8059.0
20 37424.0
21 23425.0
22 5966.0
23 223567.0
24 30879.0
25 0
26 0
27 0
28 0
29 15969.0
30 2217.0
31 8390.0
32 57455.0
33 36476.0
34 460.0
35 0
36 322.0
37 0
38 26088.0
39 5862.0
40 15600.0
41 84808.0
42 207400.0
43 0
44 0
45 0
46 30790.0
47 606.0
48 0
49 1306.0
50 240102.0
51 194391.0
52 0
53 0
54 0
55 30790.0
56 920.0
57 0
58 1422.0
59 227523.0
60 261955.0
61 342005.0
62 423356.0
63 451090.0
64 15275.0
65 0
66 55973.0
67 738.0
68 71986.0
69 20629.0
70 0
71 60662.0
72 790.0
73 82081.0
74 9083.0
75 35705.0
76 22828.0
77 0
78 67616.0
79 15203.0
80 29312.0
81 28668.0
82 0
83 73183.0
84 0
85 17902.0
86 17902.0
87 0
88 17902.0
89 17902.0
90 24606.0
91 0
92 24606.0
93 21149.0
94 0
95 21149.0
96 89888.0
97 99983.0
98 92222.0
99 94332.0
100 172067.0
101 242022.0
102 331134.0
103 356758.0
104 266753.0
105 -18362.0
106 0
107 0
108 37165.0
109 71202.0
110 356758.0
111 356758.0
112 266753.0
113 -18658.0
114 0
115 0
116 38143.0
117 44896.0
118 331134.0
119 331134.0
120 266753.0
121 -18658.0
122 12637.0
123 65607.0
124 -155049.0
125 171290.0
126 777.0
127 172067.0
128 266753.0
129 -18362.0
130 15585.0
131 64629.0
132 -87241.0
133 241364.0
134 658.0
135 242022.0
136 4.0
# of numbers catched: 137
# of rows catched: 34.25
First number catched: 136028.0
# of items catched:  34
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Other non-current receivables
8 	 Non-current assets: Amounts due from subsidiaries
9 	 Investments in associated companies
10 	 Investments in subsidiaries
11 	 Property and equipment
12 	 Intangible assets
13 	 Other non-current assets
14 	 Non-current assets
15 	 Total assets
16 	 Trade payables
17 	 Current liabilities: Amounts due to subsidiaries
18 	 Accrued liabilities and provisions
19 	 Current income tax liabilities
20 	 Current liabilities
21 	 Non-current liabilities: Amounts due to subsidiaries
22 	 Deferred income tax liabilities
23 	 Non-current liabilities
24 	 Total liabilities
25 	 Total equity
26 	 Share capital
27 	 Treasury shares
28 	 Fair value reserve
29 	 Other reserves
30 	 Retained earnings
31 	 Equity excluding non-controlling interests
32 	 Non-controlling interests
33 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 60, 64, 84, 96, 100, 104, 136]

iteration 0 : n_sub_s_2darr
 [[ 136028.  162958.  123098.  148693.]
 [  22155.   27508.    6146.    8059.]
 [      0.       0.   39082.   37424.]
 [  27107.   44089.   12100.   23425.]
 [  19210.   22642.    2828.    5966.]
 [ 204500.  257197.  183254.  223567.]]

iteration 1 : n_sub_s_2darr
 [[  30879.   36476.  207400.  194391.]
 [      0.     460.       0.       0.]
 [      0.       0.       0.       0.]
 [      0.     322.       0.       0.]
 [      0.       0.   30790.   30790.]
 [  15969.   26088.     606.     920.]
 [   2217.    5862.       0.       0.]
 [   8390.   15600.    1306.    1422.]
 [  57455.   84808.  240102.  227523.]]

iteration 2 : n_sub_s_2darr
 [[ 261955.  342005.  423356.  451090.]]

iteration 3 : n_sub_s_2darr
 [[ 15275.  20629.   9083.  15203.]
 [     0.      0.  35705.  29312.]
 [ 55973.  60662.  22828.  28668.]
 [   738.    790.      0.      0.]
 [ 71986.  82081.  67616.  73183.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  24606.  21149.]
 [ 17902.  17902.      0.      0.]
 [ 17902.  17902.  24606.  21149.]]

iteration 5 : n_sub_s_2darr
 [[ 89888.  99983.  92222.  94332.]]

iteration 6 : n_sub_s_2darr
 [[ 172067.  242022.  331134.  356758.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -18362.  -18658.  -18658.  -18362.]
 [      0.       0.   12637.   15585.]
 [      0.       0.   65607.   64629.]
 [  37165.   38143. -155049.  -87241.]
 [  71202.   44896.  171290.  241364.]
 [ 356758.  331134.     777.     658.]
 [ 356758.  331134.  172067.  242022.]]

df.shape[0]: 34

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,12,3,0,Cash and cash equivalents,136028.0,162958.0,123098.0,148693.0
1,12,3,1,Trade receivables,22155.0,27508.0,6146.0,8059.0
2,12,3,2,Current assets: Amounts due from subsidiaries,0.0,0.0,39082.0,37424.0
3,12,3,3,Inventories,27107.0,44089.0,12100.0,23425.0
4,12,3,4,Other current assets,19210.0,22642.0,2828.0,5966.0
5,12,3,5,Current assets,204500.0,257197.0,183254.0,223567.0
6,12,3,6,Available-for-sale financial assets,30879.0,36476.0,207400.0,194391.0
7,12,3,7,Other non-current receivables,0.0,460.0,0.0,0.0
8,12,3,8,Non-current assets: Amounts due from subsidiaries,0.0,0.0,0.0,0.0
9,12,3,9,Investments in associated companies,0.0,322.0,0.0,0.0
10,12,3,10,Investments in subsidiaries,0.0,0.0,30790.0,30790.0
11,12,3,11,Property and equipment,15969.0,26088.0,606.0,920.0
12,12,3,12,Intangible assets,2217.0,5862.0,0.0,0.0
13,12,3,13,Other non-current assets,8390.0,15600.0,1306.0,1422.0
14,12,3,14,Non-current assets,57455.0,84808.0,240102.0,227523.0
15,12,3,15,Total assets,261955.0,342005.0,423356.0,451090.0
16,12,3,16,Trade payables,15275.0,20629.0,9083.0,15203.0
17,12,3,17,Current liabilities: Amounts due to subsidiaries,0.0,0.0,35705.0,29312.0
18,12,3,18,Accrued liabilities and provisions,55973.0,60662.0,22828.0,28668.0
19,12,3,19,Current income tax liabilities,738.0,790.0,0.0,0.0
20,12,3,20,Current liabilities,71986.0,82081.0,67616.0,73183.0
21,12,3,21,Non-current liabilities: Amounts due to subsid...,0.0,0.0,24606.0,21149.0
22,12,3,22,Deferred income tax liabilities,17902.0,17902.0,0.0,0.0
23,12,3,23,Non-current liabilities,17902.0,17902.0,24606.0,21149.0
24,12,3,24,Total liabilities,89888.0,99983.0,92222.0,94332.0
25,12,3,25,Total equity,172067.0,242022.0,331134.0,356758.0
26,12,3,26,Share capital,266753.0,266753.0,266753.0,266753.0
27,12,3,27,Treasury shares,-18362.0,-18658.0,-18658.0,-18362.0
28,12,3,28,Fair value reserve,0.0,0.0,12637.0,15585.0
29,12,3,29,Other reserves,0.0,0.0,65607.0,64629.0
30,12,3,30,Retained earnings,37165.0,38143.0,-155049.0,-87241.0
31,12,3,31,Equity excluding non-controlling interests,71202.0,44896.0,171290.0,241364.0
32,12,3,32,Non-controlling interests,356758.0,331134.0,777.0,658.0
33,12,3,33,Total equity_,356758.0,331134.0,172067.0,242022.0

 Q3FY13_Earnings_Release.pdf

nl:

0 165654.0
1 16939.0
2 22871.0
3 0
4 0
5 5206.0
6 210670.0
7 28522.0
8 0
9 0
10 0
11 6286.0
12 2128.0
13 36936.0
14 131432.0
15 18841.0
16 0
17 27822.0
18 4991.0
19 12732.0
20 195818.0
21 144865.0
22 5122.0
23 50486.0
24 10200.0
25 0
26 1142.0
27 211815.0
28 117457.0
29 6294.0
30 41803.0
31 11052.0
32 0
33 1567.0
34 178173.0
35 26651.0
36 1088.0
37 0
38 0
39 7427.0
40 3301.0
41 38467.0
42 0
43 0
44 158114.0
45 27290.0
46 397.0
47 1530.0
48 187331.0
49 0
50 0
51 199321.0
52 27290.0
53 483.0
54 1193.0
55 228287.0
56 247606.0
57 234285.0
58 399146.0
59 406460.0
60 12697.0
61 0
62 45573.0
63 692.0
64 58962.0
65 13844.0
66 0
67 53367.0
68 742.0
69 67953.0
70 7619.0
71 6526.0
72 23142.0
73 0
74 37287.0
75 8586.0
76 36590.0
77 24692.0
78 48.0
79 69916.0
80 0
81 17902.0
82 17902.0
83 0
84 17902.0
85 17902.0
86 25162.0
87 0
88 25162.0
89 21669.0
90 0
91 21669.0
92 76864.0
93 85855.0
94 62449.0
95 91585.0
96 170742.0
97 148430.0
98 336697.0
99 314875.0
100 266753.0
101 -17676.0
102 0
103 0
104 36969.0
105 28829.0
106 314875.0
107 314875.0
108 266753.0
109 -17650.0
110 0
111 0
112 36973.0
113 50621.0
114 336697.0
115 336697.0
116 266753.0
117 -17650.0
118 10588.0
119 64437.0
120 -153627.0
121 170501.0
122 241.0
123 170742.0
124 266753.0
125 -17676.0
126 8658.0
127 64433.0
128 -173980.0
129 148188.0
130 242.0
131 148430.0
132 4.0
# of numbers catched: 133
# of rows catched: 33.25
First number catched: 165654.0
# of items catched:  33
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Property and equipment held for sale
5 	 Other current assets
6 	 Current assets
7 	 Available-for-sale financial assets
8 	 Other non-current receivables
9 	 Non-current assets: Amounts due from subsidiaries
10 	 Investments in subsidiaries
11 	 Property and equipment
12 	 Other non-current assets
13 	 Non-current assets
14 	 Total assets
15 	 Trade payables
16 	 Current liabilities: Amounts due to subsidiaries
17 	 Accrued liabilities and provisions
18 	 Current income tax liabilities
19 	 Current liabilities
20 	 Non-current liabilities: Amounts due to subsidiaries
21 	 Deferred income tax liabilities
22 	 Non-current liabilities
23 	 Total liabilities
24 	 Total equity
25 	 Share capital
26 	 Treasury shares
27 	 Fair value reserve
28 	 Other reserves
29 	 Retained earnings
30 	 Equity excluding non-controlling interests
31 	 Non-controlling interests
32 	 Total equity_
cat_item_list: ['Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [56, 60, 80, 92, 96, 100, 132]

iteration 0 : n_sub_s_2darr
 [[ 165654.  131432.  117457.       0.]
 [  16939.   18841.    6294.       0.]
 [  22871.       0.   41803.  158114.]
 [      0.   27822.   11052.   27290.]
 [      0.    4991.       0.     397.]
 [   5206.   12732.    1567.    1530.]
 [ 210670.  195818.  178173.  187331.]
 [  28522.  144865.   26651.       0.]
 [      0.    5122.    1088.       0.]
 [      0.   50486.       0.  199321.]
 [      0.   10200.       0.   27290.]
 [   6286.       0.    7427.     483.]
 [   2128.    1142.    3301.    1193.]
 [  36936.  211815.   38467.  228287.]]

iteration 1 : n_sub_s_2darr
 [[ 247606.  234285.  399146.  406460.]]

iteration 2 : n_sub_s_2darr
 [[  1.26970000e+04   1.38440000e+04   7.61900000e+03   8.58600000e+03]
 [  0.00000000e+00   0.00000000e+00   6.52600000e+03   3.65900000e+04]
 [  4.55730000e+04   5.33670000e+04   2.31420000e+04   2.46920000e+04]
 [  6.92000000e+02   7.42000000e+02   0.00000000e+00   4.80000000e+01]
 [  5.89620000e+04   6.79530000e+04   3.72870000e+04   6.99160000e+04]]

iteration 3 : n_sub_s_2darr
 [[     0.      0.  25162.  21669.]
 [ 17902.  17902.      0.      0.]
 [ 17902.  17902.  25162.  21669.]]

iteration 4 : n_sub_s_2darr
 [[ 76864.  85855.  62449.  91585.]]

iteration 5 : n_sub_s_2darr
 [[ 170742.  148430.  336697.  314875.]]

iteration 6 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.76760000e+04  -1.76500000e+04  -1.76500000e+04  -1.76760000e+04]
 [  0.00000000e+00   0.00000000e+00   1.05880000e+04   8.65800000e+03]
 [  0.00000000e+00   0.00000000e+00   6.44370000e+04   6.44330000e+04]
 [  3.69690000e+04   3.69730000e+04  -1.53627000e+05  -1.73980000e+05]
 [  2.88290000e+04   5.06210000e+04   1.70501000e+05   1.48188000e+05]
 [  3.14875000e+05   3.36697000e+05   2.41000000e+02   2.42000000e+02]
 [  3.14875000e+05   3.36697000e+05   1.70742000e+05   1.48430000e+05]]

df.shape[0]: 33

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,13,3,0,Cash and cash equivalents,165654.0,131432.0,117457.0,0.0
1,13,3,1,Trade receivables,16939.0,18841.0,6294.0,0.0
2,13,3,2,Current assets: Amounts due from subsidiaries,0.0,27822.0,11052.0,27290.0
3,13,3,3,Inventories,22871.0,0.0,41803.0,158114.0
4,13,3,4,Property and equipment held for sale,0.0,4991.0,0.0,397.0
5,13,3,5,Other current assets,5206.0,12732.0,1567.0,1530.0
6,13,3,6,Current assets,210670.0,195818.0,178173.0,187331.0
7,13,3,7,Available-for-sale financial assets,28522.0,144865.0,26651.0,0.0
8,13,3,8,Other non-current receivables,0.0,5122.0,1088.0,0.0
9,13,3,9,Non-current assets: Amounts due from subsidiaries,0.0,50486.0,0.0,199321.0
10,13,3,10,Investments in subsidiaries,0.0,10200.0,0.0,27290.0
11,13,3,11,Property and equipment,6286.0,0.0,7427.0,483.0
12,13,3,12,Other non-current assets,2128.0,1142.0,3301.0,1193.0
13,13,3,13,Non-current assets,36936.0,211815.0,38467.0,228287.0
14,13,3,14,Total assets,247606.0,234285.0,399146.0,406460.0
15,13,3,15,Trade payables,12697.0,13844.0,7619.0,8586.0
16,13,3,16,Current liabilities: Amounts due to subsidiaries,0.0,0.0,6526.0,36590.0
17,13,3,17,Accrued liabilities and provisions,45573.0,53367.0,23142.0,24692.0
18,13,3,18,Current income tax liabilities,692.0,742.0,0.0,48.0
19,13,3,19,Current liabilities,58962.0,67953.0,37287.0,69916.0
20,13,3,20,Non-current liabilities: Amounts due to subsid...,0.0,0.0,25162.0,21669.0
21,13,3,21,Deferred income tax liabilities,17902.0,17902.0,0.0,0.0
22,13,3,22,Non-current liabilities,17902.0,17902.0,25162.0,21669.0
23,13,3,23,Total liabilities,76864.0,85855.0,62449.0,91585.0
24,13,3,24,Total equity,170742.0,148430.0,336697.0,314875.0
25,13,3,25,Share capital,266753.0,266753.0,266753.0,266753.0
26,13,3,26,Treasury shares,-17676.0,-17650.0,-17650.0,-17676.0
27,13,3,27,Fair value reserve,0.0,0.0,10588.0,8658.0
28,13,3,28,Other reserves,0.0,0.0,64437.0,64433.0
29,13,3,29,Retained earnings,36969.0,36973.0,-153627.0,-173980.0
30,13,3,30,Equity excluding non-controlling interests,28829.0,50621.0,170501.0,148188.0
31,13,3,31,Non-controlling interests,314875.0,336697.0,241.0,242.0
32,13,3,32,Total equity_,314875.0,336697.0,170742.0,148430.0

 Q3FY14_Earnings_Release.pdf

nl:

0 131846.0
1 14307.0
2 0
3 30663.0
4 2339.0
5 179155.0
6 163574.0
7 14728.0
8 0
9 6892.0
10 1827.0
11 31373.0
12 121952.0
13 5441.0
14 47693.0
15 14118.0
16 384.0
17 189588.0
18 0
19 145732.0
20 0
21 25353.0
22 2178.0
23 205833.0
24 22020.0
25 0
26 0
27 6529.0
28 97.0
29 28646.0
30 22654.0
31 0
32 28390.0
33 601.0
34 0
35 174723.0
36 150804.0
37 4748.0
38 42801.0
39 11369.0
40 656.0
41 210378.0
42 0
43 146659.0
44 28390.0
45 705.0
46 1729.0
47 177483.0
48 207801.0
49 237206.0
50 364311.0
51 387861.0
52 11557.0
53 0
54 41512.0
55 735.0
56 53804.0
57 13753.0
58 0
59 44496.0
60 706.0
61 58955.0
62 7692.0
63 8813.0
64 25256.0
65 0
66 41761.0
67 9460.0
68 10940.0
69 26576.0
70 0
71 46976.0
72 0
73 15202.0
74 15202.0
75 0
76 15202.0
77 15202.0
78 21745.0
79 0
80 21745.0
81 21173.0
82 0
83 21173.0
84 69006.0
85 74157.0
86 63506.0
87 68149.0
88 138795.0
89 163049.0
90 300805.0
91 319712.0
92 266753.0
93 -16527.0
94 9319.0
95 63242.0
96 -184308.0
97 138479.0
98 316.0
99 138795.0
100 266753.0
101 -16606.0
102 9485.0
103 63351.0
104 -160170.0
105 162813.0
106 236.0
107 163049.0
108 266753.0
109 -16527.0
110 0
111 0
112 35778.0
113 14801.0
114 300805.0
115 300805.0
116 266753.0
117 -16606.0
118 0
119 0
120 35887.0
121 33678.0
122 319712.0
123 319712.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 131846.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Retained earnings
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[ 131846.  163574.  121952.       0.]
 [  14307.   14728.    5441.  145732.]
 [      0.       0.   47693.       0.]
 [  30663.    6892.   14118.   25353.]
 [   2339.    1827.     384.    2178.]
 [ 179155.   31373.  189588.  205833.]]

iteration 1 : n_sub_s_2darr
 [[  2.20200000e+04   2.26540000e+04   1.50804000e+05   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   4.74800000e+03   1.46659000e+05]
 [  0.00000000e+00   2.83900000e+04   4.28010000e+04   2.83900000e+04]
 [  6.52900000e+03   6.01000000e+02   1.13690000e+04   7.05000000e+02]
 [  9.70000000e+01   0.00000000e+00   6.56000000e+02   1.72900000e+03]
 [  2.86460000e+04   1.74723000e+05   2.10378000e+05   1.77483000e+05]]

iteration 2 : n_sub_s_2darr
 [[ 207801.  237206.  364311.  387861.]]

iteration 3 : n_sub_s_2darr
 [[ 11557.  13753.   7692.   9460.]
 [     0.      0.   8813.  10940.]
 [ 41512.  44496.  25256.  26576.]
 [   735.    706.      0.      0.]
 [ 53804.  58955.  41761.  46976.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  21745.  21173.]
 [ 15202.  15202.      0.      0.]
 [ 15202.  15202.  21745.  21173.]]

iteration 5 : n_sub_s_2darr
 [[ 69006.  74157.  63506.  68149.]]

iteration 6 : n_sub_s_2darr
 [[ 138795.  163049.  300805.  319712.]]

iteration 7 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.65270000e+04  -1.66060000e+04  -1.65270000e+04  -1.66060000e+04]
 [  9.31900000e+03   9.48500000e+03   0.00000000e+00   0.00000000e+00]
 [  6.32420000e+04   6.33510000e+04   0.00000000e+00   0.00000000e+00]
 [ -1.84308000e+05  -1.60170000e+05   3.57780000e+04   3.58870000e+04]
 [  1.38479000e+05   1.62813000e+05   1.48010000e+04   3.36780000e+04]
 [  3.16000000e+02   2.36000000e+02   3.00805000e+05   3.19712000e+05]
 [  1.38795000e+05   1.63049000e+05   3.00805000e+05   3.19712000e+05]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,14,3,0,Cash and cash equivalents,131846.0,163574.0,121952.0,0.0
1,14,3,1,Trade receivables,14307.0,14728.0,5441.0,145732.0
2,14,3,2,Current assets: Amounts due from subsidiaries,0.0,0.0,47693.0,0.0
3,14,3,3,Inventories,30663.0,6892.0,14118.0,25353.0
4,14,3,4,Other current assets,2339.0,1827.0,384.0,2178.0
5,14,3,5,Current assets,179155.0,31373.0,189588.0,205833.0
6,14,3,6,Available-for-sale financial assets,22020.0,22654.0,150804.0,0.0
7,14,3,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,4748.0,146659.0
8,14,3,8,Investments in subsidiaries,0.0,28390.0,42801.0,28390.0
9,14,3,9,Property and equipment,6529.0,601.0,11369.0,705.0
10,14,3,10,Other non-current assets,97.0,0.0,656.0,1729.0
11,14,3,11,Non-current assets,28646.0,174723.0,210378.0,177483.0
12,14,3,12,Total assets,207801.0,237206.0,364311.0,387861.0
13,14,3,13,Trade payables,11557.0,13753.0,7692.0,9460.0
14,14,3,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,8813.0,10940.0
15,14,3,15,Accrued liabilities and provisions,41512.0,44496.0,25256.0,26576.0
16,14,3,16,Current income tax liabilities,735.0,706.0,0.0,0.0
17,14,3,17,Current liabilities,53804.0,58955.0,41761.0,46976.0
18,14,3,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21745.0,21173.0
19,14,3,19,Deferred income tax liabilities,15202.0,15202.0,0.0,0.0
20,14,3,20,Non-current liabilities,15202.0,15202.0,21745.0,21173.0
21,14,3,21,Total liabilities,69006.0,74157.0,63506.0,68149.0
22,14,3,22,Total equity,138795.0,163049.0,300805.0,319712.0
23,14,3,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,14,3,24,Treasury shares,-16527.0,-16606.0,-16527.0,-16606.0
25,14,3,25,Fair value reserve,9319.0,9485.0,0.0,0.0
26,14,3,26,Other reserves,63242.0,63351.0,0.0,0.0
27,14,3,27,Retained earnings,-184308.0,-160170.0,35778.0,35887.0
28,14,3,28,Equity excluding non-controlling interests,138479.0,162813.0,14801.0,33678.0
29,14,3,29,Non-controlling interests,316.0,236.0,300805.0,319712.0
30,14,3,30,Total equity_,138795.0,163049.0,300805.0,319712.0

 Q3FY15_Earnings_Release.pdf

nl:

0 92689.0
1 10827.0
2 0
3 27848.0
4 1728.0
5 133092.0
6 24321.0
7 0
8 0
9 1533.0
10 89.0
11 25943.0
12 124638.0
13 10559.0
14 0
15 28922.0
16 1896.0
17 166015.0
18 21608.0
19 0
20 0
21 6465.0
22 98.0
23 28171.0
24 88971.0
25 4587.0
26 37168.0
27 14822.0
28 209.0
29 145757.0
30 0
31 145490.0
32 23953.0
33 474.0
34 0
35 169917.0
36 118974.0
37 4208.0
38 44515.0
39 15002.0
40 187.0
41 182886.0
42 0
43 143022.0
44 24706.0
45 651.0
46 0
47 168379.0
48 159035.0
49 194186.0
50 315674.0
51 351265.0
52 9846.0
53 0
54 32469.0
55 622.0
56 42937.0
57 9383.0
58 0
59 37899.0
60 735.0
61 48017.0
62 5355.0
63 7337.0
64 20937.0
65 0
66 33629.0
67 5907.0
68 9139.0
69 24474.0
70 0
71 39520.0
72 0
73 10702.0
74 10702.0
75 0
76 10702.0
77 10702.0
78 22797.0
79 0
80 22797.0
81 21746.0
82 0
83 21746.0
84 53639.0
85 58719.0
86 56426.0
87 61266.0
88 105396.0
89 135467.0
90 259248.0
91 289999.0
92 266753.0
93 -16262.0
94 0
95 0
96 35098.0
97 -26341.0
98 259248.0
99 259248.0
100 266753.0
101 -16262.0
102 0
103 0
104 35106.0
105 4402.0
106 289999.0
107 289999.0
108 266753.0
109 -16262.0
110 13334.0
111 62562.0
112 -221180.0
113 105207.0
114 189.0
115 105396.0
116 266753.0
117 -16262.0
118 9896.0
119 62570.0
120 -187695.0
121 135262.0
122 205.0
123 135467.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 92689.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Retained earnings
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  9.26890000e+04   1.24638000e+05   8.89710000e+04   1.18974000e+05]
 [  1.08270000e+04   1.05590000e+04   4.58700000e+03   4.20800000e+03]
 [  0.00000000e+00   0.00000000e+00   3.71680000e+04   4.45150000e+04]
 [  2.78480000e+04   2.89220000e+04   1.48220000e+04   1.50020000e+04]
 [  1.72800000e+03   1.89600000e+03   2.09000000e+02   1.87000000e+02]
 [  1.33092000e+05   1.66015000e+05   1.45757000e+05   1.82886000e+05]
 [  2.43210000e+04   2.16080000e+04   0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   1.45490000e+05   1.43022000e+05]
 [  0.00000000e+00   0.00000000e+00   2.39530000e+04   2.47060000e+04]
 [  1.53300000e+03   6.46500000e+03   4.74000000e+02   6.51000000e+02]
 [  8.90000000e+01   9.80000000e+01   0.00000000e+00   0.00000000e+00]
 [  2.59430000e+04   2.81710000e+04   1.69917000e+05   1.68379000e+05]]

iteration 1 : n_sub_s_2darr
 [[ 159035.  194186.  315674.  351265.]]

iteration 2 : n_sub_s_2darr
 [[  9846.   9383.   5355.   5907.]
 [     0.      0.   7337.   9139.]
 [ 32469.  37899.  20937.  24474.]
 [   622.    735.      0.      0.]
 [ 42937.  48017.  33629.  39520.]]

iteration 3 : n_sub_s_2darr
 [[     0.      0.  22797.  21746.]
 [ 10702.  10702.      0.      0.]
 [ 10702.  10702.  22797.  21746.]]

iteration 4 : n_sub_s_2darr
 [[ 53639.  58719.  56426.  61266.]]

iteration 5 : n_sub_s_2darr
 [[ 105396.  135467.  259248.  289999.]]

iteration 6 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.62620000e+04  -1.62620000e+04  -1.62620000e+04  -1.62620000e+04]
 [  0.00000000e+00   0.00000000e+00   1.33340000e+04   9.89600000e+03]
 [  0.00000000e+00   0.00000000e+00   6.25620000e+04   6.25700000e+04]
 [  3.50980000e+04   3.51060000e+04  -2.21180000e+05  -1.87695000e+05]
 [ -2.63410000e+04   4.40200000e+03   1.05207000e+05   1.35262000e+05]
 [  2.59248000e+05   2.89999000e+05   1.89000000e+02   2.05000000e+02]
 [  2.59248000e+05   2.89999000e+05   1.05396000e+05   1.35467000e+05]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,15,3,0,Cash and cash equivalents,92689.0,124638.0,88971.0,118974.0
1,15,3,1,Trade receivables,10827.0,10559.0,4587.0,4208.0
2,15,3,2,Current assets: Amounts due from subsidiaries,0.0,0.0,37168.0,44515.0
3,15,3,3,Inventories,27848.0,28922.0,14822.0,15002.0
4,15,3,4,Other current assets,1728.0,1896.0,209.0,187.0
5,15,3,5,Current assets,133092.0,166015.0,145757.0,182886.0
6,15,3,6,Available-for-sale financial assets,24321.0,21608.0,0.0,0.0
7,15,3,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,145490.0,143022.0
8,15,3,8,Investments in subsidiaries,0.0,0.0,23953.0,24706.0
9,15,3,9,Property and equipment,1533.0,6465.0,474.0,651.0
10,15,3,10,Other non-current assets,89.0,98.0,0.0,0.0
11,15,3,11,Non-current assets,25943.0,28171.0,169917.0,168379.0
12,15,3,12,Total assets,159035.0,194186.0,315674.0,351265.0
13,15,3,13,Trade payables,9846.0,9383.0,5355.0,5907.0
14,15,3,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,7337.0,9139.0
15,15,3,15,Accrued liabilities and provisions,32469.0,37899.0,20937.0,24474.0
16,15,3,16,Current income tax liabilities,622.0,735.0,0.0,0.0
17,15,3,17,Current liabilities,42937.0,48017.0,33629.0,39520.0
18,15,3,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,22797.0,21746.0
19,15,3,19,Deferred income tax liabilities,10702.0,10702.0,0.0,0.0
20,15,3,20,Non-current liabilities,10702.0,10702.0,22797.0,21746.0
21,15,3,21,Total liabilities,53639.0,58719.0,56426.0,61266.0
22,15,3,22,Total equity,105396.0,135467.0,259248.0,289999.0
23,15,3,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,15,3,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,15,3,25,Fair value reserve,0.0,0.0,13334.0,9896.0
26,15,3,26,Other reserves,0.0,0.0,62562.0,62570.0
27,15,3,27,Retained earnings,35098.0,35106.0,-221180.0,-187695.0
28,15,3,28,Equity excluding non-controlling interests,-26341.0,4402.0,105207.0,135262.0
29,15,3,29,Non-controlling interests,259248.0,289999.0,189.0,205.0
30,15,3,30,Total equity_,259248.0,289999.0,105396.0,135467.0

 Q3FY16_Earnings_Release.pdf

nl:

0 96759.0
1 7924.0
2 0
3 25179.0
4 3646.0
5 133508.0
6 99668.0
7 9782.0
8 0
9 1361.0
10 88.0
11 19688.0
12 91213.0
13 175.0
14 40194.0
15 2695.0
16 2417.0
17 136694.0
18 0
19 129306.0
20 0
21 28879.0
22 1320.0
23 139649.0
24 10343.0
25 0
26 0
27 996.0
28 186.0
29 11525.0
30 18239.0
31 0
32 25453.0
33 195.0
34 0
35 154954.0
36 97373.0
37 4290.0
38 31735.0
39 15939.0
40 422.0
41 149759.0
42 0
43 145344.0
44 25453.0
45 369.0
46 0
47 171166.0
48 145033.0
49 159337.0
50 291648.0
51 320925.0
52 9323.0
53 0
54 28588.0
55 652.0
56 38563.0
57 15639.0
58 0
59 31445.0
60 643.0
61 47727.0
62 857.0
63 9277.0
64 16774.0
65 0
66 26908.0
67 10409.0
68 12060.0
69 20451.0
70 0
71 42920.0
72 0
73 10302.0
74 10302.0
75 0
76 9902.0
77 9902.0
78 30162.0
79 0
80 30162.0
81 27507.0
82 0
83 27507.0
84 48865.0
85 57629.0
86 57070.0
87 70427.0
88 96168.0
89 101708.0
90 234578.0
91 250498.0
92 266753.0
93 -16262.0
94 4781.0
95 62364.0
96 -221757.0
97 95879.0
98 289.0
99 96168.0
100 266753.0
101 -16262.0
102 12304.0
103 62562.0
104 -223847.0
105 101510.0
106 198.0
107 101708.0
108 266753.0
109 -16262.0
110 0
111 0
112 34900.0
113 -50813.0
114 234578.0
115 234578.0
116 266753.0
117 -16262.0
118 0
119 0
120 35098.0
121 -35091.0
122 250498.0
123 250498.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 96759.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Accumulated losses
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  9.67590000e+04   9.96680000e+04   9.12130000e+04   0.00000000e+00]
 [  7.92400000e+03   9.78200000e+03   1.75000000e+02   1.29306000e+05]
 [  0.00000000e+00   0.00000000e+00   4.01940000e+04   0.00000000e+00]
 [  2.51790000e+04   1.36100000e+03   2.69500000e+03   2.88790000e+04]
 [  3.64600000e+03   8.80000000e+01   2.41700000e+03   1.32000000e+03]
 [  1.33508000e+05   1.96880000e+04   1.36694000e+05   1.39649000e+05]]

iteration 1 : n_sub_s_2darr
 [[  10343.   18239.   97373.       0.]
 [      0.       0.    4290.  145344.]
 [      0.   25453.   31735.   25453.]
 [    996.     195.   15939.     369.]
 [    186.       0.     422.       0.]
 [  11525.  154954.  149759.  171166.]]

iteration 2 : n_sub_s_2darr
 [[ 145033.  159337.  291648.  320925.]]

iteration 3 : n_sub_s_2darr
 [[  9323.  15639.    857.  10409.]
 [     0.      0.   9277.  12060.]
 [ 28588.  31445.  16774.  20451.]
 [   652.    643.      0.      0.]
 [ 38563.  47727.  26908.  42920.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  30162.  27507.]
 [ 10302.   9902.      0.      0.]
 [ 10302.   9902.  30162.  27507.]]

iteration 5 : n_sub_s_2darr
 [[ 48865.  57629.  57070.  70427.]]

iteration 6 : n_sub_s_2darr
 [[  96168.  101708.  234578.  250498.]]

iteration 7 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.62620000e+04  -1.62620000e+04  -1.62620000e+04  -1.62620000e+04]
 [  4.78100000e+03   1.23040000e+04   0.00000000e+00   0.00000000e+00]
 [  6.23640000e+04   6.25620000e+04   0.00000000e+00   0.00000000e+00]
 [ -2.21757000e+05  -2.23847000e+05   3.49000000e+04   3.50980000e+04]
 [  9.58790000e+04   1.01510000e+05  -5.08130000e+04  -3.50910000e+04]
 [  2.89000000e+02   1.98000000e+02   2.34578000e+05   2.50498000e+05]
 [  9.61680000e+04   1.01708000e+05   2.34578000e+05   2.50498000e+05]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,16,3,0,Cash and cash equivalents,96759.0,99668.0,91213.0,0.0
1,16,3,1,Trade receivables,7924.0,9782.0,175.0,129306.0
2,16,3,2,Current assets: Amounts due from subsidiaries,0.0,0.0,40194.0,0.0
3,16,3,3,Inventories,25179.0,1361.0,2695.0,28879.0
4,16,3,4,Other current assets,3646.0,88.0,2417.0,1320.0
5,16,3,5,Current assets,133508.0,19688.0,136694.0,139649.0
6,16,3,6,Available-for-sale financial assets,10343.0,18239.0,97373.0,0.0
7,16,3,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,4290.0,145344.0
8,16,3,8,Investments in subsidiaries,0.0,25453.0,31735.0,25453.0
9,16,3,9,Property and equipment,996.0,195.0,15939.0,369.0
10,16,3,10,Other non-current assets,186.0,0.0,422.0,0.0
11,16,3,11,Non-current assets,11525.0,154954.0,149759.0,171166.0
12,16,3,12,Total assets,145033.0,159337.0,291648.0,320925.0
13,16,3,13,Trade payables,9323.0,15639.0,857.0,10409.0
14,16,3,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,9277.0,12060.0
15,16,3,15,Accrued liabilities and provisions,28588.0,31445.0,16774.0,20451.0
16,16,3,16,Current income tax liabilities,652.0,643.0,0.0,0.0
17,16,3,17,Current liabilities,38563.0,47727.0,26908.0,42920.0
18,16,3,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,30162.0,27507.0
19,16,3,19,Deferred income tax liabilities,10302.0,9902.0,0.0,0.0
20,16,3,20,Non-current liabilities,10302.0,9902.0,30162.0,27507.0
21,16,3,21,Total liabilities,48865.0,57629.0,57070.0,70427.0
22,16,3,22,Total equity,96168.0,101708.0,234578.0,250498.0
23,16,3,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,16,3,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,16,3,25,Fair value reserve,4781.0,12304.0,0.0,0.0
26,16,3,26,Other reserves,62364.0,62562.0,0.0,0.0
27,16,3,27,Accumulated losses,-221757.0,-223847.0,34900.0,35098.0
28,16,3,28,Equity excluding non-controlling interests,95879.0,101510.0,-50813.0,-35091.0
29,16,3,29,Non-controlling interests,289.0,198.0,234578.0,250498.0
30,16,3,30,Total equity_,96168.0,101708.0,234578.0,250498.0

 Q3FY17_Earnings_Release.pdf

nl:

0 75305.0
1 7050.0
2 0
3 21865.0
4 1236.0
5 105456.0
6 94738.0
7 7570.0
8 0
9 25052.0
10 1797.0
11 129157.0
12 63848.0
13 401.0
14 55619.0
15 4558.0
16 584.0
17 125010.0
18 88362.0
19 245.0
20 43979.0
21 5153.0
22 633.0
23 138372.0
24 11456.0
25 0
26 0
27 813.0
28 186.0
29 12455.0
30 11960.0
31 0
32 0
33 870.0
34 190.0
35 13020.0
36 0
37 22431.0
38 25365.0
39 83.0
40 0
41 47879.0
42 0
43 14923.0
44 25353.0
45 131.0
46 0
47 40407.0
48 117911.0
49 142177.0
50 172889.0
51 178779.0
52 7291.0
53 0
54 19801.0
55 274.0
56 27366.0
57 9651.0
58 0
59 23377.0
60 347.0
61 33375.0
62 785.0
63 9101.0
64 9902.0
65 0
66 19788.0
67 1588.0
68 8325.0
69 11468.0
70 0
71 21381.0
72 0
73 10302.0
74 10302.0
75 0
76 10302.0
77 10302.0
78 19042.0
79 0
80 19042.0
81 30162.0
82 0
83 30162.0
84 37668.0
85 43677.0
86 38830.0
87 51543.0
88 80243.0
89 98500.0
90 134059.0
91 127236.0
92 266753.0
93 -16262.0
94 0
95 0
96 34900.0
97 -158155.0
98 127236.0
99 127236.0
100 266753.0
101 -16262.0
102 0
103 0
104 34850.0
105 -151282.0
106 134059.0
107 134059.0
108 266753.0
109 -16262.0
110 5663.0
111 62314.0
112 -238575.0
113 79893.0
114 350.0
115 80243.0
116 266753.0
117 -16262.0
118 6574.0
119 62364.0
120 -221219.0
121 98210.0
122 290.0
123 98500.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 75305.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Accumulated losses
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  75305.   94738.   63848.   88362.]
 [   7050.    7570.     401.     245.]
 [      0.       0.   55619.   43979.]
 [  21865.   25052.    4558.    5153.]
 [   1236.    1797.     584.     633.]
 [ 105456.  129157.  125010.  138372.]]

iteration 1 : n_sub_s_2darr
 [[ 11456.  11960.      0.      0.]
 [     0.      0.  22431.  14923.]
 [     0.      0.  25365.  25353.]
 [   813.    870.     83.    131.]
 [   186.    190.      0.      0.]
 [ 12455.  13020.  47879.  40407.]]

iteration 2 : n_sub_s_2darr
 [[ 117911.  142177.  172889.  178779.]]

iteration 3 : n_sub_s_2darr
 [[  7291.   9651.    785.   1588.]
 [     0.      0.   9101.   8325.]
 [ 19801.  23377.   9902.  11468.]
 [   274.    347.      0.      0.]
 [ 27366.  33375.  19788.  21381.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  19042.  30162.]
 [ 10302.  10302.      0.      0.]
 [ 10302.  10302.  19042.  30162.]]

iteration 5 : n_sub_s_2darr
 [[ 37668.  43677.  38830.  51543.]]

iteration 6 : n_sub_s_2darr
 [[  80243.   98500.  134059.  127236.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -16262.  -16262.  -16262.  -16262.]
 [      0.       0.    5663.    6574.]
 [      0.       0.   62314.   62364.]
 [  34900.   34850. -238575. -221219.]
 [-158155. -151282.   79893.   98210.]
 [ 127236.  134059.     350.     290.]
 [ 127236.  134059.   80243.   98500.]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,17,3,0,Cash and cash equivalents,75305.0,94738.0,63848.0,88362.0
1,17,3,1,Trade receivables,7050.0,7570.0,401.0,245.0
2,17,3,2,Current assets: Amounts due from subsidiaries,0.0,0.0,55619.0,43979.0
3,17,3,3,Inventories,21865.0,25052.0,4558.0,5153.0
4,17,3,4,Other current assets,1236.0,1797.0,584.0,633.0
5,17,3,5,Current assets,105456.0,129157.0,125010.0,138372.0
6,17,3,6,Available-for-sale financial assets,11456.0,11960.0,0.0,0.0
7,17,3,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,22431.0,14923.0
8,17,3,8,Investments in subsidiaries,0.0,0.0,25365.0,25353.0
9,17,3,9,Property and equipment,813.0,870.0,83.0,131.0
10,17,3,10,Other non-current assets,186.0,190.0,0.0,0.0
11,17,3,11,Non-current assets,12455.0,13020.0,47879.0,40407.0
12,17,3,12,Total assets,117911.0,142177.0,172889.0,178779.0
13,17,3,13,Trade payables,7291.0,9651.0,785.0,1588.0
14,17,3,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,9101.0,8325.0
15,17,3,15,Accrued liabilities and provisions,19801.0,23377.0,9902.0,11468.0
16,17,3,16,Current income tax liabilities,274.0,347.0,0.0,0.0
17,17,3,17,Current liabilities,27366.0,33375.0,19788.0,21381.0
18,17,3,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,19042.0,30162.0
19,17,3,19,Deferred income tax liabilities,10302.0,10302.0,0.0,0.0
20,17,3,20,Non-current liabilities,10302.0,10302.0,19042.0,30162.0
21,17,3,21,Total liabilities,37668.0,43677.0,38830.0,51543.0
22,17,3,22,Total equity,80243.0,98500.0,134059.0,127236.0
23,17,3,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,17,3,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,17,3,25,Fair value reserve,0.0,0.0,5663.0,6574.0
26,17,3,26,Other reserves,0.0,0.0,62314.0,62364.0
27,17,3,27,Accumulated losses,34900.0,34850.0,-238575.0,-221219.0
28,17,3,28,Equity excluding non-controlling interests,-158155.0,-151282.0,79893.0,98210.0
29,17,3,29,Non-controlling interests,127236.0,134059.0,350.0,290.0
30,17,3,30,Total equity_,127236.0,134059.0,80243.0,98500.0

 Q3FY18_Earnings_Release.pdf

nl:

0 115191.0
1 6390.0
2 0
3 17238.0
4 1348.0
5 140167.0
6 75282.0
7 5850.0
8 0
9 20413.0
10 1422.0
11 102967.0
12 110896.0
13 61.0
14 22195.0
15 2586.0
16 647.0
17 136385.0
18 69892.0
19 193.0
20 36277.0
21 2489.0
22 597.0
23 109448.0
24 10357.0
25 0
26 0
27 782.0
28 189.0
29 11328.0
30 9622.0
31 0
32 0
33 866.0
34 186.0
35 10674.0
36 0
37 4232.0
38 14665.0
39 120.0
40 0
41 19017.0
42 0
43 21323.0
44 14665.0
45 143.0
46 0
47 36131.0
48 151495.0
49 113641.0
50 155402.0
51 145579.0
52 5677.0
53 45201.0
54 0
55 0
56 50878.0
57 9300.0
58 0
59 19477.0
60 5.0
61 28782.0
62 257.0
63 16320.0
64 9587.0
65 0
66 26164.0
67 417.0
68 9272.0
69 10169.0
70 0
71 19858.0
72 0
73 10426.0
74 10426.0
75 0
76 10426.0
77 10426.0
78 27223.0
79 0
80 27223.0
81 19105.0
82 0
83 19105.0
84 61304.0
85 39208.0
86 53387.0
87 38963.0
88 90191.0
89 74433.0
90 102015.0
91 106616.0
92 266753.0
93 -16262.0
94 0
95 0
96 34851.0
97 -178726.0
98 106616.0
99 106616.0
100 266753.0
101 -16262.0
102 0
103 0
104 34815.0
105 -183291.0
106 102015.0
107 102015.0
108 266753.0
109 -16262.0
110 6364.0
111 62279.0
112 -229272.0
113 89862.0
114 329.0
115 90191.0
116 266753.0
117 -16262.0
118 5416.0
119 62315.0
120 -244112.0
121 74110.0
122 323.0
123 74433.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 115191.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Accumulated losses
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  1.15191000e+05   7.52820000e+04   1.10896000e+05   6.98920000e+04]
 [  6.39000000e+03   5.85000000e+03   6.10000000e+01   1.93000000e+02]
 [  0.00000000e+00   0.00000000e+00   2.21950000e+04   3.62770000e+04]
 [  1.72380000e+04   2.04130000e+04   2.58600000e+03   2.48900000e+03]
 [  1.34800000e+03   1.42200000e+03   6.47000000e+02   5.97000000e+02]
 [  1.40167000e+05   1.02967000e+05   1.36385000e+05   1.09448000e+05]]

iteration 1 : n_sub_s_2darr
 [[ 10357.   9622.      0.      0.]
 [     0.      0.   4232.  21323.]
 [     0.      0.  14665.  14665.]
 [   782.    866.    120.    143.]
 [   189.    186.      0.      0.]
 [ 11328.  10674.  19017.  36131.]]

iteration 2 : n_sub_s_2darr
 [[ 151495.  113641.  155402.  145579.]]

iteration 3 : n_sub_s_2darr
 [[  5.67700000e+03   9.30000000e+03   2.57000000e+02   4.17000000e+02]
 [  4.52010000e+04   0.00000000e+00   1.63200000e+04   9.27200000e+03]
 [  0.00000000e+00   1.94770000e+04   9.58700000e+03   1.01690000e+04]
 [  0.00000000e+00   5.00000000e+00   0.00000000e+00   0.00000000e+00]
 [  5.08780000e+04   2.87820000e+04   2.61640000e+04   1.98580000e+04]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  27223.  19105.]
 [ 10426.  10426.      0.      0.]
 [ 10426.  10426.  27223.  19105.]]

iteration 5 : n_sub_s_2darr
 [[ 61304.  39208.  53387.  38963.]]

iteration 6 : n_sub_s_2darr
 [[  90191.   74433.  102015.  106616.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -16262.  -16262.  -16262.  -16262.]
 [      0.       0.    6364.    5416.]
 [      0.       0.   62279.   62315.]
 [  34851.   34815. -229272. -244112.]
 [-178726. -183291.   89862.   74110.]
 [ 106616.  102015.     329.     323.]
 [ 106616.  102015.   90191.   74433.]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,18,3,0,Cash and cash equivalents,115191.0,75282.0,110896.0,69892.0
1,18,3,1,Trade receivables,6390.0,5850.0,61.0,193.0
2,18,3,2,Current assets: Amounts due from subsidiaries,0.0,0.0,22195.0,36277.0
3,18,3,3,Inventories,17238.0,20413.0,2586.0,2489.0
4,18,3,4,Other current assets,1348.0,1422.0,647.0,597.0
5,18,3,5,Current assets,140167.0,102967.0,136385.0,109448.0
6,18,3,6,Available-for-sale financial assets,10357.0,9622.0,0.0,0.0
7,18,3,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,4232.0,21323.0
8,18,3,8,Investments in subsidiaries,0.0,0.0,14665.0,14665.0
9,18,3,9,Property and equipment,782.0,866.0,120.0,143.0
10,18,3,10,Other non-current assets,189.0,186.0,0.0,0.0
11,18,3,11,Non-current assets,11328.0,10674.0,19017.0,36131.0
12,18,3,12,Total assets,151495.0,113641.0,155402.0,145579.0
13,18,3,13,Trade payables,5677.0,9300.0,257.0,417.0
14,18,3,14,Current liabilities: Amounts due to subsidiaries,45201.0,0.0,16320.0,9272.0
15,18,3,15,Accrued liabilities and provisions,0.0,19477.0,9587.0,10169.0
16,18,3,16,Current income tax liabilities,0.0,5.0,0.0,0.0
17,18,3,17,Current liabilities,50878.0,28782.0,26164.0,19858.0
18,18,3,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,27223.0,19105.0
19,18,3,19,Deferred income tax liabilities,10426.0,10426.0,0.0,0.0
20,18,3,20,Non-current liabilities,10426.0,10426.0,27223.0,19105.0
21,18,3,21,Total liabilities,61304.0,39208.0,53387.0,38963.0
22,18,3,22,Total equity,90191.0,74433.0,102015.0,106616.0
23,18,3,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,18,3,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,18,3,25,Fair value reserve,0.0,0.0,6364.0,5416.0
26,18,3,26,Other reserves,0.0,0.0,62279.0,62315.0
27,18,3,27,Accumulated losses,34851.0,34815.0,-229272.0,-244112.0
28,18,3,28,Equity excluding non-controlling interests,-178726.0,-183291.0,89862.0,74110.0
29,18,3,29,Non-controlling interests,106616.0,102015.0,329.0,323.0
30,18,3,30,Total equity_,106616.0,102015.0,90191.0,74433.0

 Q4FY07_Earnings_Release.pdf

 Q4FY09EarningsReleaseSGX.pdf

 Q4FY10_Earnings_Release.pdf

nl:

0 214025.0
1 28999.0
2 0
3 46120.0
4 20990.0
5 310134.0
6 250551.0
7 42365.0
8 0
9 37600.0
10 21448.0
11 351964.0
12 31693.0
13 102458.0
14 197803.0
15 4355.0
16 28880.0
17 25502.0
18 184282.0
19 0
20 0
21 0
22 0
23 998.0
24 33895.0
25 582.0
26 0
27 0
28 0
29 29411.0
30 6324.0
31 22205.0
32 92417.0
33 1372.0
34 27753.0
35 977.0
36 0
37 0
38 33944.0
39 6719.0
40 4306.0
41 260846.0
42 218472.0
43 6017.0
44 43379.0
45 18104.0
46 4934.0
47 290906.0
48 232064.0
49 45390.0
50 1394.0
51 186395.0
52 0
53 0
54 0
55 0
56 768.0
57 234613.0
58 45390.0
59 2060.0
60 402551.0
61 454422.0
62 492910.0
63 525519.0
64 24089.0
65 0
66 65249.0
67 2235.0
68 0
69 91573.0
70 30296.0
71 0
72 70014.0
73 2203.0
74 10.0
75 102523.0
76 18218.0
77 23238.0
78 30777.0
79 1951.0
80 0
81 74184.0
82 18608.0
83 17174.0
84 28852.0
85 2000.0
86 10.0
87 66644.0
88 0
89 21202.0
90 21202.0
91 0
92 29510.0
93 29510.0
94 21044.0
95 0
96 21044.0
97 20526.0
98 13800.0
99 34326.0
100 112775.0
101 132033.0
102 95228.0
103 100970.0
104 266753.0
105 -19122.0
106 13872.0
107 62285.0
108 -34654.0
109 289134.0
110 642.0
111 289776.0
112 266753.0
113 -21475.0
114 7151.0
115 60512.0
116 9072.0
117 322013.0
118 376.0
119 322389.0
120 266753.0
121 -19122.0
122 0
123 0
124 34821.0
125 115230.0
126 397682.0
127 397682.0
128 266753.0
129 -21475.0
130 0
131 0
132 33049.0
133 146222.0
134 424549.0
135 424549.0
136 402551.0
137 454422.0
138 492910.0
139 525519.0
140 5.0
# of numbers catched: 141
# of rows catched: 35.25
First number catched: 214025.0
# of items catched:  35
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Other non-current receivables
8 	 Non-current assets: Amounts due from subsidiaries
9 	 Investments in associated companies
10 	 Investments in subsidiaries
11 	 Property and equipment
12 	 Intangible assets
13 	 Other non-current assets
14 	 Non-current assets
15 	 Total assets
16 	 Trade payables
17 	 Current liabilities: Amounts due to subsidiaries
18 	 Accrued liabilities and provisions
19 	 Current income tax liabilities
20 	 Current portion of long term obligations
21 	 Current liabilities
22 	 Non-current liabilities: Amounts due to subsidiaries
23 	 Deferred income tax liabilities
24 	 Non-current liabilities
25 	 Total liabilities
26 	 Share capital
27 	 Treasury shares
28 	 Fair value reserve
29 	 Other reserves
30 	 Retained earnings
31 	 Equity excluding non-controlling interests
32 	 Non-controlling interests
33 	 Total equity
34 	 Total liabilities and equity
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 60, 64, 88, 100, 104, 136, 140]

iteration 0 : n_sub_s_2darr
 [[ 214025.  250551.   31693.  184282.]
 [  28999.   42365.  102458.       0.]
 [      0.       0.  197803.       0.]
 [  46120.   37600.    4355.       0.]
 [  20990.   21448.   28880.       0.]
 [ 310134.  351964.   25502.     998.]]

iteration 1 : n_sub_s_2darr
 [[  33895.    1372.  218472.  186395.]
 [    582.   27753.    6017.       0.]
 [      0.     977.   43379.       0.]
 [      0.       0.   18104.       0.]
 [      0.       0.    4934.       0.]
 [  29411.   33944.  290906.     768.]
 [   6324.    6719.  232064.  234613.]
 [  22205.    4306.   45390.   45390.]
 [  92417.  260846.    1394.    2060.]]

iteration 2 : n_sub_s_2darr
 [[ 402551.  454422.  492910.  525519.]]

iteration 3 : n_sub_s_2darr
 [[  2.40890000e+04   3.02960000e+04   1.82180000e+04   1.86080000e+04]
 [  0.00000000e+00   0.00000000e+00   2.32380000e+04   1.71740000e+04]
 [  6.52490000e+04   7.00140000e+04   3.07770000e+04   2.88520000e+04]
 [  2.23500000e+03   2.20300000e+03   1.95100000e+03   2.00000000e+03]
 [  0.00000000e+00   1.00000000e+01   0.00000000e+00   1.00000000e+01]
 [  9.15730000e+04   1.02523000e+05   7.41840000e+04   6.66440000e+04]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  21044.  20526.]
 [ 21202.  29510.      0.  13800.]
 [ 21202.  29510.  21044.  34326.]]

iteration 5 : n_sub_s_2darr
 [[ 112775.  132033.   95228.  100970.]]

iteration 6 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.91220000e+04  -2.14750000e+04  -1.91220000e+04  -2.14750000e+04]
 [  1.38720000e+04   7.15100000e+03   0.00000000e+00   0.00000000e+00]
 [  6.22850000e+04   6.05120000e+04   0.00000000e+00   0.00000000e+00]
 [ -3.46540000e+04   9.07200000e+03   3.48210000e+04   3.30490000e+04]
 [  2.89134000e+05   3.22013000e+05   1.15230000e+05   1.46222000e+05]
 [  6.42000000e+02   3.76000000e+02   3.97682000e+05   4.24549000e+05]
 [  2.89776000e+05   3.22389000e+05   3.97682000e+05   4.24549000e+05]]

iteration 7 : n_sub_s_2darr
 [[ 402551.  454422.  492910.  525519.]]

df.shape[0]: 35

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,10,4,0,Cash and cash equivalents,214025.0,250551.0,31693.0,184282.0
1,10,4,1,Trade receivables,28999.0,42365.0,102458.0,0.0
2,10,4,2,Current assets: Amounts due from subsidiaries,0.0,0.0,197803.0,0.0
3,10,4,3,Inventories,46120.0,37600.0,4355.0,0.0
4,10,4,4,Other current assets,20990.0,21448.0,28880.0,0.0
5,10,4,5,Current assets,310134.0,351964.0,25502.0,998.0
6,10,4,6,Available-for-sale financial assets,33895.0,1372.0,218472.0,186395.0
7,10,4,7,Other non-current receivables,582.0,27753.0,6017.0,0.0
8,10,4,8,Non-current assets: Amounts due from subsidiaries,0.0,977.0,43379.0,0.0
9,10,4,9,Investments in associated companies,0.0,0.0,18104.0,0.0
10,10,4,10,Investments in subsidiaries,0.0,0.0,4934.0,0.0
11,10,4,11,Property and equipment,29411.0,33944.0,290906.0,768.0
12,10,4,12,Intangible assets,6324.0,6719.0,232064.0,234613.0
13,10,4,13,Other non-current assets,22205.0,4306.0,45390.0,45390.0
14,10,4,14,Non-current assets,92417.0,260846.0,1394.0,2060.0
15,10,4,15,Total assets,402551.0,454422.0,492910.0,525519.0
16,10,4,16,Trade payables,24089.0,30296.0,18218.0,18608.0
17,10,4,17,Current liabilities: Amounts due to subsidiaries,0.0,0.0,23238.0,17174.0
18,10,4,18,Accrued liabilities and provisions,65249.0,70014.0,30777.0,28852.0
19,10,4,19,Current income tax liabilities,2235.0,2203.0,1951.0,2000.0
20,10,4,20,Current portion of long term obligations,0.0,10.0,0.0,10.0
21,10,4,21,Current liabilities,91573.0,102523.0,74184.0,66644.0
22,10,4,22,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21044.0,20526.0
23,10,4,23,Deferred income tax liabilities,21202.0,29510.0,0.0,13800.0
24,10,4,24,Non-current liabilities,21202.0,29510.0,21044.0,34326.0
25,10,4,25,Total liabilities,112775.0,132033.0,95228.0,100970.0
26,10,4,26,Share capital,266753.0,266753.0,266753.0,266753.0
27,10,4,27,Treasury shares,-19122.0,-21475.0,-19122.0,-21475.0
28,10,4,28,Fair value reserve,13872.0,7151.0,0.0,0.0
29,10,4,29,Other reserves,62285.0,60512.0,0.0,0.0
30,10,4,30,Retained earnings,-34654.0,9072.0,34821.0,33049.0
31,10,4,31,Equity excluding non-controlling interests,289134.0,322013.0,115230.0,146222.0
32,10,4,32,Non-controlling interests,642.0,376.0,397682.0,424549.0
33,10,4,33,Total equity,289776.0,322389.0,397682.0,424549.0
34,10,4,34,Total liabilities and equity,402551.0,454422.0,492910.0,525519.0

 Q4FY11_Earnings_Release.pdf

nl:

0 162958.0
1 27508.0
2 0
3 44089.0
4 22642.0
5 257197.0
6 214025.0
7 28999.0
8 0
9 46120.0
10 20990.0
11 310134.0
12 148693.0
13 8059.0
14 37424.0
15 23425.0
16 5966.0
17 223567.0
18 197803.0
19 4355.0
20 28880.0
21 25502.0
22 4306.0
23 260846.0
24 36476.0
25 460.0
26 0
27 0
28 322.0
29 26088.0
30 5862.0
31 15600.0
32 84808.0
33 33895.0
34 582.0
35 0
36 0
37 0
38 29411.0
39 6324.0
40 22205.0
41 92417.0
42 194391.0
43 30790.0
44 0
45 0
46 0
47 920.0
48 0
49 1422.0
50 227523.0
51 184282.0
52 45390.0
53 0
54 0
55 0
56 0
57 998.0
58 232064.0
59 1394.0
60 342005.0
61 402551.0
62 451090.0
63 492910.0
64 20629.0
65 0
66 60662.0
67 790.0
68 82081.0
69 24089.0
70 0
71 65249.0
72 2235.0
73 91573.0
74 15203.0
75 29312.0
76 28668.0
77 0
78 73183.0
79 18218.0
80 23238.0
81 30777.0
82 1951.0
83 74184.0
84 0
85 17902.0
86 17902.0
87 0
88 21202.0
89 21202.0
90 21149.0
91 0
92 21149.0
93 21044.0
94 0
95 21044.0
96 99983.0
97 112775.0
98 94332.0
99 95228.0
100 242022.0
101 289776.0
102 356758.0
103 397682.0
104 266753.0
105 -19122.0
106 0
107 0
108 34821.0
109 115230.0
110 397682.0
111 397682.0
112 266753.0
113 -18362.0
114 0
115 0
116 37165.0
117 71202.0
118 356758.0
119 356758.0
120 266753.0
121 -18362.0
122 15585.0
123 64629.0
124 -87241.0
125 241364.0
126 658.0
127 242022.0
128 266753.0
129 -19122.0
130 13872.0
131 62285.0
132 -34654.0
133 289134.0
134 642.0
135 289776.0
136 5.0
# of numbers catched: 137
# of rows catched: 34.25
First number catched: 162958.0
# of items catched:  34
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Other non-current receivables
8 	 Non-current assets: Amounts due from subsidiaries
9 	 Investments in subsidiaries
10 	 Investments in associated companies
11 	 Property and equipment
12 	 Intangible assets
13 	 Other non-current assets
14 	 Non-current assets
15 	 Total assets
16 	 Trade payables
17 	 Current liabilities: Amounts due to subsidiaries
18 	 Accrued liabilities and provisions
19 	 Current income tax liabilities
20 	 Current liabilities
21 	 Non-current liabilities: Amounts due to subsidiaries
22 	 Deferred income tax liabilities
23 	 Non-current liabilities
24 	 Total liabilities
25 	 Total equity
26 	 Share capital
27 	 Treasury shares
28 	 Fair value reserve
29 	 Other reserves
30 	 Retained earnings
31 	 Equity excluding non-controlling interests
32 	 Non-controlling interests
33 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 60, 64, 84, 96, 100, 104, 136]

iteration 0 : n_sub_s_2darr
 [[ 162958.  214025.  148693.  197803.]
 [  27508.   28999.    8059.    4355.]
 [      0.       0.   37424.   28880.]
 [  44089.   46120.   23425.   25502.]
 [  22642.   20990.    5966.    4306.]
 [ 257197.  310134.  223567.  260846.]]

iteration 1 : n_sub_s_2darr
 [[  36476.   33895.  194391.  184282.]
 [    460.     582.   30790.   45390.]
 [      0.       0.       0.       0.]
 [      0.       0.       0.       0.]
 [    322.       0.       0.       0.]
 [  26088.   29411.     920.       0.]
 [   5862.    6324.       0.     998.]
 [  15600.   22205.    1422.  232064.]
 [  84808.   92417.  227523.    1394.]]

iteration 2 : n_sub_s_2darr
 [[ 342005.  402551.  451090.  492910.]]

iteration 3 : n_sub_s_2darr
 [[ 20629.  24089.  15203.  18218.]
 [     0.      0.  29312.  23238.]
 [ 60662.  65249.  28668.  30777.]
 [   790.   2235.      0.   1951.]
 [ 82081.  91573.  73183.  74184.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  21149.  21044.]
 [ 17902.  21202.      0.      0.]
 [ 17902.  21202.  21149.  21044.]]

iteration 5 : n_sub_s_2darr
 [[  99983.  112775.   94332.   95228.]]

iteration 6 : n_sub_s_2darr
 [[ 242022.  289776.  356758.  397682.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -19122.  -18362.  -18362.  -19122.]
 [      0.       0.   15585.   13872.]
 [      0.       0.   64629.   62285.]
 [  34821.   37165.  -87241.  -34654.]
 [ 115230.   71202.  241364.  289134.]
 [ 397682.  356758.     658.     642.]
 [ 397682.  356758.  242022.  289776.]]

df.shape[0]: 34

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,11,4,0,Cash and cash equivalents,162958.0,214025.0,148693.0,197803.0
1,11,4,1,Trade receivables,27508.0,28999.0,8059.0,4355.0
2,11,4,2,Current assets: Amounts due from subsidiaries,0.0,0.0,37424.0,28880.0
3,11,4,3,Inventories,44089.0,46120.0,23425.0,25502.0
4,11,4,4,Other current assets,22642.0,20990.0,5966.0,4306.0
5,11,4,5,Current assets,257197.0,310134.0,223567.0,260846.0
6,11,4,6,Available-for-sale financial assets,36476.0,33895.0,194391.0,184282.0
7,11,4,7,Other non-current receivables,460.0,582.0,30790.0,45390.0
8,11,4,8,Non-current assets: Amounts due from subsidiaries,0.0,0.0,0.0,0.0
9,11,4,9,Investments in subsidiaries,0.0,0.0,0.0,0.0
10,11,4,10,Investments in associated companies,322.0,0.0,0.0,0.0
11,11,4,11,Property and equipment,26088.0,29411.0,920.0,0.0
12,11,4,12,Intangible assets,5862.0,6324.0,0.0,998.0
13,11,4,13,Other non-current assets,15600.0,22205.0,1422.0,232064.0
14,11,4,14,Non-current assets,84808.0,92417.0,227523.0,1394.0
15,11,4,15,Total assets,342005.0,402551.0,451090.0,492910.0
16,11,4,16,Trade payables,20629.0,24089.0,15203.0,18218.0
17,11,4,17,Current liabilities: Amounts due to subsidiaries,0.0,0.0,29312.0,23238.0
18,11,4,18,Accrued liabilities and provisions,60662.0,65249.0,28668.0,30777.0
19,11,4,19,Current income tax liabilities,790.0,2235.0,0.0,1951.0
20,11,4,20,Current liabilities,82081.0,91573.0,73183.0,74184.0
21,11,4,21,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21149.0,21044.0
22,11,4,22,Deferred income tax liabilities,17902.0,21202.0,0.0,0.0
23,11,4,23,Non-current liabilities,17902.0,21202.0,21149.0,21044.0
24,11,4,24,Total liabilities,99983.0,112775.0,94332.0,95228.0
25,11,4,25,Total equity,242022.0,289776.0,356758.0,397682.0
26,11,4,26,Share capital,266753.0,266753.0,266753.0,266753.0
27,11,4,27,Treasury shares,-19122.0,-18362.0,-18362.0,-19122.0
28,11,4,28,Fair value reserve,0.0,0.0,15585.0,13872.0
29,11,4,29,Other reserves,0.0,0.0,64629.0,62285.0
30,11,4,30,Retained earnings,34821.0,37165.0,-87241.0,-34654.0
31,11,4,31,Equity excluding non-controlling interests,115230.0,71202.0,241364.0,289134.0
32,11,4,32,Non-controlling interests,397682.0,356758.0,658.0,642.0
33,11,4,33,Total equity_,397682.0,356758.0,242022.0,289776.0

 Q4FY12_Earnings_Release.pdf

nl:

0 131432.0
1 18841.0
2 0
3 27822.0
4 4991.0
5 12732.0
6 195818.0
7 162958.0
8 27508.0
9 0
10 0
11 22642.0
12 257197.0
13 44089.0
14 117457.0
15 6294.0
16 41803.0
17 11052.0
18 0
19 1567.0
20 178173.0
21 148693.0
22 8059.0
23 37424.0
24 23425.0
25 0
26 5966.0
27 223567.0
28 26651.0
29 1088.0
30 0
31 0
32 0
33 0
34 7427.0
35 3301.0
36 38467.0
37 36476.0
38 460.0
39 0
40 322.0
41 0
42 26088.0
43 5862.0
44 15600.0
45 84808.0
46 199321.0
47 0
48 0
49 0
50 27290.0
51 483.0
52 0
53 1193.0
54 228287.0
55 194391.0
56 0
57 0
58 0
59 30790.0
60 920.0
61 0
62 1422.0
63 227523.0
64 234285.0
65 342005.0
66 406460.0
67 451090.0
68 13844.0
69 0
70 53367.0
71 742.0
72 67953.0
73 20629.0
74 0
75 60662.0
76 790.0
77 82081.0
78 8586.0
79 36590.0
80 24692.0
81 48.0
82 69916.0
83 15203.0
84 29312.0
85 28668.0
86 0
87 73183.0
88 0
89 17902.0
90 17902.0
91 0
92 17902.0
93 17902.0
94 21669.0
95 0
96 21669.0
97 21149.0
98 0
99 21149.0
100 85855.0
101 99983.0
102 91585.0
103 94332.0
104 148430.0
105 242022.0
106 314875.0
107 356758.0
108 266753.0
109 -17676.0
110 0
111 0
112 36969.0
113 28829.0
114 314875.0
115 314875.0
116 266753.0
117 -18362.0
118 0
119 0
120 37165.0
121 71202.0
122 356758.0
123 356758.0
124 266753.0
125 -17676.0
126 8658.0
127 64433.0
128 -173980.0
129 148188.0
130 242.0
131 148430.0
132 266753.0
133 -18362.0
134 15585.0
135 64629.0
136 -87241.0
137 241364.0
138 658.0
139 242022.0
140 5.0
# of numbers catched: 141
# of rows catched: 35.25
First number catched: 131432.0
# of items catched:  35
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Property and equipment held for sale
5 	 Other current assets
6 	 Current assets
7 	 Available-for-sale financial assets
8 	 Other non-current receivables
9 	 Non-current assets: Amounts due from subsidiaries
10 	 Investments in associated companies
11 	 Investments in subsidiaries
12 	 Property and equipment
13 	 Intangible assets
14 	 Other non-current assets
15 	 Non-current assets
16 	 Total assets
17 	 Trade payables
18 	 Current liabilities: Amounts due to subsidiaries
19 	 Accrued liabilities and provisions
20 	 Current income tax liabilities
21 	 Current liabilities
22 	 Non-current liabilities: Amounts due to subsidiaries
23 	 Deferred income tax liabilities
24 	 Non-current liabilities
25 	 Total liabilities
26 	 Total equity
27 	 Share capital
28 	 Treasury shares
29 	 Fair value reserve
30 	 Other reserves
31 	 Retained earnings
32 	 Equity excluding non-controlling interests
33 	 Non-controlling interests
34 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [28, 64, 68, 88, 100, 104, 108, 140]

iteration 0 : n_sub_s_2darr
 [[ 131432.  162958.  117457.  148693.]
 [  18841.   27508.    6294.    8059.]
 [      0.       0.   41803.   37424.]
 [  27822.       0.   11052.   23425.]
 [   4991.   22642.       0.       0.]
 [  12732.  257197.    1567.    5966.]
 [ 195818.   44089.  178173.  223567.]]

iteration 1 : n_sub_s_2darr
 [[  26651.   36476.  199321.  194391.]
 [   1088.     460.       0.       0.]
 [      0.       0.       0.       0.]
 [      0.     322.       0.       0.]
 [      0.       0.   27290.   30790.]
 [      0.   26088.     483.     920.]
 [   7427.    5862.       0.       0.]
 [   3301.   15600.    1193.    1422.]
 [  38467.   84808.  228287.  227523.]]

iteration 2 : n_sub_s_2darr
 [[ 234285.  342005.  406460.  451090.]]

iteration 3 : n_sub_s_2darr
 [[  1.38440000e+04   2.06290000e+04   8.58600000e+03   1.52030000e+04]
 [  0.00000000e+00   0.00000000e+00   3.65900000e+04   2.93120000e+04]
 [  5.33670000e+04   6.06620000e+04   2.46920000e+04   2.86680000e+04]
 [  7.42000000e+02   7.90000000e+02   4.80000000e+01   0.00000000e+00]
 [  6.79530000e+04   8.20810000e+04   6.99160000e+04   7.31830000e+04]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  21669.  21149.]
 [ 17902.  17902.      0.      0.]
 [ 17902.  17902.  21669.  21149.]]

iteration 5 : n_sub_s_2darr
 [[ 85855.  99983.  91585.  94332.]]

iteration 6 : n_sub_s_2darr
 [[ 148430.  242022.  314875.  356758.]]

iteration 7 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.76760000e+04  -1.83620000e+04  -1.76760000e+04  -1.83620000e+04]
 [  0.00000000e+00   0.00000000e+00   8.65800000e+03   1.55850000e+04]
 [  0.00000000e+00   0.00000000e+00   6.44330000e+04   6.46290000e+04]
 [  3.69690000e+04   3.71650000e+04  -1.73980000e+05  -8.72410000e+04]
 [  2.88290000e+04   7.12020000e+04   1.48188000e+05   2.41364000e+05]
 [  3.14875000e+05   3.56758000e+05   2.42000000e+02   6.58000000e+02]
 [  3.14875000e+05   3.56758000e+05   1.48430000e+05   2.42022000e+05]]

df.shape[0]: 35

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,12,4,0,Cash and cash equivalents,131432.0,162958.0,117457.0,148693.0
1,12,4,1,Trade receivables,18841.0,27508.0,6294.0,8059.0
2,12,4,2,Current assets: Amounts due from subsidiaries,0.0,0.0,41803.0,37424.0
3,12,4,3,Inventories,27822.0,0.0,11052.0,23425.0
4,12,4,4,Property and equipment held for sale,4991.0,22642.0,0.0,0.0
5,12,4,5,Other current assets,12732.0,257197.0,1567.0,5966.0
6,12,4,6,Current assets,195818.0,44089.0,178173.0,223567.0
7,12,4,7,Available-for-sale financial assets,26651.0,36476.0,199321.0,194391.0
8,12,4,8,Other non-current receivables,1088.0,460.0,0.0,0.0
9,12,4,9,Non-current assets: Amounts due from subsidiaries,0.0,0.0,0.0,0.0
10,12,4,10,Investments in associated companies,0.0,322.0,0.0,0.0
11,12,4,11,Investments in subsidiaries,0.0,0.0,27290.0,30790.0
12,12,4,12,Property and equipment,7427.0,26088.0,483.0,920.0
13,12,4,13,Intangible assets,0.0,5862.0,0.0,0.0
14,12,4,14,Other non-current assets,3301.0,15600.0,1193.0,1422.0
15,12,4,15,Non-current assets,38467.0,84808.0,228287.0,227523.0
16,12,4,16,Total assets,234285.0,342005.0,406460.0,451090.0
17,12,4,17,Trade payables,13844.0,20629.0,8586.0,15203.0
18,12,4,18,Current liabilities: Amounts due to subsidiaries,0.0,0.0,36590.0,29312.0
19,12,4,19,Accrued liabilities and provisions,53367.0,60662.0,24692.0,28668.0
20,12,4,20,Current income tax liabilities,742.0,790.0,48.0,0.0
21,12,4,21,Current liabilities,67953.0,82081.0,69916.0,73183.0
22,12,4,22,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21669.0,21149.0
23,12,4,23,Deferred income tax liabilities,17902.0,17902.0,0.0,0.0
24,12,4,24,Non-current liabilities,17902.0,17902.0,21669.0,21149.0
25,12,4,25,Total liabilities,85855.0,99983.0,91585.0,94332.0
26,12,4,26,Total equity,148430.0,242022.0,314875.0,356758.0
27,12,4,27,Share capital,266753.0,266753.0,266753.0,266753.0
28,12,4,28,Treasury shares,-17676.0,-18362.0,-17676.0,-18362.0
29,12,4,29,Fair value reserve,0.0,0.0,8658.0,15585.0
30,12,4,30,Other reserves,0.0,0.0,64433.0,64629.0
31,12,4,31,Retained earnings,36969.0,37165.0,-173980.0,-87241.0
32,12,4,32,Equity excluding non-controlling interests,28829.0,71202.0,148188.0,241364.0
33,12,4,33,Non-controlling interests,314875.0,356758.0,242.0,658.0
34,12,4,34,Total equity_,314875.0,356758.0,148430.0,242022.0

 Q4FY13_Earnings_Release.pdf

nl:

0 163574.0
1 14728.0
2 25353.0
3 0
4 0
5 2178.0
6 205833.0
7 22654.0
8 0
9 0
10 0
11 6892.0
12 1827.0
13 31373.0
14 131432.0
15 18841.0
16 0
17 27822.0
18 4991.0
19 12732.0
20 195818.0
21 26651.0
22 1088.0
23 0
24 0
25 7427.0
26 3301.0
27 38467.0
28 150804.0
29 4748.0
30 42801.0
31 11369.0
32 0
33 656.0
34 210378.0
35 0
36 0
37 146659.0
38 28390.0
39 705.0
40 1729.0
41 177483.0
42 117457.0
43 6294.0
44 41803.0
45 11052.0
46 0
47 1567.0
48 178173.0
49 0
50 0
51 199321.0
52 27290.0
53 483.0
54 1193.0
55 228287.0
56 237206.0
57 234285.0
58 387861.0
59 406460.0
60 13753.0
61 0
62 44496.0
63 706.0
64 58955.0
65 13844.0
66 0
67 53367.0
68 742.0
69 67953.0
70 9460.0
71 10940.0
72 26576.0
73 0
74 46976.0
75 8586.0
76 36590.0
77 24692.0
78 48.0
79 69916.0
80 0
81 15202.0
82 15202.0
83 0
84 17902.0
85 17902.0
86 21173.0
87 0
88 21173.0
89 21669.0
90 0
91 21669.0
92 74157.0
93 85855.0
94 68149.0
95 91585.0
96 163049.0
97 148430.0
98 319712.0
99 314875.0
100 266753.0
101 -17676.0
102 0
103 0
104 36969.0
105 28829.0
106 314875.0
107 314875.0
108 266753.0
109 -16606.0
110 0
111 0
112 35887.0
113 33678.0
114 319712.0
115 319712.0
116 266753.0
117 -16606.0
118 9485.0
119 63351.0
120 -160170.0
121 162813.0
122 236.0
123 163049.0
124 266753.0
125 -17676.0
126 8658.0
127 64433.0
128 -173980.0
129 148188.0
130 242.0
131 148430.0
132 5.0
# of numbers catched: 133
# of rows catched: 33.25
First number catched: 163574.0
# of items catched:  33
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Property and equipment held for sale
5 	 Other current assets
6 	 Current assets
7 	 Available-for-sale financial assets
8 	 Other non-current receivables
9 	 Non-current assets: Amounts due from subsidiaries
10 	 Investments in subsidiaries
11 	 Property and equipment
12 	 Other non-current assets
13 	 Non-current assets
14 	 Total assets
15 	 Trade payables
16 	 Current liabilities: Amounts due to subsidiaries
17 	 Accrued liabilities and provisions
18 	 Current income tax liabilities
19 	 Current liabilities
20 	 Non-current liabilities: Amounts due to subsidiaries
21 	 Deferred income tax liabilities
22 	 Non-current liabilities
23 	 Total liabilities
24 	 Total equity
25 	 Share capital
26 	 Treasury shares
27 	 Fair value reserve
28 	 Other reserves
29 	 Retained earnings
30 	 Equity excluding non-controlling interests
31 	 Non-controlling interests
32 	 Total equity_
cat_item_list: ['Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [56, 60, 80, 92, 96, 100, 132]

iteration 0 : n_sub_s_2darr
 [[ 163574.  131432.  150804.  117457.]
 [  14728.   18841.    4748.    6294.]
 [  25353.       0.   42801.   41803.]
 [      0.   27822.   11369.   11052.]
 [      0.    4991.       0.       0.]
 [   2178.   12732.     656.    1567.]
 [ 205833.  195818.  210378.  178173.]
 [  22654.   26651.       0.       0.]
 [      0.    1088.       0.       0.]
 [      0.       0.  146659.  199321.]
 [      0.       0.   28390.   27290.]
 [   6892.    7427.     705.     483.]
 [   1827.    3301.    1729.    1193.]
 [  31373.   38467.  177483.  228287.]]

iteration 1 : n_sub_s_2darr
 [[ 237206.  234285.  387861.  406460.]]

iteration 2 : n_sub_s_2darr
 [[  1.37530000e+04   1.38440000e+04   9.46000000e+03   8.58600000e+03]
 [  0.00000000e+00   0.00000000e+00   1.09400000e+04   3.65900000e+04]
 [  4.44960000e+04   5.33670000e+04   2.65760000e+04   2.46920000e+04]
 [  7.06000000e+02   7.42000000e+02   0.00000000e+00   4.80000000e+01]
 [  5.89550000e+04   6.79530000e+04   4.69760000e+04   6.99160000e+04]]

iteration 3 : n_sub_s_2darr
 [[     0.      0.  21173.  21669.]
 [ 15202.  17902.      0.      0.]
 [ 15202.  17902.  21173.  21669.]]

iteration 4 : n_sub_s_2darr
 [[ 74157.  85855.  68149.  91585.]]

iteration 5 : n_sub_s_2darr
 [[ 163049.  148430.  319712.  314875.]]

iteration 6 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.76760000e+04  -1.66060000e+04  -1.66060000e+04  -1.76760000e+04]
 [  0.00000000e+00   0.00000000e+00   9.48500000e+03   8.65800000e+03]
 [  0.00000000e+00   0.00000000e+00   6.33510000e+04   6.44330000e+04]
 [  3.69690000e+04   3.58870000e+04  -1.60170000e+05  -1.73980000e+05]
 [  2.88290000e+04   3.36780000e+04   1.62813000e+05   1.48188000e+05]
 [  3.14875000e+05   3.19712000e+05   2.36000000e+02   2.42000000e+02]
 [  3.14875000e+05   3.19712000e+05   1.63049000e+05   1.48430000e+05]]

df.shape[0]: 33

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,13,4,0,Cash and cash equivalents,163574.0,131432.0,150804.0,117457.0
1,13,4,1,Trade receivables,14728.0,18841.0,4748.0,6294.0
2,13,4,2,Current assets: Amounts due from subsidiaries,0.0,27822.0,11369.0,11052.0
3,13,4,3,Inventories,25353.0,0.0,42801.0,41803.0
4,13,4,4,Property and equipment held for sale,0.0,4991.0,0.0,0.0
5,13,4,5,Other current assets,2178.0,12732.0,656.0,1567.0
6,13,4,6,Current assets,205833.0,195818.0,210378.0,178173.0
7,13,4,7,Available-for-sale financial assets,22654.0,26651.0,0.0,0.0
8,13,4,8,Other non-current receivables,0.0,1088.0,0.0,0.0
9,13,4,9,Non-current assets: Amounts due from subsidiaries,0.0,0.0,146659.0,199321.0
10,13,4,10,Investments in subsidiaries,0.0,0.0,28390.0,27290.0
11,13,4,11,Property and equipment,6892.0,7427.0,705.0,483.0
12,13,4,12,Other non-current assets,1827.0,3301.0,1729.0,1193.0
13,13,4,13,Non-current assets,31373.0,38467.0,177483.0,228287.0
14,13,4,14,Total assets,237206.0,234285.0,387861.0,406460.0
15,13,4,15,Trade payables,13753.0,13844.0,9460.0,8586.0
16,13,4,16,Current liabilities: Amounts due to subsidiaries,0.0,0.0,10940.0,36590.0
17,13,4,17,Accrued liabilities and provisions,44496.0,53367.0,26576.0,24692.0
18,13,4,18,Current income tax liabilities,706.0,742.0,0.0,48.0
19,13,4,19,Current liabilities,58955.0,67953.0,46976.0,69916.0
20,13,4,20,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21173.0,21669.0
21,13,4,21,Deferred income tax liabilities,15202.0,17902.0,0.0,0.0
22,13,4,22,Non-current liabilities,15202.0,17902.0,21173.0,21669.0
23,13,4,23,Total liabilities,74157.0,85855.0,68149.0,91585.0
24,13,4,24,Total equity,163049.0,148430.0,319712.0,314875.0
25,13,4,25,Share capital,266753.0,266753.0,266753.0,266753.0
26,13,4,26,Treasury shares,-17676.0,-16606.0,-16606.0,-17676.0
27,13,4,27,Fair value reserve,0.0,0.0,9485.0,8658.0
28,13,4,28,Other reserves,0.0,0.0,63351.0,64433.0
29,13,4,29,Retained earnings,36969.0,35887.0,-160170.0,-173980.0
30,13,4,30,Equity excluding non-controlling interests,28829.0,33678.0,162813.0,148188.0
31,13,4,31,Non-controlling interests,314875.0,319712.0,236.0,242.0
32,13,4,32,Total equity_,314875.0,319712.0,163049.0,148430.0

 Q4FY14_Earnings_Release.pdf

nl:

0 124638.0
1 10559.0
2 0
3 28922.0
4 1896.0
5 166015.0
6 163574.0
7 14728.0
8 0
9 6892.0
10 1827.0
11 31373.0
12 118974.0
13 4208.0
14 44515.0
15 15002.0
16 187.0
17 182886.0
18 0
19 143022.0
20 0
21 25353.0
22 2178.0
23 205833.0
24 21608.0
25 0
26 0
27 6465.0
28 98.0
29 28171.0
30 22654.0
31 0
32 24706.0
33 651.0
34 0
35 168379.0
36 150804.0
37 4748.0
38 42801.0
39 11369.0
40 656.0
41 210378.0
42 0
43 146659.0
44 28390.0
45 705.0
46 1729.0
47 177483.0
48 194186.0
49 237206.0
50 351265.0
51 387861.0
52 9383.0
53 0
54 37899.0
55 735.0
56 48017.0
57 13753.0
58 0
59 44496.0
60 706.0
61 58955.0
62 5907.0
63 9139.0
64 24474.0
65 0
66 39520.0
67 9460.0
68 10940.0
69 26576.0
70 0
71 46976.0
72 0
73 10702.0
74 10702.0
75 0
76 15202.0
77 15202.0
78 21746.0
79 0
80 21746.0
81 21173.0
82 0
83 21173.0
84 58719.0
85 74157.0
86 61266.0
87 68149.0
88 135467.0
89 163049.0
90 289999.0
91 319712.0
92 266753.0
93 -16262.0
94 9896.0
95 62570.0
96 -187695.0
97 135262.0
98 205.0
99 135467.0
100 266753.0
101 -16606.0
102 9485.0
103 63351.0
104 -160170.0
105 162813.0
106 236.0
107 163049.0
108 266753.0
109 -16262.0
110 0
111 0
112 35106.0
113 4402.0
114 289999.0
115 289999.0
116 266753.0
117 -16606.0
118 0
119 0
120 35887.0
121 33678.0
122 319712.0
123 319712.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 124638.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Retained earnings
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  1.24638000e+05   1.63574000e+05   1.18974000e+05   0.00000000e+00]
 [  1.05590000e+04   1.47280000e+04   4.20800000e+03   1.43022000e+05]
 [  0.00000000e+00   0.00000000e+00   4.45150000e+04   0.00000000e+00]
 [  2.89220000e+04   6.89200000e+03   1.50020000e+04   2.53530000e+04]
 [  1.89600000e+03   1.82700000e+03   1.87000000e+02   2.17800000e+03]
 [  1.66015000e+05   3.13730000e+04   1.82886000e+05   2.05833000e+05]]

iteration 1 : n_sub_s_2darr
 [[  2.16080000e+04   2.26540000e+04   1.50804000e+05   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   4.74800000e+03   1.46659000e+05]
 [  0.00000000e+00   2.47060000e+04   4.28010000e+04   2.83900000e+04]
 [  6.46500000e+03   6.51000000e+02   1.13690000e+04   7.05000000e+02]
 [  9.80000000e+01   0.00000000e+00   6.56000000e+02   1.72900000e+03]
 [  2.81710000e+04   1.68379000e+05   2.10378000e+05   1.77483000e+05]]

iteration 2 : n_sub_s_2darr
 [[ 194186.  237206.  351265.  387861.]]

iteration 3 : n_sub_s_2darr
 [[  9383.  13753.   5907.   9460.]
 [     0.      0.   9139.  10940.]
 [ 37899.  44496.  24474.  26576.]
 [   735.    706.      0.      0.]
 [ 48017.  58955.  39520.  46976.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  21746.  21173.]
 [ 10702.  15202.      0.      0.]
 [ 10702.  15202.  21746.  21173.]]

iteration 5 : n_sub_s_2darr
 [[ 58719.  74157.  61266.  68149.]]

iteration 6 : n_sub_s_2darr
 [[ 135467.  163049.  289999.  319712.]]

iteration 7 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.62620000e+04  -1.66060000e+04  -1.62620000e+04  -1.66060000e+04]
 [  9.89600000e+03   9.48500000e+03   0.00000000e+00   0.00000000e+00]
 [  6.25700000e+04   6.33510000e+04   0.00000000e+00   0.00000000e+00]
 [ -1.87695000e+05  -1.60170000e+05   3.51060000e+04   3.58870000e+04]
 [  1.35262000e+05   1.62813000e+05   4.40200000e+03   3.36780000e+04]
 [  2.05000000e+02   2.36000000e+02   2.89999000e+05   3.19712000e+05]
 [  1.35467000e+05   1.63049000e+05   2.89999000e+05   3.19712000e+05]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,14,4,0,Cash and cash equivalents,124638.0,163574.0,118974.0,0.0
1,14,4,1,Trade receivables,10559.0,14728.0,4208.0,143022.0
2,14,4,2,Current assets: Amounts due from subsidiaries,0.0,0.0,44515.0,0.0
3,14,4,3,Inventories,28922.0,6892.0,15002.0,25353.0
4,14,4,4,Other current assets,1896.0,1827.0,187.0,2178.0
5,14,4,5,Current assets,166015.0,31373.0,182886.0,205833.0
6,14,4,6,Available-for-sale financial assets,21608.0,22654.0,150804.0,0.0
7,14,4,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,4748.0,146659.0
8,14,4,8,Investments in subsidiaries,0.0,24706.0,42801.0,28390.0
9,14,4,9,Property and equipment,6465.0,651.0,11369.0,705.0
10,14,4,10,Other non-current assets,98.0,0.0,656.0,1729.0
11,14,4,11,Non-current assets,28171.0,168379.0,210378.0,177483.0
12,14,4,12,Total assets,194186.0,237206.0,351265.0,387861.0
13,14,4,13,Trade payables,9383.0,13753.0,5907.0,9460.0
14,14,4,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,9139.0,10940.0
15,14,4,15,Accrued liabilities and provisions,37899.0,44496.0,24474.0,26576.0
16,14,4,16,Current income tax liabilities,735.0,706.0,0.0,0.0
17,14,4,17,Current liabilities,48017.0,58955.0,39520.0,46976.0
18,14,4,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,21746.0,21173.0
19,14,4,19,Deferred income tax liabilities,10702.0,15202.0,0.0,0.0
20,14,4,20,Non-current liabilities,10702.0,15202.0,21746.0,21173.0
21,14,4,21,Total liabilities,58719.0,74157.0,61266.0,68149.0
22,14,4,22,Total equity,135467.0,163049.0,289999.0,319712.0
23,14,4,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,14,4,24,Treasury shares,-16262.0,-16606.0,-16262.0,-16606.0
25,14,4,25,Fair value reserve,9896.0,9485.0,0.0,0.0
26,14,4,26,Other reserves,62570.0,63351.0,0.0,0.0
27,14,4,27,Retained earnings,-187695.0,-160170.0,35106.0,35887.0
28,14,4,28,Equity excluding non-controlling interests,135262.0,162813.0,4402.0,33678.0
29,14,4,29,Non-controlling interests,205.0,236.0,289999.0,319712.0
30,14,4,30,Total equity_,135467.0,163049.0,289999.0,319712.0

 Q4FY15_Earnings_Release.pdf

nl:

0 99668.0
1 9782.0
2 0
3 28879.0
4 1320.0
5 139649.0
6 18239.0
7 0
8 0
9 1361.0
10 88.0
11 19688.0
12 124638.0
13 10559.0
14 0
15 28922.0
16 1896.0
17 166015.0
18 21608.0
19 0
20 0
21 6465.0
22 98.0
23 28171.0
24 97373.0
25 4290.0
26 31735.0
27 15939.0
28 422.0
29 149759.0
30 0
31 145344.0
32 25453.0
33 369.0
34 0
35 171166.0
36 118974.0
37 4208.0
38 44515.0
39 15002.0
40 187.0
41 182886.0
42 0
43 143022.0
44 24706.0
45 651.0
46 0
47 168379.0
48 159337.0
49 194186.0
50 320925.0
51 351265.0
52 15639.0
53 0
54 31445.0
55 643.0
56 47727.0
57 9383.0
58 0
59 37899.0
60 735.0
61 48017.0
62 10409.0
63 12060.0
64 20451.0
65 0
66 42920.0
67 5907.0
68 9139.0
69 24474.0
70 0
71 39520.0
72 0
73 9902.0
74 9902.0
75 0
76 10702.0
77 10702.0
78 27507.0
79 0
80 27507.0
81 21746.0
82 0
83 21746.0
84 57629.0
85 58719.0
86 70427.0
87 61266.0
88 101708.0
89 135467.0
90 250498.0
91 289999.0
92 266753.0
93 -16262.0
94 12304.0
95 62562.0
96 -223847.0
97 101510.0
98 198.0
99 101708.0
100 266753.0
101 -16262.0
102 9896.0
103 62570.0
104 -187695.0
105 135262.0
106 205.0
107 135467.0
108 266753.0
109 -16262.0
110 0
111 0
112 35098.0
113 -35091.0
114 250498.0
115 250498.0
116 266753.0
117 -16262.0
118 0
119 0
120 35106.0
121 4402.0
122 289999.0
123 289999.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 99668.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 (Accumulated losses) retained earnings
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  9.96680000e+04   1.24638000e+05   9.73730000e+04   1.18974000e+05]
 [  9.78200000e+03   1.05590000e+04   4.29000000e+03   4.20800000e+03]
 [  0.00000000e+00   0.00000000e+00   3.17350000e+04   4.45150000e+04]
 [  2.88790000e+04   2.89220000e+04   1.59390000e+04   1.50020000e+04]
 [  1.32000000e+03   1.89600000e+03   4.22000000e+02   1.87000000e+02]
 [  1.39649000e+05   1.66015000e+05   1.49759000e+05   1.82886000e+05]
 [  1.82390000e+04   2.16080000e+04   0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   1.45344000e+05   1.43022000e+05]
 [  0.00000000e+00   0.00000000e+00   2.54530000e+04   2.47060000e+04]
 [  1.36100000e+03   6.46500000e+03   3.69000000e+02   6.51000000e+02]
 [  8.80000000e+01   9.80000000e+01   0.00000000e+00   0.00000000e+00]
 [  1.96880000e+04   2.81710000e+04   1.71166000e+05   1.68379000e+05]]

iteration 1 : n_sub_s_2darr
 [[ 159337.  194186.  320925.  351265.]]

iteration 2 : n_sub_s_2darr
 [[ 15639.   9383.  10409.   5907.]
 [     0.      0.  12060.   9139.]
 [ 31445.  37899.  20451.  24474.]
 [   643.    735.      0.      0.]
 [ 47727.  48017.  42920.  39520.]]

iteration 3 : n_sub_s_2darr
 [[     0.      0.  27507.  21746.]
 [  9902.  10702.      0.      0.]
 [  9902.  10702.  27507.  21746.]]

iteration 4 : n_sub_s_2darr
 [[ 57629.  58719.  70427.  61266.]]

iteration 5 : n_sub_s_2darr
 [[ 101708.  135467.  250498.  289999.]]

iteration 6 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.62620000e+04  -1.62620000e+04  -1.62620000e+04  -1.62620000e+04]
 [  1.23040000e+04   9.89600000e+03   0.00000000e+00   0.00000000e+00]
 [  6.25620000e+04   6.25700000e+04   0.00000000e+00   0.00000000e+00]
 [ -2.23847000e+05  -1.87695000e+05   3.50980000e+04   3.51060000e+04]
 [  1.01510000e+05   1.35262000e+05  -3.50910000e+04   4.40200000e+03]
 [  1.98000000e+02   2.05000000e+02   2.50498000e+05   2.89999000e+05]
 [  1.01708000e+05   1.35467000e+05   2.50498000e+05   2.89999000e+05]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,15,4,0,Cash and cash equivalents,99668.0,124638.0,97373.0,118974.0
1,15,4,1,Trade receivables,9782.0,10559.0,4290.0,4208.0
2,15,4,2,Current assets: Amounts due from subsidiaries,0.0,0.0,31735.0,44515.0
3,15,4,3,Inventories,28879.0,28922.0,15939.0,15002.0
4,15,4,4,Other current assets,1320.0,1896.0,422.0,187.0
5,15,4,5,Current assets,139649.0,166015.0,149759.0,182886.0
6,15,4,6,Available-for-sale financial assets,18239.0,21608.0,0.0,0.0
7,15,4,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,145344.0,143022.0
8,15,4,8,Investments in subsidiaries,0.0,0.0,25453.0,24706.0
9,15,4,9,Property and equipment,1361.0,6465.0,369.0,651.0
10,15,4,10,Other non-current assets,88.0,98.0,0.0,0.0
11,15,4,11,Non-current assets,19688.0,28171.0,171166.0,168379.0
12,15,4,12,Total assets,159337.0,194186.0,320925.0,351265.0
13,15,4,13,Trade payables,15639.0,9383.0,10409.0,5907.0
14,15,4,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,12060.0,9139.0
15,15,4,15,Accrued liabilities and provisions,31445.0,37899.0,20451.0,24474.0
16,15,4,16,Current income tax liabilities,643.0,735.0,0.0,0.0
17,15,4,17,Current liabilities,47727.0,48017.0,42920.0,39520.0
18,15,4,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,27507.0,21746.0
19,15,4,19,Deferred income tax liabilities,9902.0,10702.0,0.0,0.0
20,15,4,20,Non-current liabilities,9902.0,10702.0,27507.0,21746.0
21,15,4,21,Total liabilities,57629.0,58719.0,70427.0,61266.0
22,15,4,22,Total equity,101708.0,135467.0,250498.0,289999.0
23,15,4,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,15,4,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,15,4,25,Fair value reserve,12304.0,9896.0,0.0,0.0
26,15,4,26,Other reserves,62562.0,62570.0,0.0,0.0
27,15,4,27,(Accumulated losses) retained earnings,-223847.0,-187695.0,35098.0,35106.0
28,15,4,28,Equity excluding non-controlling interests,101510.0,135262.0,-35091.0,4402.0
29,15,4,29,Non-controlling interests,198.0,205.0,250498.0,289999.0
30,15,4,30,Total equity_,101708.0,135467.0,250498.0,289999.0

 Q4FY16_Earnings_Release.pdf

nl:

0 94738.0
1 7570.0
2 0
3 25052.0
4 1797.0
5 129157.0
6 99668.0
7 9782.0
8 0
9 1361.0
10 88.0
11 19688.0
12 88362.0
13 245.0
14 43979.0
15 5153.0
16 633.0
17 138372.0
18 0
19 14923.0
20 0
21 28879.0
22 1320.0
23 139649.0
24 11960.0
25 0
26 0
27 870.0
28 190.0
29 13020.0
30 18239.0
31 0
32 25353.0
33 131.0
34 0
35 40407.0
36 97373.0
37 4290.0
38 31735.0
39 15939.0
40 422.0
41 149759.0
42 0
43 145344.0
44 25453.0
45 369.0
46 0
47 171166.0
48 142177.0
49 159337.0
50 178779.0
51 320925.0
52 9651.0
53 0
54 23377.0
55 347.0
56 33375.0
57 15639.0
58 0
59 31445.0
60 643.0
61 47727.0
62 1588.0
63 8325.0
64 11468.0
65 0
66 21381.0
67 10409.0
68 12060.0
69 20451.0
70 0
71 42920.0
72 0
73 10302.0
74 10302.0
75 0
76 9902.0
77 9902.0
78 30162.0
79 0
80 30162.0
81 27507.0
82 0
83 27507.0
84 43677.0
85 57629.0
86 51543.0
87 70427.0
88 98500.0
89 101708.0
90 127236.0
91 250498.0
92 266753.0
93 -16262.0
94 6574.0
95 62364.0
96 -221219.0
97 98210.0
98 290.0
99 98500.0
100 266753.0
101 -16262.0
102 12304.0
103 62562.0
104 -223847.0
105 101510.0
106 198.0
107 101708.0
108 266753.0
109 -16262.0
110 0
111 0
112 34900.0
113 -158155.0
114 127236.0
115 127236.0
116 266753.0
117 -16262.0
118 0
119 0
120 35098.0
121 -35091.0
122 250498.0
123 250498.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 94738.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Accumulated losses
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  9.47380000e+04   9.96680000e+04   8.83620000e+04   0.00000000e+00]
 [  7.57000000e+03   9.78200000e+03   2.45000000e+02   1.49230000e+04]
 [  0.00000000e+00   0.00000000e+00   4.39790000e+04   0.00000000e+00]
 [  2.50520000e+04   1.36100000e+03   5.15300000e+03   2.88790000e+04]
 [  1.79700000e+03   8.80000000e+01   6.33000000e+02   1.32000000e+03]
 [  1.29157000e+05   1.96880000e+04   1.38372000e+05   1.39649000e+05]]

iteration 1 : n_sub_s_2darr
 [[  1.19600000e+04   1.82390000e+04   9.73730000e+04   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   4.29000000e+03   1.45344000e+05]
 [  0.00000000e+00   2.53530000e+04   3.17350000e+04   2.54530000e+04]
 [  8.70000000e+02   1.31000000e+02   1.59390000e+04   3.69000000e+02]
 [  1.90000000e+02   0.00000000e+00   4.22000000e+02   0.00000000e+00]
 [  1.30200000e+04   4.04070000e+04   1.49759000e+05   1.71166000e+05]]

iteration 2 : n_sub_s_2darr
 [[ 142177.  159337.  178779.  320925.]]

iteration 3 : n_sub_s_2darr
 [[  9651.  15639.   1588.  10409.]
 [     0.      0.   8325.  12060.]
 [ 23377.  31445.  11468.  20451.]
 [   347.    643.      0.      0.]
 [ 33375.  47727.  21381.  42920.]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  30162.  27507.]
 [ 10302.   9902.      0.      0.]
 [ 10302.   9902.  30162.  27507.]]

iteration 5 : n_sub_s_2darr
 [[ 43677.  57629.  51543.  70427.]]

iteration 6 : n_sub_s_2darr
 [[  98500.  101708.  127236.  250498.]]

iteration 7 : n_sub_s_2darr
 [[  2.66753000e+05   2.66753000e+05   2.66753000e+05   2.66753000e+05]
 [ -1.62620000e+04  -1.62620000e+04  -1.62620000e+04  -1.62620000e+04]
 [  6.57400000e+03   1.23040000e+04   0.00000000e+00   0.00000000e+00]
 [  6.23640000e+04   6.25620000e+04   0.00000000e+00   0.00000000e+00]
 [ -2.21219000e+05  -2.23847000e+05   3.49000000e+04   3.50980000e+04]
 [  9.82100000e+04   1.01510000e+05  -1.58155000e+05  -3.50910000e+04]
 [  2.90000000e+02   1.98000000e+02   1.27236000e+05   2.50498000e+05]
 [  9.85000000e+04   1.01708000e+05   1.27236000e+05   2.50498000e+05]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,16,4,0,Cash and cash equivalents,94738.0,99668.0,88362.0,0.0
1,16,4,1,Trade receivables,7570.0,9782.0,245.0,14923.0
2,16,4,2,Current assets: Amounts due from subsidiaries,0.0,0.0,43979.0,0.0
3,16,4,3,Inventories,25052.0,1361.0,5153.0,28879.0
4,16,4,4,Other current assets,1797.0,88.0,633.0,1320.0
5,16,4,5,Current assets,129157.0,19688.0,138372.0,139649.0
6,16,4,6,Available-for-sale financial assets,11960.0,18239.0,97373.0,0.0
7,16,4,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,4290.0,145344.0
8,16,4,8,Investments in subsidiaries,0.0,25353.0,31735.0,25453.0
9,16,4,9,Property and equipment,870.0,131.0,15939.0,369.0
10,16,4,10,Other non-current assets,190.0,0.0,422.0,0.0
11,16,4,11,Non-current assets,13020.0,40407.0,149759.0,171166.0
12,16,4,12,Total assets,142177.0,159337.0,178779.0,320925.0
13,16,4,13,Trade payables,9651.0,15639.0,1588.0,10409.0
14,16,4,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,8325.0,12060.0
15,16,4,15,Accrued liabilities and provisions,23377.0,31445.0,11468.0,20451.0
16,16,4,16,Current income tax liabilities,347.0,643.0,0.0,0.0
17,16,4,17,Current liabilities,33375.0,47727.0,21381.0,42920.0
18,16,4,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,30162.0,27507.0
19,16,4,19,Deferred income tax liabilities,10302.0,9902.0,0.0,0.0
20,16,4,20,Non-current liabilities,10302.0,9902.0,30162.0,27507.0
21,16,4,21,Total liabilities,43677.0,57629.0,51543.0,70427.0
22,16,4,22,Total equity,98500.0,101708.0,127236.0,250498.0
23,16,4,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,16,4,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,16,4,25,Fair value reserve,6574.0,12304.0,0.0,0.0
26,16,4,26,Other reserves,62364.0,62562.0,0.0,0.0
27,16,4,27,Accumulated losses,-221219.0,-223847.0,34900.0,35098.0
28,16,4,28,Equity excluding non-controlling interests,98210.0,101510.0,-158155.0,-35091.0
29,16,4,29,Non-controlling interests,290.0,198.0,127236.0,250498.0
30,16,4,30,Total equity_,98500.0,101708.0,127236.0,250498.0

 Q4FY17_Earnings_Release.pdf

nl:

0 75282.0
1 5850.0
2 0
3 20413.0
4 1422.0
5 102967.0
6 94738.0
7 7570.0
8 0
9 25052.0
10 1797.0
11 129157.0
12 69892.0
13 193.0
14 36277.0
15 2489.0
16 597.0
17 109448.0
18 88362.0
19 245.0
20 43979.0
21 5153.0
22 633.0
23 138372.0
24 9622.0
25 0
26 0
27 866.0
28 186.0
29 10674.0
30 11960.0
31 0
32 0
33 870.0
34 190.0
35 13020.0
36 0
37 21323.0
38 14665.0
39 143.0
40 0
41 36131.0
42 0
43 14923.0
44 25353.0
45 131.0
46 0
47 40407.0
48 113641.0
49 142177.0
50 145579.0
51 178779.0
52 9300.0
53 0
54 19477.0
55 5.0
56 28782.0
57 9651.0
58 0
59 23377.0
60 347.0
61 33375.0
62 417.0
63 9272.0
64 10169.0
65 0
66 19858.0
67 1588.0
68 8325.0
69 11468.0
70 0
71 21381.0
72 0
73 10426.0
74 10426.0
75 0
76 10302.0
77 10302.0
78 19105.0
79 0
80 19105.0
81 30162.0
82 0
83 30162.0
84 39208.0
85 43677.0
86 38963.0
87 51543.0
88 74433.0
89 98500.0
90 106616.0
91 127236.0
92 266753.0
93 -16262.0
94 5416.0
95 62315.0
96 -244112.0
97 74110.0
98 323.0
99 74433.0
100 266753.0
101 -16262.0
102 6574.0
103 62364.0
104 -221219.0
105 98210.0
106 290.0
107 98500.0
108 266753.0
109 -16262.0
110 0
111 0
112 34851.0
113 -178726.0
114 106616.0
115 106616.0
116 266753.0
117 -16262.0
118 0
119 0
120 34900.0
121 -158155.0
122 127236.0
123 127236.0
124 4.0
# of numbers catched: 125
# of rows catched: 31.25
First number catched: 75282.0
# of items catched:  31
0 	 Cash and cash equivalents
1 	 Trade receivables
2 	 Current assets: Amounts due from subsidiaries
3 	 Inventories
4 	 Other current assets
5 	 Current assets
6 	 Available-for-sale financial assets
7 	 Non-current assets: Amounts due from subsidiaries
8 	 Investments in subsidiaries
9 	 Property and equipment
10 	 Other non-current assets
11 	 Non-current assets
12 	 Total assets
13 	 Trade payables
14 	 Current liabilities: Amounts due to subsidiaries
15 	 Accrued liabilities and provisions
16 	 Current income tax liabilities
17 	 Current liabilities
18 	 Non-current liabilities: Amounts due to subsidiaries
19 	 Deferred income tax liabilities
20 	 Non-current liabilities
21 	 Total liabilities
22 	 Total equity
23 	 Share capital
24 	 Treasury shares
25 	 Fair value reserve
26 	 Other reserves
27 	 Accumulated losses
28 	 Equity excluding non-controlling interests
29 	 Non-controlling interests
30 	 Total equity_
cat_item_list: ['Current assets', 'Non-current assets', 'Total assets', 'Current liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity', 'Total equity_', 'Total liabilities and equity']
cat_index_list: [24, 48, 52, 72, 84, 88, 92, 124]

iteration 0 : n_sub_s_2darr
 [[  75282.   94738.   69892.   88362.]
 [   5850.    7570.     193.     245.]
 [      0.       0.   36277.   43979.]
 [  20413.   25052.    2489.    5153.]
 [   1422.    1797.     597.     633.]
 [ 102967.  129157.  109448.  138372.]]

iteration 1 : n_sub_s_2darr
 [[  9622.  11960.      0.      0.]
 [     0.      0.  21323.  14923.]
 [     0.      0.  14665.  25353.]
 [   866.    870.    143.    131.]
 [   186.    190.      0.      0.]
 [ 10674.  13020.  36131.  40407.]]

iteration 2 : n_sub_s_2darr
 [[ 113641.  142177.  145579.  178779.]]

iteration 3 : n_sub_s_2darr
 [[  9.30000000e+03   9.65100000e+03   4.17000000e+02   1.58800000e+03]
 [  0.00000000e+00   0.00000000e+00   9.27200000e+03   8.32500000e+03]
 [  1.94770000e+04   2.33770000e+04   1.01690000e+04   1.14680000e+04]
 [  5.00000000e+00   3.47000000e+02   0.00000000e+00   0.00000000e+00]
 [  2.87820000e+04   3.33750000e+04   1.98580000e+04   2.13810000e+04]]

iteration 4 : n_sub_s_2darr
 [[     0.      0.  19105.  30162.]
 [ 10426.  10302.      0.      0.]
 [ 10426.  10302.  19105.  30162.]]

iteration 5 : n_sub_s_2darr
 [[ 39208.  43677.  38963.  51543.]]

iteration 6 : n_sub_s_2darr
 [[  74433.   98500.  106616.  127236.]]

iteration 7 : n_sub_s_2darr
 [[ 266753.  266753.  266753.  266753.]
 [ -16262.  -16262.  -16262.  -16262.]
 [   5416.    6574.       0.       0.]
 [  62315.   62364.       0.       0.]
 [-244112. -221219.   34851.   34900.]
 [  74110.   98210. -178726. -158155.]
 [    323.     290.  106616.  127236.]
 [  74433.   98500.  106616.  127236.]]

df.shape[0]: 31

,Fiscal Year,Quarter,Item Num,Item Name,Quarterly,Quarterly Prev,Company,Company Prev
0,17,4,0,Cash and cash equivalents,75282.0,94738.0,69892.0,88362.0
1,17,4,1,Trade receivables,5850.0,7570.0,193.0,245.0
2,17,4,2,Current assets: Amounts due from subsidiaries,0.0,0.0,36277.0,43979.0
3,17,4,3,Inventories,20413.0,25052.0,2489.0,5153.0
4,17,4,4,Other current assets,1422.0,1797.0,597.0,633.0
5,17,4,5,Current assets,102967.0,129157.0,109448.0,138372.0
6,17,4,6,Available-for-sale financial assets,9622.0,11960.0,0.0,0.0
7,17,4,7,Non-current assets: Amounts due from subsidiaries,0.0,0.0,21323.0,14923.0
8,17,4,8,Investments in subsidiaries,0.0,0.0,14665.0,25353.0
9,17,4,9,Property and equipment,866.0,870.0,143.0,131.0
10,17,4,10,Other non-current assets,186.0,190.0,0.0,0.0
11,17,4,11,Non-current assets,10674.0,13020.0,36131.0,40407.0
12,17,4,12,Total assets,113641.0,142177.0,145579.0,178779.0
13,17,4,13,Trade payables,9300.0,9651.0,417.0,1588.0
14,17,4,14,Current liabilities: Amounts due to subsidiaries,0.0,0.0,9272.0,8325.0
15,17,4,15,Accrued liabilities and provisions,19477.0,23377.0,10169.0,11468.0
16,17,4,16,Current income tax liabilities,5.0,347.0,0.0,0.0
17,17,4,17,Current liabilities,28782.0,33375.0,19858.0,21381.0
18,17,4,18,Non-current liabilities: Amounts due to subsid...,0.0,0.0,19105.0,30162.0
19,17,4,19,Deferred income tax liabilities,10426.0,10302.0,0.0,0.0
20,17,4,20,Non-current liabilities,10426.0,10302.0,19105.0,30162.0
21,17,4,21,Total liabilities,39208.0,43677.0,38963.0,51543.0
22,17,4,22,Total equity,74433.0,98500.0,106616.0,127236.0
23,17,4,23,Share capital,266753.0,266753.0,266753.0,266753.0
24,17,4,24,Treasury shares,-16262.0,-16262.0,-16262.0,-16262.0
25,17,4,25,Fair value reserve,5416.0,6574.0,0.0,0.0
26,17,4,26,Other reserves,62315.0,62364.0,0.0,0.0
27,17,4,27,Accumulated losses,-244112.0,-221219.0,34851.0,34900.0
28,17,4,28,Equity excluding non-controlling interests,74110.0,98210.0,-178726.0,-158155.0
29,17,4,29,Non-controlling interests,323.0,290.0,106616.0,127236.0
30,17,4,30,Total equity_,74433.0,98500.0,106616.0,127236.0

Extracted data in long (stacked) format:

                                                                  Fiscal Year  \
FYQ  Item Num Item Name
10Q1 0        Cash and cash equivalents                                    10
     1        Trade receivables                                            10
     2        Current assets: Amounts due from subsidiaries                10
     3        Inventories                                                  10
     5        Other current assets                                         10
     6        Current assets                                               10
     7        Available-for-sale financial assets                          10
     8        Other non-current receivables                                10
     9        Non-current assets: Amounts due from subsidiaries            10
     10       Investments in associated companies                          10
     11       Investments in subsidiaries                                  10
     12       Property and equipment                                       10
     13       Intangible assets                                            10
     14       Other non-current assets                                     10
     15       Non-current assets                                           10
     16       Total assets                                                 10
     17       Trade payables                                               10
     18       Current liabilities: Amounts due to subsidiaries             10
     19       Accrued liabilities and provisions                           10
     20       Current income tax liabilities                               10
...                                                                       ...
17Q4 15       Non-current assets                                           17
     16       Total assets                                                 17
     17       Trade payables                                               17
     18       Current liabilities: Amounts due to subsidiaries             17
     19       Accrued liabilities and provisions                           17
     20       Current income tax liabilities                               17
     21       Current liabilities                                          17
     22       Non-current liabilities: Amounts due to subsidi...           17
     23       Deferred income tax liabilities                              17
     24       Non-current liabilities                                      17
     25       Total liabilities                                            17
     33       Total equity                                                 17
     27       Share capital                                                17
     28       Treasury shares                                              17
     29       Fair value reserve                                           17
     30       Other reserves                                               17
     27       Accumulated losses                                           17
     32       Equity excluding non-controlling interests                   17
     33       Non-controlling interests                                    17
     34       Total equity_                                                17

                                                                  Quarter  \
FYQ  Item Num Item Name
10Q1 0        Cash and cash equivalents                                 1
     1        Trade receivables                                         1
     2        Current assets: Amounts due from subsidiaries             1
     3        Inventories                                               1
     5        Other current assets                                      1
     6        Current assets                                            1
     7        Available-for-sale financial assets                       1
     8        Other non-current receivables                             1
     9        Non-current assets: Amounts due from subsidiaries         1
     10       Investments in associated companies                       1
     11       Investments in subsidiaries                               1
     12       Property and equipment                                    1
     13       Intangible assets                                         1
     14       Other non-current assets                                  1
     15       Non-current assets                                        1
     16       Total assets                                              1
     17       Trade payables                                            1
     18       Current liabilities: Amounts due to subsidiaries          1
     19       Accrued liabilities and provisions                        1
     20       Current income tax liabilities                            1
...                                                                   ...
17Q4 15       Non-current assets                                        4
     16       Total assets                                              4
     17       Trade payables                                            4
     18       Current liabilities: Amounts due to subsidiaries          4
     19       Accrued liabilities and provisions                        4
     20       Current income tax liabilities                            4
     21       Current liabilities                                       4
     22       Non-current liabilities: Amounts due to subsidi...        4
     23       Deferred income tax liabilities                           4
     24       Non-current liabilities                                   4
     25       Total liabilities                                         4
     33       Total equity                                              4
     27       Share capital                                             4
     28       Treasury shares                                           4
     29       Fair value reserve                                        4
     30       Other reserves                                            4
     27       Accumulated losses                                        4
     32       Equity excluding non-controlling interests                4
     33       Non-controlling interests                                 4
     34       Total equity_                                             4

                                                                  Quarterly
FYQ  Item Num Item Name
10Q1 0        Cash and cash equivalents                            253066.0
     1        Trade receivables                                     40247.0
     2        Current assets: Amounts due from subsidiaries             0.0
     3        Inventories                                           40702.0
     5        Other current assets                                  20571.0
     6        Current assets                                       354586.0
     7        Available-for-sale financial assets                   31609.0
     8        Other non-current receivables                          1296.0
     9        Non-current assets: Amounts due from subsidiaries         0.0
     10       Investments in associated companies                       0.0
     11       Investments in subsidiaries                               0.0
     12       Property and equipment                                33341.0
     13       Intangible assets                                      6628.0
     14       Other non-current assets                              29578.0
     15       Non-current assets                                   102452.0
     16       Total assets                                         457038.0
     17       Trade payables                                        32635.0
     18       Current liabilities: Amounts due to subsidiaries          0.0
     19       Accrued liabilities and provisions                    67184.0
     20       Current income tax liabilities                         2185.0
...                                                                     ...
17Q4 15       Non-current assets                                    10674.0
     16       Total assets                                         113641.0
     17       Trade payables                                         9300.0
     18       Current liabilities: Amounts due to subsidiaries          0.0
     19       Accrued liabilities and provisions                    19477.0
     20       Current income tax liabilities                            5.0
     21       Current liabilities                                   28782.0
     22       Non-current liabilities: Amounts due to subsidi...        0.0
     23       Deferred income tax liabilities                       10426.0
     24       Non-current liabilities                               10426.0
     25       Total liabilities                                     39208.0
     33       Total equity                                          74433.0
     27       Share capital                                        266753.0
     28       Treasury shares                                      -16262.0
     29       Fair value reserve                                     5416.0
     30       Other reserves                                        62315.0
     27       Accumulated losses                                  -244112.0
     32       Equity excluding non-controlling interests            74110.0
     33       Non-controlling interests                               323.0
     34       Total equity_                                         74433.0

[1133 rows x 3 columns]

Duplicated:

array([], dtype=float64)

In [9]:

wide_df['Net working capital'] = wide_df[['Current assets', 'Current liabilities']].apply(lambda x: (x[0] - x[1]), axis=1)
### Calculate ratios
wide_df['Current ratio'] = wide_df[['Current liabilities', 'Current assets']].apply(lambda x: (x[1] / x[0]), axis=1)
wide_df['Quick ratio'] = wide_df[['Current liabilities', 'Current assets', 'Inventories']].apply(lambda x: ((x[1] - x[2]) / x[0]), axis=1)
wide_df['Cash ratio'] = wide_df[['Cash and cash equivalents', 'Current liabilities']].apply(lambda x: (x[0] / x[1]), axis=1)
wide_df['NWC to assets ratio'] = wide_df[['Total assets', 'Net working capital']].apply(lambda x: (x[1] / x[0]), axis=1)

wide_df['Debt ratio'] = wide_df[['Total assets', 'Total liabilities']].apply(lambda x: (x[1] / x[0]), axis=1)
wide_df['Debt to equity ratio'] = wide_df[['Total liabilities', 'Total equity']].apply(lambda x: (x[0] / x[1]), axis=1)
wide_df['Equity multiplier'] = wide_df[['Debt to equity ratio']].apply(lambda x: (1 + x[0]), axis=1)
wide_df['Long-term debt ratio'] = wide_df[['Non-current liabilities', 'Total equity']].apply(lambda x: (x[0] / x[1]), axis=1)

### Just for checking the calculation is correct
wide_df['Assets less liabilities less equity 0 check']\
= wide_df[['Total assets', 'Total liabilities', 'Total equity']].apply(lambda x: (x[0] - x[1] - x[2]), axis=1)
wide_df['Assets less current assets less non-current assets 0 check']\
= wide_df[['Total assets', 'Current assets', 'Non-current assets']].apply(lambda x: (x[0] - x[1] - x[2]), axis=1)
wide_df['Liabilities less current liabilities less non-current liabilities 0 check']\
= wide_df[['Total liabilities', 'Current liabilities', 'Non-current liabilities']].apply(lambda x: (x[0] - x[1] - x[2]), axis=1)

wide_df['Fiscal Year'] = wide_df.index.str[0:2]
wide_df.loc[:,'Quarter'] = wide_df.index.str[3:4]

wide_df.to_csv('BS.csv')

BS_ratios_df = wide_df[['Fiscal Year', 'Quarter', 'Cash and cash equivalents', 'Trade receivables', 'Inventories'
                    , 'Other current assets', 'Current assets', 'Available-for-sale financial assets'
                    , 'Property and equipment', 'Other non-current assets', 'Non-current assets', 'Total assets'
                    , 'Trade payables', 'Current income tax liabilities', 'Current liabilities'
                    , 'Deferred income tax liabilities', 'Non-current liabilities', 'Total liabilities', 'Total equity'
                    , 'Net working capital'
                    , 'Current ratio', 'Quick ratio', 'Cash ratio', 'NWC to assets ratio'
                    , 'Debt ratio', 'Debt to equity ratio', 'Equity multiplier', 'Long-term debt ratio' ]]
#display(BS_ratios_df)
BS_ratios_df.to_csv('BS_Ratios.csv')

In [10]:
merged_df = pd.merge(IS_ratios_df, BS_ratios_df, on = ['FYQ', 'Fiscal Year', 'Quarter'])

In [11]:
### Calculate ratios
merged_df['Days interval measure'] = merged_df[['Cost of goods sold', 'Total expenses', 'Current assets']]\
.apply(lambda x: (x[2] / ((- x[0] - x[1]) / (365/4))), axis=1)

merged_df['Inventory turnover'] = merged_df[['Cost of goods sold', 'Inventories']].apply(lambda x: ( - x[0] / x[1]), axis=1)
merged_df['Days sales in inventory'] = merged_df[['Inventory turnover']].apply(lambda x: ((365/4) / x[0]), axis=1)

merged_df['Receivables turnover'] = merged_df[['Sales', 'Trade receivables']].apply(lambda x: (x[0] / x[1]), axis=1)
merged_df['Days sales in receivable'] = merged_df[['Receivables turnover']].apply(lambda x: ((365/4) / x[0]), axis=1)

merged_df['Total asset turnover'] = merged_df[['Sales', 'Total assets']].apply(lambda x: (x[0] / x[1]), axis=1)
merged_df['Net working capital turnover']\
       = merged_df[['Sales', 'Net working capital']].apply(lambda x: (x[0] / x[1]), axis=1)
#merged_df['Fixed asset turnover'] = merged_df[['Sales', 'Propoerty and equipment', 'Depreciation]].apply(lambda x: (x[0] / (x[1] - x[2])), axis=1)

merged_df['Return on assets'] = merged_df[['Net profit', 'Total assets']].apply(lambda x: (x[0] / x[1]), axis=1)
merged_df['Return on equity'] = merged_df[['Net profit', 'Total equity']].apply(lambda x: (x[0] / x[1]), axis=1)
merged_df['Return on capital employed'] \
= merged_df[['EBIT', 'Total equity', 'Non-current liabilities']].apply(lambda x: (x[0] / (x[1] + x[2])), axis=1)
merged_df['Capital employed turnover'] \
= merged_df[['Sales', 'Total equity', 'Non-current liabilities']].apply(lambda x: (x[0] / (x[1] + x[2])), axis=1)

## Stock price data

In [12]:
price_df = pd.read_csv('C76.SI.csv', parse_dates=[0])
#price_df

In [13]:
#price_q_df = price_df.set_index('Date').groupby(pd.TimeGrouper('Q')).last().reset_index()
price_q_df = price_df.set_index('Date').groupby(pd.TimeGrouper('Q')).mean().reset_index()
#price_q_df

C:\Users\U\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)

In [14]:
def increment_month_last_day(date_series, number_months_to_add_series):  
    return pd.Series((date_series.values.astype("M8[M]")   
                + (number_months_to_add_series + 1) * np.timedelta64(1, "M")  
                ).astype("M8[D]") - np.timedelta64(1, "D"))
def fyq(date_series):
    s = increment_month_last_day(date_series, 6)
    return (s.dt.strftime('%y') + 'Q' + (s.dt.strftime('%m').astype(int)//3).astype(str))

In [15]:
price_q_df['FYQ'] = fyq(price_q_df['Date'])
price_q_df['Price'] = price_q_df['Close']
#price_q_df

In [16]:
merged3_df = pd.merge(merged_df, price_q_df[['FYQ', 'Price']], on = ['FYQ'])
merged3_df

,FYQ,Fiscal Year,Quarter,Sales,Cost of goods sold,Gross profit,Total expenses,EBIT,Profit before income tax,Income tax expense,...,Days sales in inventory,Receivables turnover,Days sales in receivable,Total asset turnover,Net working capital turnover,Return on assets,Return on equity,Return on capital employed,Capital employed turnover,Price
0,10Q1,10,1,72059.0,-54230.0,17829.0,-29456.0,-848.0,-877.0,-166.0,...,68.487138,1.790419,50.965719,0.157665,0.285300,-0.002282,-0.003204,-0.002389,0.202969,5.329385
1,10Q2,10,2,80713.0,-60174.0,20539.0,-42534.0,-35136.0,-35137.0,-351.0,...,55.918565,1.930841,47.259209,0.181386,0.331954,-0.079752,-0.111494,-0.101609,0.233412,5.979508
2,10Q3,10,3,63291.0,-46948.0,16343.0,-45666.0,-47449.0,-47483.0,-115.0,...,68.260629,2.027713,45.001442,0.149299,0.275617,-0.112281,-0.155396,-0.142146,0.189605,5.721148
3,10Q4,10,4,59244.0,-45020.0,14224.0,-33683.0,-15199.0,-15222.0,1258.0,...,93.479565,2.042967,44.665430,0.147171,0.271064,-0.034689,-0.048189,-0.048875,0.190509,4.668095
4,11Q1,11,1,57227.0,-43192.0,14035.0,-30792.0,-3478.0,-3498.0,-116.0,...,96.442918,1.772502,51.480901,0.143538,0.261487,-0.009065,-0.012367,-0.011096,0.182581,4.053750
5,11Q2,11,2,69289.0,-51529.0,17760.0,-31524.0,-11182.0,-11203.0,351.0,...,84.779323,2.205602,41.371917,0.178036,0.339456,-0.027884,-0.038954,-0.037300,0.231127,4.185469
6,11Q3,11,3,57154.0,-43427.0,13727.0,-33245.0,-12709.0,-12729.0,-247.0,...,101.119465,1.876609,48.624943,0.155655,0.295899,-0.035339,-0.049774,-0.045083,0.202746,3.742903
7,11Q4,11,4,47355.0,-43816.0,3539.0,-32396.0,-24462.0,-24473.0,4772.0,...,91.818542,1.721499,53.006124,0.138463,0.270421,-0.057604,-0.081402,-0.094112,0.182188,3.296452
8,12Q1,12,1,50356.0,-41450.0,8906.0,-26221.0,-29455.0,-29466.0,-101.0,...,84.189958,1.714072,53.235811,0.164064,0.335271,-0.096332,-0.143489,-0.131519,0.224844,2.736875
9,12Q2,12,2,59547.0,-47429.0,12118.0,-21336.0,-33777.0,-33787.0,-77.0,...,62.008212,1.943250,46.957424,0.215943,0.459269,-0.122806,-0.198914,-0.179525,0.316494,2.504839
10,12Q3,12,3,44886.0,-34297.0,10589.0,-20325.0,-1445.0,-1456.0,-27.0,...,72.120411,2.025999,45.039517,0.171350,0.338726,-0.005661,-0.008619,-0.007607,0.236281,3.135161
11,12Q4,12,4,36994.0,-31761.0,5233.0,-18277.0,-18864.0,-18875.0,-107.0,...,79.933173,1.963484,46.473516,0.157902,0.289321,-0.081021,-0.127885,-0.113412,0.222411,3.717143
12,13Q1,13,1,35736.0,-27531.0,8205.0,-17368.0,-4387.0,-4387.0,-91.0,...,104.298972,1.896715,48.109504,0.157393,0.287052,-0.019723,-0.031150,-0.027138,0.221061,3.307619
13,13Q2,13,2,65553.0,-34633.0,30920.0,-18526.0,38181.0,38181.0,-59.0,...,65.136791,2.892767,31.544189,0.249763,0.406914,0.145248,0.210986,0.192263,0.330097,3.129683
14,13Q3,13,3,33831.0,-25252.0,8579.0,-15952.0,-10422.0,-10422.0,-11.0,...,82.646078,1.997225,45.688385,0.136632,0.223001,-0.042135,-0.061104,-0.055247,0.179338,2.993167
15,13Q4,13,4,30222.0,-24202.0,6020.0,-15249.0,-9211.0,-9211.0,2662.0,...,95.589672,2.052010,44.468599,0.127408,0.205763,-0.027609,-0.040166,-0.051674,0.169547,2.576508
16,14Q1,14,1,30402.0,-21977.0,8425.0,-15391.0,-5511.0,-5511.0,-36.0,...,127.032523,1.640071,55.637828,0.130410,0.211859,-0.023794,-0.035196,-0.031892,0.175933,2.294063
17,14Q2,14,2,37789.0,-26368.0,11421.0,-15102.0,-4066.0,-4066.0,-12.0,...,100.202660,2.102543,43.399832,0.171745,0.282043,-0.018534,-0.027627,-0.024974,0.232106,2.186508
18,14Q3,14,3,25093.0,-19486.0,5607.0,-14993.0,-8749.0,-8749.0,-9.0,...,143.590206,1.753897,52.027010,0.120755,0.200182,-0.042146,-0.063100,-0.056813,0.162945,2.147581
19,14Q4,14,4,23048.0,-18419.0,4629.0,-14095.0,-7919.0,-7919.0,4530.0,...,143.283159,2.182782,41.804441,0.118690,0.195325,-0.017452,-0.025017,-0.054177,0.157680,2.305000
20,15Q1,15,1,24294.0,-17529.0,6765.0,-13092.0,-9843.0,-9843.0,-25.0,...,148.184295,2.067926,44.126327,0.129070,0.226292,-0.052427,-0.076055,-0.070082,0.172973,2.212923
21,15Q2,15,2,31302.0,-22037.0,9265.0,-13830.0,-9155.0,-9155.0,-23.0,...,104.425909,2.245803,40.631349,0.179457,0.312327,-0.052618,-0.077066,-0.070534,0.241165,1.971984
22,15Q3,15,3,22729.0,-16219.0,6510.0,-13653.0,-11705.0,-11705.0,18.0,...,156.676121,2.099289,43.467102,0.142918,0.252110,-0.073487,-0.110887,-0.100820,0.195774,1.629508
23,15Q4,15,4,21157.0,-15237.0,5920.0,-15220.0,-3420.0,-3420.0,762.0,...,172.948005,2.162850,42.189701,0.132781,0.230163,-0.016682,-0.026134,-0.030642,0.189562,1.393790
24,16Q1,16,1,22511.0,-16749.0,5762.0,-17889.0,-13875.0,-13875.0,-38.0,...,153.603349,1.954080,46.697170,0.163530,0.288288,-0.101070,-0.163761,-0.146267,0.237305,1.107258
25,16Q2,16,2,26502.0,-19435.0,7067.0,-13402.0,17039.0,17039.0,-5027.0,...,127.430731,2.514660,36.287214,0.183599,0.292717,0.083216,0.128607,0.164942,0.256546,1.091953
26,16Q3,16,3,18459.0,-13224.0,5235.0,-11437.0,7257.0,7257.0,-3180.0,...,173.743478,2.329505,39.171407,0.127274,0.194418,0.028111,0.042395,0.068160,0.173373,1.100082
27,16Q4,16,4,17102.0,-12197.0,4905.0,-9354.0,264.0,264.0,272.0,...,187.422727,2.259181,40.390744,0.120287,0.178551,0.003770,0.005442,0.002426,0.157185,1.045078
28,17Q1,17,1,17252.0,-12419.0,4833.0,-11223.0,-6161.0,-6161.0,-40.0,...,182.882076,2.128563,42.869305,0.129451,0.192112,-0.046530,-0.067711,-0.060471,0.169331,0.991667
29,17Q2,17,2,22153.0,-15943.0,6210.0,-10470.0,-6328.0,-6328.0,-190.0,...,134.193533,2.296124,39.740893,0.175693,0.265178,-0.051694,-0.076945,-0.066602,0.233160,0.964453
30,17Q3,17,3,16007.0,-11528.0,4479.0,-9804.0,-4574.0,-4574.0,-16.0,...,173.072628,2.270496,40.189448,0.135755,0.204981,-0.038928,-0.057201,-0.050516,0.176785,1.058492
31,17Q4,17,4,14483.0,-10410.0,4073.0,-11038.0,-5798.0,-5798.0,234.0,...,178.932397,2.475726,36.857868,0.127445,0.195228,-0.048961,-0.074752,-0.068325,0.170671,1.009754
32,18Q1,18,1,16107.0,-11630.0,4477.0,-13897.0,22844.0,22844.0,-11.0,...,168.392734,1.873125,48.715388,0.118827,0.165460,0.168447,0.233834,0.211378,0.149040,1.149206
33,18Q2,18,2,20856.0,-15009.0,5847.0,-10562.0,-4207.0,-4207.0,-21.0,...,113.118629,2.659865,34.306255,0.131548,0.224133,-0.026668,-0.044819,-0.040158,0.199084,1.143413
34,18Q3,18,3,15021.0,-10796.0,4225.0,-9424.0,-3747.0,-3747.0,-14.0,...,145.699102,2.350704,38.818155,0.099152,0.168229,-0.024826,-0.041700,-0.037240,0.149289,3.082097

In [17]:
### Calculate ratios
merged3_df['EPS'] = merged3_df[['Net profit']].apply(lambda x: (x[0] / 70330000), axis=1) ## of shares outstanding = 70.33M

merged3_df['PE ratio'] = merged3_df[['Price', 'EPS']]\
.apply(lambda x: (x[0] / x[1] ), axis=1)

In [18]:
merged3_df.to_csv('ISBS_Ratios.csv')

In [19]:
merged3_df.columns

Index(['FYQ', 'Fiscal Year', 'Quarter', 'Sales', 'Cost of goods sold',
       'Gross profit', 'Total expenses', 'EBIT', 'Profit before income tax',
       'Income tax expense', 'Net profit', 'Gross profit margin',
       'EBIT margin', 'Profit before income tax margin', 'Net profit margin',
       'Reciprocal of times interest earned', 'Reciprocal of cash coverage',
       'Cash and cash equivalents', 'Trade receivables', 'Inventories',
       'Other current assets', 'Current assets',
       'Available-for-sale financial assets', 'Property and equipment',
       'Other non-current assets', 'Non-current assets', 'Total assets',
       'Trade payables', 'Current income tax liabilities',
       'Current liabilities', 'Deferred income tax liabilities',
       'Non-current liabilities', 'Total liabilities', 'Total equity',
       'Net working capital', 'Current ratio', 'Quick ratio', 'Cash ratio',
       'NWC to assets ratio', 'Debt ratio', 'Debt to equity ratio',
       'Equity multiplier', 'Long-term debt ratio', 'Days interval measure',
       'Inventory turnover', 'Days sales in inventory', 'Receivables turnover',
       'Days sales in receivable', 'Total asset turnover',
       'Net working capital turnover', 'Return on assets', 'Return on equity',
       'Return on capital employed', 'Capital employed turnover', 'Price',
       'EPS', 'PE ratio'],
      dtype='object')

In [20]:
ratios_df = merged3_df[['FYQ', 'Fiscal Year', 'Quarter', 
       'Reciprocal of times interest earned', 'Reciprocal of cash coverage'
       , 'Debt ratio', 'Debt to equity ratio', 'Equity multiplier', 'Long-term debt ratio',
        'Current ratio', 'Quick ratio', 'Cash ratio', 'NWC to assets ratio', 
         'Inventory turnover',
         'Receivables turnover',
         'Total asset turnover',
       'Net working capital turnover', 'Return on assets', 'Return on equity', 
        'Return on capital employed', 'Capital employed turnover',
    'PE ratio']]

In [21]:
ratios_df.to_csv('Ratios.csv')

In [22]:
days_df = merged3_df[['FYQ', 'Fiscal Year', 'Quarter', 
       'Days interval measure', 
       'Days sales in inventory', 
       'Days sales in receivable']]

In [23]:
days_df.to_csv('Days.csv')

BS_df = merged3_df[['FYQ', 'Fiscal Year', 'Quarter', 
       'Cash and cash equivalents', 'Trade receivables', 'Inventories',
       'Other current assets', 'Current assets',
       'Available-for-sale financial assets', 'Property and equipment',
       'Other non-current assets', 'Non-current assets', 'Total assets',
       'Trade payables', 'Current income tax liabilities',
       'Current liabilities', 'Deferred income tax liabilities',
       'Non-current liabilities', 'Total liabilities', 'Total equity',
       'Net working capital']]

BS_df = merged3_df[['FYQ', 'Fiscal Year', 'Quarter', 
       'Cash and cash equivalents', 'Trade receivables', 'Inventories',
       'Other current assets', 'Current assets',
       'Available-for-sale financial assets', 'Property and equipment',
       'Other non-current assets', 'Non-current assets', 'Total assets',
       'Trade payables', 'Accrued liabilities and provisions', 'Current income tax liabilities',
       'Current liabilities', 'Deferred income tax liabilities',
       'Non-current liabilities', 'Total liabilities', 'Total equity',
       'Net working capital']]

BS_df.to_csv('BS.csv')

In [24]:
market_df = merged3_df[['FYQ', 'Fiscal Year', 'Quarter', 
       'Price', 'EPS', 'PE ratio']]

In [25]:
market_df.to_csv('market.csv')